#custom_doc { 
	width:61.54em;
	*width:60.06em;
	min-width:800px; 
	margin:auto; 
	text-align:left; 
}

#bd {
}

#adblasterweb-index table,#potential-poll table{
	border: solid 1px;
	margin: 0px auto;
}

#adblasterweb-index table tr td,#potential-poll table tr td{
	margin: 0px auto;
	padding: 10px;
	background: #0077AA;
}

#side{
	position:absolute; 
	top:120px; 
	left:30px;
}

td #main-cell{
	width: 800px;
	align: center;
}
 
#skin-table{
	width: 800px;
	align: center;
}

#log-console-button{
	background: #444444; 
	position: fixed; 
	top: 10px;
	left: 10px; 
	z-index:99; 
	height: auto;
}

#index-page #forums_block{
	height:500px;
}

#index-page #bottom_right_block{
	width: 66%;
}

#index-page #devindex{
	margin-bottom: 1.0em;
}

#bd div.cell {
	margin-bottom: 1.0em;
}

#bd div.cell3 {
	width: 32%;
	margin-bottom: 1.0em;
}
/*
p{
	border: solid red 1px;
	padding: 0.5em;
}

h1 {
	border: solid blue 1px;
	padding: 0.5em;
	margin: 0em;
}
*/
/*
div {
	height: 100%;
}
*/
#top_bar{
	height: 100px;
}
#top_bar div{
	height: 86px;
}
.row_display{
	display: inline;
	float: left;
}

#index-page #users{
	width:67%; 
	float:left; 
	display:inline;
}

#index-page #users_spotlight{
	width: 32%; 
	float:left; 
	display: inline;
}

.user_summary_block{
	text-align:center;
	width: 100px; 
	height:100px; 
	margin:2px; 
}

.blog_cell {
	height: 100px;
	width: 40%;
	float:left; 
	padding:10px; 
	margin:8px; 
	height: 100px;
}

#blog_container{
	height:450px;
	display: inline;
	text-align:center;
}

.nospace       { border-spacing:0px; width:100%; }
.nospace .left { border-left-width : 10px !important; }
.nospace .top  { border-top-width  : 10px !important; }


.nospace .pad, 
.nospace .left,
.nospace .top {
    padding              : .4em;
	vertical-align       : top;
	text-align           : left;
	border-width         : 0px;
	border-style         : solid; 
	border-color         : transparent;	
	-moz-background-clip : padding;              /* Firefox */
	_border-color        : tomato;               /* IE */
	_filter              : chroma(color=tomato); /* IE */
}

/********************
 ** Sidebar Begins ** 
 ********************/
.sidebar_title {
	font-weight : bold;
}

.sidebar_hr {		
	overflow   : hidden;
	height     : 12px;
}
.sidebar_imgLink {
	cursor : pointer;		
	cursor : hand;
}		
/********************
 ** Sidebar Ends   ** 
 ********************/

/********************
 ** Profile Begins ** 
 ********************/ 

.space_horizontal_in  { height:10px; }
.space_horizontal_out { margin-top  : 8px; }
.space_vertical_out   { margin-left : 8px; }
.space_in {
	margin-top    :  8px;
	margin-bottom :  8px;
	margin-left   : 10px;
	margin-right  : 10px;
}
/********************
 ** Profile Ends   ** 
 ********************/

/************************
 ** Preferences Begins ** 
 ************************/

.preferences, .preferences table{
	width            : 50%; 
	background-color : #DEDFE1; 
	color            : black; 
	font-size        : 11; 
	font-family      : Arial;
}

.preferences .main_title {
	font-size        : 16; 
 	background-color : #DEDFE1;
	text-align       : center;
	font-weight      : bold;
}
.preferences .title {
 	background-color : #0E3F41;
 	color            : white;
	text-align       : left;
	margin-top       : 10px;
	padding          : 4px;
	padding-left     : 8px;
	clear            : both;
}
.preferences table.descr {
	font-weight      : bold;
 	background-color : #DEDFE1;
	text-align       : left;
	border-style     : solid;
	border-width     : 3px;
	border-top-color : transparent;		
	padding          : 4px;
	padding-left     : 8px;
	overflow         : auto;
	width            : 100%;		
}
.preferences td.left   { width : 55%; }
.preferences td.right  { width : 45%; }

.preferences td.first  { width : 55%; }	
.preferences td.second { width : 30%; }
.preferences td.third  { width : 15%; vertical-align: middle; }		

.preferences input.small   { width :  50px; }
.preferences input.medium  { width : 150px; }	
.preferences select.medium { width : 180px; }

.preferences .centerButton { text-align:center; margin-top:10px; }

/************************
 ** Preferences Ends   ** 
 ************************/

table#menu {
	border:	solid 1px;
	margin:0;
	padding:0px;
	border-collapse: no;
	z-index:2;
}

table#menu tr td.nex_header_table {
	border: solid 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.big, .big2, .big3 {
	line-height  : 73%;
	position     : absolute;
}
.big {
	font-size    : 38pt;
	left         : 10px;
	top          : 10px;
}
.big2 {
	font-size    : 39pt;
    left         : 0px;
    top          : 0px;
}
.big3 {
	font-size    : 40pt;
    left         : 0px;
    top          : 0px;
}

.semitrans {
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	}
	
.opaque {
	z-index: -99;
	filter:alpha(opacity=100);
	opacity: 1;
	-moz-opacity:1;
}

.test_main
{
	
	overflow:hidden;
	position:relative;
	
	filter:Alpha(opacity=70);
	_position:static;
}

html>body .test_main
{
	
	overflow:visible;
	position:relative;
	
	background:transparent;	
	visibility: hidden;
	z-index: 0;
}
/*
h1{clear:both;}
*/
.test_bd{
	zoom:1;
	position:relative;
	
}

.test_bd img{
	float:left;
	margin:0 12px 12px 0;
	width:12em;
	height:8em;
}

.test_ft{

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	opacity:0.7;

	*position:static;
	*opacity:1;
	_background:transparent !important;
}

.console_branch{
	border: 1px solid;
	position: relative;
	left: 10px;
	display: none;
}
.console_leaf{
	border: 1px solid;
	position: relative;
	left: 10px;
}

#hd
{
	margin-bottom: 0.6154em;
	*margin-bottom: 0.6028em;
}
