/*  Skin Name:  Schematic
    Google Search:  GALT:#7C7C7C;GL:1;DIV:#FFFFFF;VLC:7C7C7C;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:5C9664;LC:5C9664;T:323237;GFNT:7C7C7C;GIMP:7C7C7C;FORID:1
*/

table {text-align: left;}
tr {vertical-align: top;}

body         { background: #f7f7f7; font-family: arial, sans-serif; font-size: 8pt; margin: 0; }

a       		{ color: #d1d3d4; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt }
a:hover			{ color: #598241; }

td.footer		{ color:#d4d6d7; text-decoration:none; font: 6pt arial, sans-serif;}

td.side					                { background-color: #fff; color: #323237; font-family: arial, sans-serif; font-size: 8pt; }
td.side a   	                 	{ color: #323237; text-decoration:none; }
td.side a:hover	            		{ color: #d4d6d7; }
td.side input, select, textarea { font-family: arial, sans-serif; font-size: 8pt; border:1px solid #d4d6d7; margin: 1 0 0 0;}

td.border		{ background-color:#fff; }

td.sideheader		{ color:#000; font-family: arial, sans-serif; font-size: 8pt; padding-bottom:3px; }

td.header		{ background-color: #c6c6c6; color: #000; font-family: arial, sans-serif; font-size: 8pt}
a.header  	{ color: #000; text-decoration:none;  }
a.header:hover	{ color: #dddddd; }

td.headerfront	{ color:#000; background: #fff url(http://static.nexopia.com/1/files/Legacy/skins/schematic/fronthead.png); height:30px; padding-bottom:8px; }


td.header2			{ color: #000; font-family: arial, sans-serif; font-size: 8pt}
a.header2     	{ color: #000000; text-decoration:none; }
a.header2:hover, a.header2:active		{ color: #ddd; }

td.body			{ background-color: #fff; color: #323237; font-family: arial, sans-serif; font-size: 8pt}
td.body2		{ background-color: #e1e1e1; color: #000; font-family: arial, sans-serif; font-size: 8pt}
a.body { color: #7c7c7c; }
a.body:hover	{ color: #4F4F4F; }
body input, select, textarea	{ font-family: arial, sans-serif; font-size: 8pt; color: #000; border:1px solid #d4d6d7;}
body textarea { font-size: 9pt; }

td.menu				{ color: #000; font-family: arial, sans-serif; font-size: 9pt;}
td.menu a			{ color: #000; text-decoration:none; font-family: arial, sans-serif; font-size: 9pt;}
td.menu a:hover		{ color: #dddddd; }

td.forumlst							{ color: #fff; font: 8pt arial, sans-serif;}
a.forumlst:link,a.forumlst:visited 	{ color: #9F9F9F; text-decoration:none; font: 8pt arial, sans-serif; }
a.forumlst:hover,a.forumlst:active 	{ color: #555555; text-decoration:none; font: 8pt arial, sans-serif; }

td.forumlst1 { background-color:#D6E3EE; color: #0353A2; text-decoration:none; font: 8pt arial, sans-serif;}
a.forumlst1:link,a.forumlst1:visited { color: #0353A2; text-decoration:none; font: 8pt arial, sans-serif; }
a.forumlst1:hover,a.forumlst1:active { color: #81939a; text-decoration:none; font: 8pt arial, sans-serif; }

td.forumlst0 { background-color:#D6E3EE; color: #0353A2; text-decoration:none; font: 8pt arial, sans-serif;}
a.forumlst0:link,a.forumlst0:visited { color: #000; text-decoration:none; font: 8pt arial, sans-serif; }
a.forumlst0:hover,a.forumlst0:active { color: #81939a; text-decoration:none; font: 8pt arial, sans-serif; }

a.forumlst2:link,a.forumlst2:visited { color: #bc1212; text-decoration:none; font: 8pt arial, sans-serif; }
a.forumlst2:hover,a.forumlst2:active { color: #516068; text-decoration:none; font: 8pt arial, sans-serif; }

td.small  		{ background-color: #e2e0e0; color: #000; font-family: arial, sans-serif; font-size: 8pt}
a.small     	{ color: #000; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt; font-weight: bold }
a.small:hover	{ color: #ddd; }

td.msg		  	{ background-color:#d7dff2; font-family: arial, sans-serif; font-size: 8pt}
a.msg       	{ color: #000; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt }
a.msg:hover		{ color: #3A3A3A; }

td.online		{ color: #00AA00; font-family: arial, sans-serif; font-size: 16pt; font-weight: bold}
td.offline		{ color: #BF0E00; font-family: arial, sans-serif; font-size: 16pt; font-weight: bold}
