#friends_albums_mockup {
	width: 738px;
	background-color: @primary_block_background_color;
	padding: 6px 6px 12px 6px;
	margin: 0px auto 0px auto;
	color: @primary_block_text_color;
	
	& br.clear {
		clear: both;
	}
	
	& .user_thumbnail {
		float: left;
		margin-right: 6px;
	}
	
	& .gallery_header {
		float: left;
	
		& div.username {
			font-size: 16px;
			font-weight: bold;
			color: @primary_block_header_text_color;
			margin: 0px;
		}
		
		& .gallery_tabs {
			border-bottom: 1px solid @secondary_block_background_color;
			padding-top: 6px;
			padding-bottom: 2px;
			width: 682px;
			
			& a {
				border-right: 1px solid @secondary_block_background_color;
				border-top: 1px solid @secondary_block_background_color;
				padding: 2px 15px 2px 15px;
				text-decoration: none;
			}
				
			& a.first_tab {
				border-left: 1px solid @secondary_block_background_color;
			}
			
			& .selected {
				border-bottom: 1px solid @primary_block_background_color;
				font-weight: bold;
			}

		}
	
	}
	
	& .album_container {
		background-color: @secondary_block_background_color;
		color: @secondary_block_text_color;
		padding: 6px;
		margin-top: 6px;
		
		& .album_thumbnail {
			float: left;
			margin-right: 6px;
		}
		
		& .album_info {
			float: left;
			width: 370px;
			
			& a {
				font-weight: bold;
			}
			
			& .date_author,
			.date_author a {
				font-size: 10px;
			}
			
			& .description {
				margin-top: 6px;
			}
			
		}
		
		& .preview_thumbs {
			float: right;
			margin-top: 25px;
			width: 234px;
			text-align: right;
			height: 75px;
			
			& .thumbnail {
				margin-left: 3px;
			}
			
		}
		
	}
	
}