#login_mockup {
	width: 726px;
	padding: 18px 12px 12px 12px;
	margin: 0px auto 0px auto;
	background-color: $primary_background_color;
	color: $primary_text_color;
	
	& * {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
	}
	
	& br.clear {
		clear: both;
	}
	
	& .join_now {
		font-weight: bold;
		font-size: 15px;
		padding-bottom: 24px;
		color: $subdued_text_color;
		
		& a {
			font-size: 15px;
			text-decoration: underline;
		}
	}
	
	& .header {
		font-weight: bold;
		color: $header_background_color;
		font-size: 18px;
		padding-bottom: 12px;
	}
	
	& .left_column {
		float: left;
		
		& td {
			padding-bottom: 6px;
		}
		
		& .label {
			font-weight: bold;
			width: 102px;
		}
		
		& .login_btn {
			padding-top: 18px;
			
			& .custom_button button {
				font-size: 18px;
				text-decoration: underline;
				padding: 4px 35px 6px 35px;
			}
		}
		
		& .extra_space {
			padding-top: 40px;
		}
		
		& .lost_password td {
			vertical-align: middle;
			
			& input {
				float: left;
				margin-top: 2px;
			}
			
			& div {
				float: left;
				margin-left: 12px;
			}
		}
	}
	
}