<div class="updates" id="observable_prefs" align="center">
	<t:template-include name="settings_menu" module="observations"/>
	<h2>Friends Update Preferences</h2>
	<form class="basic_form" method="post" action="/my/updates/preferences/set" style="display: inline;">
		<div>
			Select the updates you would like to see:
			<ul>
				<li t:id="observables" t:iter="observable">
					<input type="checkbox" name="observable[{observable.typeid}]" cond:checked="preferences[observable]"/>
					<label>{observable.observable_name}</label>
				</li>
				<li>
					<input type="submit" value="Update"/>
				</li>
			</ul>
		</div>
	</form>
	<div>
	<div class="table_description">The following rules allow you to override your default options for specific people and updates.</div>
		<table class="data_table">
			<tr>
				<th>
					Friend
				</th>
				<th>
					Update Type
				</th>
				<th>
					Action
				</th>
				<th>
					Functions
				</th>
			</tr>
			<tr t:id="rules" t:iter="rule">
				<td>
					<a t:id="rule.eventuser"></a>
				</td>
				<td>
					{rule.observable_class.observable_name}
				</td>
				<td>
					{rule.action}
				</td>
				<td>
					<form method="post" action="/my/updates/preferences/delete">
						<input type="hidden" name="friend" value="{rule.eventuser.userid}"/>
						<input type="hidden" name="observable" value="{rule.observable_class.typeid}"/>
						<input type="submit" value="Delete Rule"/>
					</form>
				</td>
			</tr>
		<form method="post" action="/my/updates/preferences/add">
			<tr>
				<td nowrap="nowrap">
					When 
					<select name="friend">
						<option t:id="friends" t:iter="friend" value="{friend.user.userid}">
							{friend.user.username}
						</option>
					</select> 
					has a(n)
				</td>
				<td nowrap="nowrap">
					<select name="observable">
						<option t:id="observables" t:iter="observable" value="{observable.typeid}">
							{observable.observable_name}
						</option>
					</select> 
					update,
				</td>
				<td nowrap="nowrap">
					always 
					<select name="display">
						<option value="true">
							display
						</option>
						<option value="false">
							block
						</option>
					</select> it.
				</td>
				<td>
					<input type="submit" value="Add Rule"/>
				</td>
			</tr>
		</form>
	</table>
	</div>
</div>