<div class="current_status" id="current_status" t:docid="status_update">
	<form method='post' action="/my/status/update" id="script_form">
		<table id="status_table">
			<tr t:id="current_status" t:iter="status" id="row_{status.type}">
				<td id="prefix_{status.type}" class="status_prefix">{status.prefix}</td>
				<td id="cell_{status.type}" class="status_text" name="status_text">
					<span class="span_message script" id="span_{status.type}" name="span_message">
						<t:if t:id="status.message.empty?">
							<span class="minor">Click to update</span>
						</t:if>
						@{status.message}
					</span>
					<input class="text noscript" id="text_{status.type}" name="{status.type}" type="text" value="{status.message}"/>
				</td>
				<td>
					<img src="#{$site.static_files_url}/Observations/spinner.gif" class="status_spinner" id="spinner_{status.type}"/>
					<span id="delete_{status.type}" name="delete_status" class="delete script">
						<t:if t:id="!status.message.empty?">
							<a href="/my/status/delete" id="delete_link_{status.type}" class="status_delete_link body">
								X
							</a>
						</t:if>
						<t:if t:id="status.message.empty?">
							X
						</t:if>
					</span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="buttons">
					<input class="noscript" type="submit" name="submit" id="script_submit" value="Update Status"/>
					<input class="cancel" type="button" id="script_cancel" value="Cancel"/>
				</td>
				<td></td>
			</tr>
		</table>
	</form>

</div>