<div class="updates" style="text-align: left;">
	<h1>MyNex</h1>
	<div class="updates_body">
		<h3>{user.username}'s</h3>&#160;Status
		<div style="float: left;" >
			<img style="width: 130px" t:id="user"/>
		</div>
		<div style="width: 100%">	
			<t:handler-include path="/status" area="Self"/>
		</div>
		<div class="clearit">
		</div>
		<div class="spacer">
		</div>
		<hr/>
		<div>
			<div style="float: left">
				<ul class="updates_menu">
					<t:loop t:iter="type" t:id="types" t:index="index">
						<t:if t:id="index!=0">
							<li>&#160;|&#160;</li>
						</t:if>
						<li class="{type.css_class}">
						<a href="#{type.symbol}">{type.name.capitalize}</a>
						</li>
					</t:loop>
				</ul>
			</div>
			<div style="float: right">
				<a href="/my/updates/preferences">Settings</a>
			</div>
			<div class="clearit">
			</div>
		</div>
		
		<br/>
		<div class="clearit">
		</div>
	  	#{page_content}
	</div>
</div>
