<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<div class="title">
		Messaging
	</div>
	
	<table class="descr">
		<tr>
			<td class="left">  Forward Private Messages to Email </td>
		    <td class="right"> <input id="fwmsgs" name="fwmsgs" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Ignore Messages From Users Outside your Age Range </td>
		    <td class="right"> <input id="ignorebyagemsgs" name="ignorebyagemsgs" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Only Accept Messages From Friends </td>
		    <td class="right"> <input id="onlyfriendsmsgs" name="onlyfriendsmsgs" type="checkbox" /> </td>
		</tr>
	</table>
	
</span>	