<div id="edit_group_block" style="position: relative">

	<script>
		#{client_validation}
	</script>
	<t:if t:id="selected_group.created?">
		<div class="groups_subtitle">Edit Connection</div>
	</t:if>
	<t:if t:id="!selected_group.created?">
		<div class="groups_subtitle">Create New Connection</div>
	</t:if>
	
	<div class="edit_form">
		<table border="0" cellspacing="0" cellpadding="2">
			<tr>
				<td><span class="title">Type:</span></td>
				<td>
					<t:if t:id="selected_group.created?">
						{selected_group.group_type_name}
					</t:if>
					<t:if t:id="!selected_group.created?">
						<t:handler-include path="/groups/type/{type}" area="Public">
							<t:var t:name="'onchange_handler'" t:val="'EditGroups.onTypeChange()'" />
						</t:handler-include>
					</t:if>
				</td>
				<td style="width:25px">
					<t:if t:id="!selected_group.created?">
						#{type_vi}
					</t:if>
				</td>
			</tr>
			<tr>
				<td><span class="title">Location:</span></td>
				<td>
					<t:if t:id="selected_group.created?">
						{selected_group.group_location_name}
					</t:if>
					<t:if t:id="!selected_group.created?">
						<t:handler-include path="/current/selector/location/#{location || selected_group.group_location}" area="Skeleton">
							<t:var t:name="'onchange_handler'" t:val="'EditGroups.onLocationChange()'" />
						</t:handler-include>
					</t:if>
				</td>
				<td style="width:25px">
					<t:if t:id="!selected_group.created?">
						#{location_vi}
					</t:if>
				</td>
			</tr>
			<tr>
				<td><span class="title">Name:</span></td>
				<td>
					<t:if t:id="selected_group.created?">
						{selected_group.group_name}
					</t:if>
					<t:if t:id="!selected_group.created?">
						<div class="yui-skin-nexopia">
							<div id="autocomplete" class="yui-ac">
								<input class="yui-ac-input" type="text" name="name" id="name" value="{name}" maxlength="100" onblur="EditGroups.validateName()"/>
								<div id="name_container" style="width: 100%; height: 0px"></div>
							</div>
						</div>
					</t:if>
				</td>
				<td style="width:25px">
					<t:if t:id="!selected_group.created?">
						#{name_vi}
					</t:if>
				</td>
			</tr>
			<tr>
				<td style="height: 5px" colspan="3"><div><!-- Empty Comment to satisfy IE --></div></td>
			</tr>
			<tr>
				<td><span class="title">Privacy:</span></td>
				<td>
					<t:handler-include path="/groups/visibility/#{visbility || selected_group.visibility!.value}" area="Public">
						<t:var t:name="'field'" t:val="'visibility'" />
					</t:handler-include>
				</td>
			</tr>
			<tr class="row_spacer"></tr>
			<tr>
				<td><span class="title">From:</span></td>
				<td>
					<t:handler-include 
						path="/current/date/date/#{from_month || selected_group.frommonth}/1/#{from_year || selected_group.fromyear}" area="Skeleton">
						<t:var t:name="'month_ref'" t:val="'from_month'" />
						<t:var t:name="'year_ref'" t:val="'from_year'" />
						<t:var t:name="'hide_days'" t:val="true" />
						<t:var t:name="'min_year'" t:val="Time.now.year-60" />
						<t:var t:name="'max_year'" t:val="Time.now.year--5" />
						<t:var t:name="'month_onchange_handler'" t:val="'EditGroups.onFromDateChange()'" />
						<t:var t:name="'year_onchange_handler'" t:val="'EditGroups.onFromDateChange()'" />
					</t:handler-include>
				</td>
				<td style="width:25px">
					#{from_vi}
				</td>
			</tr>
			<tr>
				<td><span class="title">To:</span></td>
				<td>
					<div>
						<div style="float: left">
							<t:handler-include 
								path="/current/date/date/#{to_month || selected_group.tomonth}/1/#{to_year || selected_group.toyear}" area="Skeleton">
								<t:var t:name="'month_ref'" t:val="'to_month'" />
								<t:var t:name="'year_ref'" t:val="'to_year'" />
								<t:var t:name="'hide_days'" t:val="true" />
								<t:var t:name="'min_year'" t:val="Time.now.year-60" />
								<t:var t:name="'max_year'" t:val="Time.now.year--5" />
								<t:var t:name="'month_onchange_handler'" t:val="'EditGroups.onToDateChange()'" />
								<t:var t:name="'year_onchange_handler'" t:val="'EditGroups.onToDateChange()'" />
							</t:handler-include>
						</div>
						<div style="float:left; margin-left: 6px; margin-right: 6px">
							<t:if t:id="present"/>
							<input style="vertical-align: middle" type="checkbox" class="checkbox" id="present" name="present" 
								cond:checked="present || (present.nil? && !selected_group.nil? && selected_group.toyear == -1 && selected_group.tomonth == -1)" 
								onclick="EditGroups.onPresentChange()">Present</input>
						</div>
					</div>
				</td>
				<td style="width:25px">
					#{to_vi}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>			
					<t:if t:id="selected_group.created?">
						<input type="hidden" id="name" name="name" value="{selected_group.group_name}" />
						<input type="hidden" id="type" name="type" value="{selected_group.group_type}" />
						<input type="hidden" id="location" name="location" value="{selected_group.group_location}" />
						<input type="hidden" id="group_id" name="group_id" value="{selected_group.groupid}" />
					</t:if>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="edit_button_bar">
		<t:if t:id="selected_group.created?">
			<input type="submit" class="submit" value="Save" id="group_update_button" 
				onclick="GroupsProfileBlock.updateSubmit({selected_group.groupid}); return false;" style="float: left" />
			<input type="submit" class="submit" value="Cancel" id="group_cancel_button" 		
				onclick="GroupsProfileBlock.cancelSubmit({selected_group.groupid}); return false;" style="float: left"/>
		</t:if>
		<t:if t:id="!selected_group.created?">
			<input type="submit" class="submit" value="Save" id="group_create_button" onclick="GroupsProfileBlock.createSubmit(); return false;"
				style="float: left"/>
			<input type="submit" class="submit" value="Cancel" id="group_cancel_button" onclick="GroupsProfileBlock.cancelSubmit(); return false;" 
				style="float: left"/>
		</t:if>
		
		<div style="width: 6px; float: left">&#160;</div>
		
		<div class="edit_group_operation_spinner"><img class="script" id="edit_gallery_spinner" style="display: block"
			src="#{$site.static_files_url}/Legacy/images/spinner.gif"/></div>
		<div class="clearit"/>
		<input type="hidden" name="edit_form_key" value="{edit_form_key}" />
	</div>

</div>