<div>
	<!--[if IE]><script type="text/javascript" src="{$site.static_files_url}/userpics/film_strip/js/excanvas-compressed.js"></script><![endif]-->
	<!-- 	Done with extras -->
	<t:if t:id="edit_mode">
		<div class="block_title 4margin">
			PROFILE PICTURES
		</div>
	</t:if>
	
	<div id="film_strip" minion_name="userpics:film_strip">
		
		<div id="film_strip_images_wrapper">
			<div id="film_strip_images" class="{pics.length <= 1 ? 'no_scrolling' : ''}">
				<t:if t:id="pics.length > 1">
					<img t:id="pics.last" alt="" t:linktype="landscape" dest_link="#{pics.last.gallery_pic.uri_info[1]}" t:loading="{$site.static_files_url}/userpics/film_strip/images/blank.gif" img_link="#{pics.last.img_info(:full)[1]}" />
				</t:if>
				<t:loop t:id="pics" t:iter="pic" t:index="index">
					<img t:id="pic" t:delay="index >= 3" alt="" t:linktype="landscape" dest_link="#{pic.gallery_pic.uri_info[1]}" t:loading="{$site.static_files_url}/userpics/film_strip/images/blank.gif" img_link="#{pic.img_info(:full)[1]}" />
				</t:loop>
				<t:if t:id="pics.length > 1">
					<img t:id="pics.first" alt="" t:linktype="landscape" dest_link="#{pics.first.gallery_pic.uri_info[1]}" t:loading="{$site.static_files_url}/userpics/film_strip/images/blank.gif" img_link="#{pics.first.img_info(:full)[1]}" />
				</t:if>
				<t:if t:id="pics.empty?">
					<img class="film_strip_no_picture" src="{$site.static_files_url}/userpics/film_strip/images/user_has_no_image.png" />
				</t:if>
			</div>
		</div>
		
		<canvas id="film_strip_overlay" width="510" height="240"></canvas>
		<img id="film_strip_gradient" src="{$site.static_files_url}/userpics/film_strip/images/gradient.png" />
		
		<div id="film_strip_comments_wrapper">
			<div id="film_strip_comments">
				<p t:id="pics.length > 1">{pics.last.description}</p>
				<t:images t:id="pics" t:iter="pic">
					<p>{pic.description}</p>
				</t:images>
				<p t:id="pics.length > 1">{pics.first.description}</p>
				<t:if t:id="pics.empty?">
					<p>User has no profile pictures.</p>
				</t:if>
			</div>
		</div>
		
		<img id="film_strip_image_loading" src="{$site.static_files_url}/userpics/film_strip/images/loading.gif" style="display: none;" />
		<div id="film_strip_page"></div>
		<div id="film_strip_actions">
			<img id="film_strip_gallery_zoom" src="#{$site.colored_img_url('FFFFFF')/:userpics/:film_strip/:images/'go_to_gallery.gif'}" style="display: none;" />
			<img id="film_strip_close_zoom" src="#{$site.colored_img_url('FFFFFF')/:userpics/:film_strip/:images/'close.gif'}" style="display: none;" />
			<img id="film_strip_zoom" class="color_icon" src="#{$site.colored_img_url('AAA')/:userpics/:film_strip/:images/'zoom.gif'}"/>
			<img id="film_strip_go_to_gallery" class="color_icon" src="#{$site.colored_img_url('AAA')/:userpics/:film_strip/:images/'go_to_gallery.gif'}"/>
		</div>
		<div id="film_strip_handle"></div>
	</div>
	<img id="image_not_found_image" src="{$site.static_files_url}/userpics/film_strip/images/image_not_found_image.png" style="display: none;" />
</div>
