<table>
	<t:for t:id="queue_items" t:iter="item" t:index="index">
		<tr>
			<td class="body" style="background-color: {item.user_color}; color: rgb(0,0,0);" align="right" valign="top">
				<img t:id="item.gallery_pic"/>
			</td>
			<td class="body" style="background-color: {item.user_color}; color: rgb(0,0,0);" valign="top">
				<a name="item{index}"/>
				<t:if t:id="item.show_username?">
					<div><a class="body" t:id="item.user" target="_new"/></div>
					<div>Age: <b>{item.user.age}</b></div>
				</t:if>
				<div>Sex: <b>{item.user.sex}</b></div><br/>
				<input name="check[{item.id}]" id="checkidy{item.id}" value="y" onfocus="this.checked=true;setTimeout('jump({index+1})',50);" type="radio"/>
					<label for="checkidy{item.id}" class="side">
						<b>Accept</b>
					</label><br/>
				<input name="check[{item.id}]" id="checkidn{item.id}" value="n" onfocus="this.checked=true;setTimeout('jump({index+1})',50);" type="radio"/>
					<label for="checkidn{item.id}" class="side">
						<b>Deny</b>
					</label>

				<br/><br/>
				{item.gallery_pic.description}					<br/><br/>
				{item.age} hours
			</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</t:for>
</table>