<div id="todo_edit_div" t:docid="edit_todo">
	<form id="todo_edit_form" class="edit_form">
			<b>Name:</b>&#160;<input type="text" name="name" id="name" value="{record.name}"/><br/><br/>
			<b>Description:</b><br/>
			<textarea name="description" id="description">{record.description}</textarea><br/><br/>
			<b>Time to Completion:</b>&#160;<input type="text" name="ttc" id="ttc" value="{record.calc_ttc}" cond:disabled="record.ttc != record.calc_ttc" value="{record.calc_ttc}"/><br/><br/>
			<b>Cumulative Time:</b>&#160;{record.cumulative_time}&#160;days<br/><br/>

			<b>State:</b>&#160;
			<select id="state" name="state">
				<option value="0" cond:selected="record.state == :new">New</option>
				<option value="1" cond:selected="record.state == :in_progress">In Progress</option>
				<option value="2" cond:selected="record.state == :done">Done</option>
				<option value="3" cond:selected="record.state == :cancelled">Cancelled</option>
			</select><br/><br/>

			<b>Sprint:</b>&#160;
			<t:if t:id="programmer.manager">
				<t:handler-include path="/projectmanager/sprint_selector/{record.projectid}/{record.sprintid}" area="Self" />
			</t:if>
			<t:if t:id="!programmer.manager">
				{record.sprint_name}
			</t:if>
			<br/><br/>

			<b>Todo:</b><br/>
			<t:handler-include path="/projectmanager/related_object_editor" area="Self">
				<t:var t:name="'records'" t:val="record.todos" />
				<t:var t:name="'parent_record'" t:val="record" />
				<t:var t:name="'record_type'" t:val="'Devtopia::Todo'" />
			</t:handler-include>

			<t:template-include name="buttons" module="devtopia" />
	</form>
</div>