<div id="sprint_edit_div" t:docid="edit_sprint">
	<!-- Required CSS -->
	<link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.3.1/build/treeview/assets/skins/sam/treeview.css"/>

  <!-- Dependency source files --> 
  <script src = "http://yui.yahooapis.com/2.3.1/build/yahoo/yahoo-min.js" ></script>
  <script src = "http://yui.yahooapis.com/2.3.1/build/event/event-min.js" ></script>

	<script src = "http://yui.yahooapis.com/2.3.1/build/treeview/treeview-min.js" ></script>
	<t:if t:id="programmer"></t:if>
	<form id="sprint_edit_form" class="edit_form">
			<b>Name:</b>&#160;<input type="text" name="name" id="name" value="{record.name}"/><br/><br/>
			<b>Description:</b><br/>
			<textarea name="description" id="description">{record.description}</textarea><br/><br/>
			
			<b>Start:</b>
			<t:handler-include path="/current/date/date/{record.start_month}/{record.start_day}/{record.start_year}" area="Skeleton">
				<t:var t:name="'day_ref'" t:val="'start_day'" />
				<t:var t:name="'month_ref'" t:val="'start_month'" />
				<t:var t:name="'year_ref'" t:val="'start_year'" />
			</t:handler-include><br/><br/>
			
			<b>End:</b>
			<t:handler-include path="/current/date/date/{record.end_month}/{record.end_day}/{record.end_year}" area="Skeleton">
				<t:var t:name="'day_ref'" t:val="'end_day'" />
				<t:var t:name="'month_ref'" t:val="'end_month'" />
				<t:var t:name="'year_ref'" t:val="'end_year'" />
			</t:handler-include><br/><br/>
			
			<b>Tasks:</b><br/>
			<t:handler-include path="/current/projectmanager/related_object_editor" area="Self">
				<t:var t:name="'programmer'" t:val="programmer" />
				<t:var t:name="'records'" t:val="record.tasks(programmer.filter_programmer)" />
				<t:var t:name="'parent_record'" t:val="record" />
				<t:var t:name="'record_type'" t:val="'Devtopia::Task'" />
				<t:var t:name="'related_add_disable'" t:val="true"/>
				<t:var t:name="'filter_by_programmer'" t:val="true" />
				<t:var t:name="'project_id'" t:val="record.projectid" />
				<t:var t:name="'sprint_id'" t:val="record.id" />
			</t:handler-include>

<!--			<div id="event_tree_div" style="width: 200px; height: 200px"/>-->
			

			<t:template-include name="buttons" module="devtopia" />
	</form>
</div>
