<div class="devtaskman_content_container" t:docid="list_sprints">

	<t:template-include name="navigation" module="devtopia" />

	<a href="{directing_record.edit_link}">Back to #{directing_record.type.to_s.gsub(/.*::(.*)/, '\1')}: {directing_record.name}</a>
	
	<h1>Sprints</h1>

	<div class="summary_panel">
		<t:template-include name="summary_panel" module="devtopia" />
	</div>
	<div class="detail_panel">
		<t:template-include name="edit_sprint" module="devtopia" />
	</div>
	<t:if t:id="programmer"></t:if>
</div>