<div class="devtaskman_content_container" t:docid="product_backlog">

	<t:template-include name="navigation" module="devtopia" />

	<form method="POST" action="/my/projectmanager/products/backlog/update">
		<t:loop t:id="products" t:iter="product">
			<h3><input id="product[{product.id}]" name="product[{product.id}]" 
				onclick="ProductBacklog.updateHierarchy(this)" type="checkbox">{product.name}</input></h3>
			<ul>
				<t:loop t:id="product.unassigned_tasks" t:iter="task">
					<li>
						<input id="task[{task.productid}_{task.id}]" name="task[{task.productid}_{task.id}]" 
							onclick="ProductBacklog.updateHierarchy(this)" type="checkbox">{task.name}</input>
					</li>
					
					<ul>
						<t:loop t:id="task.unassigned_todos" t:iter="todo">
							<li>
								<i><input id="todo[{todo.productid}_{todo.taskid}_{todo.id}]" name="todo[{todo.productid}_{todo.taskid}_{todo.id}]" 
									onclick="ProductBacklog.updateHierarchy(this)" type="checkbox">{todo.name}</input></i>
							</li>
						</t:loop>
					</ul>
				</t:loop>
			</ul>
		</t:loop>
		<select id="sprint" name="sprint">
			<t:loop t:id="sprints" t:iter="sprint">
				<option value="{sprint.projectid}_{sprint.id}">{sprint.name}</option>
			</t:loop>
		</select>
		<input type="submit" value="Add to Sprint"/>
	</form>
</div>