<div id="related_#{record_type.gsub(/.*::(.*)/,'\1').downcase}_records" class="related_objects_div">
	
	<table cellpadding="0" cellspacing="0" class="related_objects_table">
		<t:if t:id="records.length > 0">
			<tr>
				<t:loop t:id="records[0].display_columns" t:iter="column">
					<th><div class="row"><i>{column}</i></div></th>
				</t:loop>
			</tr>
		</t:if>
		<t:loop t:id="records" t:iter="record" t:index="row">
			<tr>
				<t:loop t:id="record.display_columns" t:iter="column">
					<td><div class="row_#{((row % 2 == 0) ? 'even' : 'odd')}"><div class="row">#{record.send(column)}</div></div></td>
				</t:loop>
				
				<t:if t:id="filter_by_programmer">
					<td>
						<div class="row">
							<a href="{record.edit_link}?programmer={programmer.userid}&project_id={project_id}&sprint_id={sprint_id}">[EDIT]</a>
						</div>
					</td>
				</t:if>
				<t:if t:id="!filter_by_programmer">
					<td>
						<div class="row">
							<a href="{record.edit_link}?project_id={project_id}&sprint_id={sprint_id}">[EDIT]</a>
						</div>
					</td>
				</t:if>
				<td><input type="hidden" name="related_record[row]" id="related_record[row]" value="{record.id}"/></td>
			</tr>
		</t:loop>
	</table>
	
	<t:if t:id="!related_add_disable">
		<div style="width: 14px; font-size: 12px; margin-top: 2px" class="button" onclick="ProjectManager.add('#{parent_record.get_primary_key.to_a * %q(-)}', '#{parent_record.type}', '#{record_type}', false)">+</div>
	</t:if>
	<div class="clearit"/>
</div>