.update_list {
	padding:0px;
	width: 100%;
}

ul.updates_menu{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.updates_menu li{
	float: none;
	display: inline;
	margin: 0.1em;
}

ul.update_list{
	background-color: $secondary_background_color;
	border-spacing: 0px;
	margin: 0px;
}

.update_list li{
	list-style: none;
	padding: 0.2em;
	border-bottom: 1em solid $primary_background_color;
}

.update_list li.day_display{
	list-style: none;
	padding: 0.0em;
	background-color: $primary_background_color;
	border-bottom: 0.3em solid $primary_background_color;
}

.update_list img.profile_pic{
	width: 50px;
	vertical-align: middle;
}

div.img_display{
	line-height: 0.5em;
	float: left;
	width: 50px;
	margin: 0.2em;
}

.update_list div.status_left{
	text-align: right; 
	float: left; 
	margin: 0.2em;
}

div.updates_body{
	margin: 3em;
}

.update_list div.right_aligned{
	padding: 0.1em;
	float: right; 
}

.updates div.msg_display{
	padding: 0.5em;
	float: left;
	width: 382px;
}

.updates div.msg_display div.comment_display{
	background-color: $primary_background_color;
	border-style: solid;
	border-width: 10px 0px 0px 10px;
	border-top-color: $secondary_background_color;
	border-left-color: $primary_background_color;
	padding: 5px;
	margin: 5px;
}

.updates div.spacer{
	height: 30px;
}

.updates h1{
	color: $section_header_text_color;
	font-size: 9pt;
	padding-top: 5px;
	padding-bottom: 8px;
	margin: 0px;
	background: $section_header_background_color $section_header_background_image;
}

.updates h2{
	color: $header_text_color;
	font-size: $header_font_size;
	background: $header_background_color;
	text-align: center;
}

.updates h3{
	color: $primary_text_color;
	background-color: $primary_background_color;
	margin: 0.0em;
	padding: 0.0em;
	font-size: 16pt;
	display: inline;
}

input.delete {
	margin: 0;
	padding: 0;
	border: 0;
	color: $link_color;
	background-color: $secondary_background_color;
}

input.delete:hover {
	margin: 0;
	padding: 0;
	border: 0;
	color: $link_accent_color;
	background-color: $secondary_background_color;
	cursor: pointer;
}

.subdued{
	font-size: 4px;
}
