div#observable_prefs{
	text-align:center;
	font-size: $page_font_size;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
div#observable_prefs div{
	font-size: $page_font_size;
}

div#observable_prefs ul{
	text-align: left;
	font-size: $page_font_size;
}

div#observable_prefs li{
	text-align: left;
	font-size: $page_font_size;
}

div#observable_prefs .data_table{
	font-size: $page_font_size;
	margin-left: auto;
	margin-right: auto;
}

div#observable_prefs .table_description {
	text-align: center;
}

div#observable_prefs .menu {
	padding: 0px;
	margin: 3px;
	list-style:none;
}

div#observable_prefs .menu li {
	float: left;
}

div#observable_prefs h2 {
	clear:both;
}

div#observable_prefs .selected {
	font-weight:bold;
}