div.status_sidebar {
	float:right;
	width: 130px;
	font-size: $body_font_size;
	background-color: $a_body_color;
}

div.status_sidebar a {
	color:$a_color;
	text-decoration:$a_text_decoration;
	font-family:$a_font_family;
	font-size:$a_font_size;
}

div.status_sidebar a:hover {
	color:$a_hover_color;
}

div.status_sidebar h1 {
	cursor: pointer;
	color: $a_header_color;
	text-decoration: $a_header_text_decoration;
	font-family: $td_menu_font_family;
	font-size: $td_menu_font_size;
	margin: 1px;
}

div.status_sidebar h1:hover {
	color: $a_header_hover_color;
}

div.status_sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

div.status_sidebar li {
	margin:3px;
	padding:0px;	
}