<div class="profile_main" t:docid="profile_main">
	<link rel="stylesheet" type="text/css" href="{$site.static_files_url}/yui/build/button/assets/skins/sam/button.css"/>
	<link rel="stylesheet" type="text/css" href="{$site.static_files_url}/yui/build/container/assets/container.css"/>
	

	
	<table class="page_container_tbl" cellspacing="0" cellpadding="0">
	<tr>

		<!-- PROFILE HEADER START -->
		<td colspan="2">
	    	<div class="block_container_navigation">
	            <div class="profile_nav_secondary">
	                <a href="profile_skin.html">SKIN</a>&#160;|&#160;<a href="javascript:;" onclick="YAHOO.profile.Blocks.toggleEdit(); return false;">EDIT</a>
	            </div>
	            <div class="profile_navigation">
	                <a href="#" id="current_page">PROFILE</a>&#160;|&#160;<a href="#">GALLERY</a>&#160;|&#160;<a href="#">BLOG</a>&#160;|&#160;<a href="#">COMMENTS</a>&#160;|&#160;<a href="#">FRIENDS</a>
	            </div>
	            <br class="clear" />
	        </div>
        
	    </td>
	    <!-- PROFILE HEADER END -->
    
	</tr><tr>

		<!-- LEFT COLUMN START -->
		<td class="profile_left_column">
	    <div id="ul1">
	    	<!-- PROFILE FUNCTION SECTION START -->
	    	<div class="block_container" id="li1_1">
						
	        	<div class="online_status">
	            	<img border="0" src="{$site.static_files_url}/profile/images/icon_online.gif" width="7" height="7" />
	            </div>
	            <div class="user_page_info">
	                <div class="username" id="h1_1">
	                    alienation;
	                </div>
	                6,748 Hits<br />
	                Plus Member <img class="icon_plus" border="0" src="{$site.static_files_url}/profile/images/icon_plus.gif" width="7" height="7" />
	            </div>
	            <br class="clear" />
            
	            <table border="0" class="profile_function_table" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td><a href="#">ADD AS FRIEND</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" /></a>
	                </td>
	            </tr><tr>
	            	<td><a href="#">SEND MESSAGE</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" /></a>
	                </td>
	            </tr><tr>
	            	<td><a href="#">COMMENT</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </td>
	            </tr><tr>
	            	<td><a href="#">SUBSCRIBE</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_subscribe.gif" width="10" height="8" /></a>
	                </td>
	            </tr>
	            </table>
            
	            <table border="0" class="profile_function_table" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td><a href="#">IGNORE USER</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_ignore_user.gif" width="8" height="8" /></a>
	                </td>
	            </tr><tr>
	                <td><a href="#">REPORT ABUSE</a></td>
	                <td class="profile_function_icon">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_report_abuse.gif" width="8" height="8" /></a>
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- PROFILE FUNCTION SECTION END -->
        
	        <!-- PROFILE FRIENDS SECTION START -->
	    	<div class="block_container" id="li1_2">
						
	        	<div>
	                <div class="view_all">
	                    <a href="#">view all (35)</a>
	                </div>
	                <div class="block_title_6margin" id="h1_2">
	                    FRIENDS
	                </div>
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb01.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">chelsea.rea</a><br />
	                    19, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb02.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">.indignant;;</a><br />
	                    15, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb03.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">orchidgirl</a><br />
	                    21, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb04.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">XxColtorxX</a><br />
	                    17, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb05.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">kcoRB</a><br />
	                    21, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb06.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">LoveKills.</a><br />
	                    18, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb01.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">chelsea.rea</a><br />
	                    19, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb02.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">.indignant;;</a><br />
	                    15, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb03.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">orchidgirl</a><br />
	                    21, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
	            <div class="user_container">
	            	<div class="user_thumb">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb04.jpg" width="52" height="43" /></a>
	                </div>
	                <div class="user_info">
	                	<a href="#">XxColtorxX</a><br />
	                    17, Female
	                </div>
	                <div class="user_functions">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_add_friend.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_send_msg.gif" width="10" height="8" class="icon_padding" /></a><br />
	                    <a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_comment.gif" width="10" height="8" /></a>
	                </div>
	                <br class="clear" />
	            </div>
            
	            <table class="scroll_btn_table" border="0" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td class="arrow_btn">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_arrow_up.gif" width="10" height="8" /></a>
	                </td>
	                <td class="arrow_btn_spacer"></td>
	                <td class="arrow_btn">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_arrow_down.gif" width="10" height="8" /></a>
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- PROFILE FRIENDS SECTION END -->
        
	        <!-- GALLERIES SECTION START -->
	    	<div class="block_container_0_6padding"  id="li1_3" style="text-align: left">
						
	        	<div>
	            	<div class="view_all_padding">
	                    <a href="#">view all (15)</a>
	                </div>
	                <div class="block_title_0_6margin"  id="h1_3">
	                    GALLERIES
	                </div>
	            </div>
	            <table border="0" class="gallery_table" cellspacing="2" cellpadding="0">
	            <tr>
	            	<td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album01.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album02.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album03.jpg" width="58" height="58" /></a>
	                </td>
	            </tr><tr>
	            	<td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album04.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album05.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album06.jpg" width="58" height="58" /></a>
	                </td>
	            </tr><tr>
	            	<td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album07.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album08.jpg" width="58" height="58" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_album09.jpg" width="58" height="58" /></a>
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- GALLERIES SECTION END -->
					<div class="column_bottom_marker" id="column_bottom_marker_left" style="height: 10px"></div>
	       </div>
	    </td>
	    <!-- LEFT COLUMN END -->
    
	    <!-- RIGHT COLUMN START -->
	    <td class="profile_right_column">
	    	<div id="ul2">
	        <!-- PROFILE PICTURE START -->
	    	<div class="block_container_0padding" id="li2_1">
	        	<img id="h2_1" border="0" src="{$site.static_files_url}/profile/images/profile_user_picture.jpg" width="404" height="183" alt="Profile picture" />
	        </div>
	        <!-- PROFILE PICTURE END -->
        
	        <!-- VITALS SECTION START -->
	    	<div class="block_container" id="li2_2">
						
	        	<div class="block_title_4margin" id="h2_2">
	            	VITALS
	            </div>
	            <table border="0" cellspacing="0" cellpadding="0" class="stat_table">
	            <tr>
	            	<td class="vitals_name">
	                	Username: 
	                </td>
	                <td>
	                	alienation;
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Real Name: 
	                </td>
	                <td>
	                	Britney Spears
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Age: 
	                </td>
	                <td>
	                	22
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Date of Birth: 
	                </td>
	                <td>
	                	April 10, 1985
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Sex: 
	                </td>
	                <td>
	                	Female
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Location: 
	                </td>
	                <td>
	                	Canada > Alberta > Edmonton > St. Albert
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Weight: 
	                </td>
	                <td>
	                	51 Kg - 55 Kg (111 lbs - 120 lbs)
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Height: 
	                </td>
	                <td>
	                	164 cm - 168 cm (5'5" - 5'6")
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Sexual Orientation: 
	                </td>
	                <td>
	                	Heterosexual
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Dating Situation: 
	                </td>
	                <td>
	                	Long term
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Living Situation: 
	                </td>
	                <td>
	                	Living with significant other
	                </td>
	            </tr>
	            </table>
            
	            <hr />
            
	            <table border="0" cellspacing="0" cellpadding="0" class="stat_table">
	            <tr>
	            	<td class="vitals_name">
	                	MSN: 
	                </td>
	                <td>
	                	madsheeponahill@hotmail.com
	                </td>
	            </tr>
	            </table>
            
	            <hr />
            
	            <table border="0" cellspacing="0" cellpadding="0" class="stat_table">
	            <tr>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Join Date: 
	                </td>
	                <td>
	                	Aug 13, 2006 9:20:24 pm
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Profile Update Time: 
	                </td>
	                <td>
	                	Nov 22, 2007 2:40:28 pm
	                </td>
	            </tr><tr>
	            	<td class="vitals_name">
	                	Active Time: 
	                </td>
	                <td>
	                	User is online
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- VITALS SECTION END -->
        
	        <!-- ACTIVITY SECTION START -->
	    	<div class="block_container" id="li2_3" style="position:relative; text-align: left">
	        	
						<div class="block_title_0margin" id="h2_3">
	            	ACTIVITY
	            </div><br/>
	            <table border="0" cellspacing="0" cellpadding="0" class="activity_table">
	            <tr>
	            	<td>
	                	<a href="#">alienation;</a> posted 2 new galleries, <a href="#">Party</a> and <a href="#">Home Town</a>.
	                    <div class="date_time">Aug 27th, 5:44pm</div>
	                </td>
	            </tr><tr>
	            	<td>
	                	<a href="#">alienation;</a> commented on <a href="#">*Kezia's</a> profile.
	                    <div class="date_time">Aug 27th, 3:52pm</div>
	                </td>
	            </tr><tr>
	            	<td>
	                	<a href="#">alienation;</a> commented on <a href="#">Tangerine~'s</a> profile.
	                    <div class="date_time">Aug 27th, 3:17pm</div>
	                </td>
	            </tr><tr>
	            	<td>
	                	<a href="#">alienation;</a> commented on <a href="#">morgan.'s</a> photo.
	                    <div class="date_time">Aug 27th, 2:45pm</div>
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- ACTIVITY SECTION END -->
        
	        <!-- INTERESTS SECTION START -->
	    	<div class="block_container" id="li2_4" style="text-align: left">
						
	        	<div class="block_title_4margin" id="h2_4">
	            	INTERESTS
	            </div>
	            <table border="0" cellspacing="0" cellpadding="0" class="stat_table">
	            <tr>
	            </tr><tr>
	            	<td class="interests_name">
	                	Activities: 
	                </td>
	                <td>
	                	Flailing, Listening to music, Poker, Pool/Billiards, Reading, Shopping, Traveling
	                </td>
	            </tr><tr>
	            	<td class="interests_name">
	                	Movies: 
	                </td>
	                <td>
	                	Action, Anime, Foreign, Independent, Romantic Comedies, Science Fiction, Tearjerkers
	                </td>
	            </tr><tr>
	            	<td class="interests_name">
	                	Sports:
	                </td>
	                <td>
	                	Bowling, Soccer, Swimming
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- INTERESTS SECTION END -->
        
	        <!-- DETAILS SECTION START -->
	    	<div class="block_container" id="li2_5" style="text-align: left">
						
	        	<div class="block_title_6margin" id="h2_5">
	            	OTHER DETAILS ABOUT ME
	            </div>
	            Woot.  I like kitties.  And chocolate.  Occasionally I like salad but only when it's covered in Caesar salad dressing...it's this whole big thing.
	        </div>
	        <!-- DETAILS SECTION END -->
        
	        <!-- ALBUM SECTION START -->
	    	<div class="block_container_0_6padding" id="li2_6" style="text-align: left">
						
	        	<div class="block_title_0_6margin" id="h2_6">
	            	EUROPE PHOTOS
	            </div>
	            <table class="album_table" border="0" cellpadding="0" cellspacing="6">
	            <tr>
	            	<td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_left_arrow.gif" width="7" height="12" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_photo01.jpg" width="94" height="75" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_photo02.jpg" width="94" height="75" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_photo03.jpg" width="94" height="75" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/gallery_photo04.jpg" width="54" height="75" /></a>
	                </td>
	                <td>
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_right_arrow.gif" width="7" height="12" /></a>
	                </td>
	            </tr>
	            </table>
	        </div>
	        <!-- ALBUM SECTION END -->
        
	        <!-- COMMENTS SECTION START -->
	    	<div class="block_container" id="li2_7" style="text-align: left">
						
	        	<div class="view_all">
	                <a href="#">view all (64)</a>
	            </div>
	        	<div class="block_title_6margin" id="h2_7">
	            	COMMENTS
	            </div>
            
	            <form>
	            <table class="comment_write_table" border="0" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td class="comment_user_thumb" rowspan="2">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb02.jpg" width="52" height="43" /></a>
	                </td>
	                <td colspan="2">
	                	<textarea>Post a comment...</textarea>
	                </td>
	            </tr><tr>
	            	<td>
	                	<input type="submit" class="submit" value="post" />
	                </td>
	                <td class="comment_btn_media">
	                	<input type="submit" class="submit" value="media" />
	                </td>
	            </tr>
	            </table>
	            </form>
            
	            <table class="comment_view_table" border="0" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td class="comment_user_thumb" rowspan="3">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb06.jpg" width="52" height="43" /></a>
	                </td>
	                <td class="comment_info">
	                    <div class="comment_delete">
	                    	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_delete_comment.gif" width="9" height="9" /></a>
	                    </div>
	                    <div class="comment_date">
	                    	11:41pm | Nov 14th, '07
	                    </div>
	                	<div class="comment_username">
	                    	LoveKills.
	                    </div>
	                </td>
	            </tr><tr>
	            	<td class="comment_body">
	                	Aenean interdum nulla ut diam. Curabitur porttitor. Aliquam erat volutpat. Nullam laoreet massa placerat nisi. Sed suscipit, leo et egestas.
	                </td>
	            </tr><tr>
	            	<td class="comment_conversation">
	                	<a href="#">Conversation</a>
	                </td>  
	            </tr>
	            </table>
            
	            <table class="comment_view_table" border="0" cellspacing="0" cellpadding="0">
	            <tr>
	            	<td class="comment_user_thumb" rowspan="3">
	                	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/user_thumb01.jpg" width="52" height="43" /></a>
	                </td>
	                <td class="comment_info">
	                    <div class="comment_delete">
	                    	<a href="#"><img border="0" src="{$site.static_files_url}/profile/images/icon_delete_comment.gif" width="9" height="9" /></a>
	                    </div>
	                    <div class="comment_date">
	                    	9:20pm | Nov 14th, '07
	                    </div>
	                	<div class="comment_username">
	                    	chelsea.rea
	                    </div>
	                </td>
	            </tr><tr>
	            	<td class="comment_body">
	                	Suspendisse dolor est, ullamcorper vel, faucibus sit amet, faucibus eget, mauris. Aenean purus nisl.
	                </td>
	            </tr><tr>
	            	<td class="comment_conversation">
	                	<a href="#">Conversation</a>
	                </td>  
	            </tr>
	            </table>
	        </div>
	        <!-- COMMENTS SECTION END -->
					<div class="column_bottom_marker" id="column_bottom_marker_right" style="height: 10px;"></div>
				</div>
        
	    </td>
	    <!-- RIGHT COLUMN END -->
    
	</tr>
	</table>
</div>