<tr>
	<!-- LEFT COLUMN START -->
	<td class="profile_left_column">
		<div id="drag_drop_wrapper_1">
			<t:iter t:id="column_data['0']" t:iter="display_block" t:index="block_index">
				<div class="block_container" id="block0_#{display_block.blockid}">
					<div id="data_#{display_block.blockid}">
						#{display_block.rendered_content.string}
					</div>
				</div>
			</t:iter>
			<div class="column_bottom_marker" id="column_bottom_marker_0"></div>
		</div>
	</td>
	<!-- LEFT COLUMN END -->

	<!-- RIGHT COLUMN START -->
	<td class="profile_right_column">
		<div id="drag_drop_wrapper_2">
			<t:iter t:id="column_data['1']" t:iter="display_block" t:index="block_index">
				<div class="block_container" id="block1_#{display_block.blockid}">
					<div id="data_#{display_block.blockid}">
						#{display_block.rendered_content.string}
					</div>
				</div>
			</t:iter>
			<div class="column_bottom_marker" id="column_bottom_marker_1"></div>
		</div>
	</td>
	<!-- RIGHT COLUMN END -->
</tr>
