<tr>
	<td colspan="2">
		<div class="block_container_navigation">
			<div class="profile_nav_secondary">
				<t:if t:id="owner_view">
					<t:if t:id="PageRequest.current.session.user.plus?">
						<a href="/my/profile/skin_edit">
							SKIN
						</a>
						&#160;|&#160;
					</t:if>
					<a href="/my/profile/edit">
						EDIT
					</a>
				</t:if>
			</div>
			<div class="profile_navigation">
				<a href="#" id="current_page">
					PROFILE
				</a>
				&#160;|&#160;
				<a href="#">
					GALLERY
				</a>
				&#160;|&#160;
				<a href="#">
					BLOG
				</a>
				&#160;|&#160;
				<a href="#">
					COMMENTS
				</a>
				&#160;|&#160;
				<a href="#">
					FRIENDS
				</a>
			</div>
			<br class="clear" />
		</div>
	</td>
</tr>