#comments_profile_block
{
	& .comment_view_container
	{
		& .comment_body 
		{
			width: 420px;
		}
	
		& .comment_date 
		{
			font-size: 10px;
		}
	
		& .comment_function_links
		{
			text-align: right;
		}
	}
	
	& #comment_placeholder
	{
		display: none;
	}
	
	& #comment_write_form
	{
		& .enhanced_text_box_wrapper
		{
			& .tab_handles
			{
				border-color: @primary_block_text_color;
				
				& .tab_handle
				{
					background-color: @primary_block_background_color;
					border-color: @primary_block_text_color;
					color: @primary_block_text_color;
				}
			}
			
			& .tab_bodies
			{
				border-color: @primary_block_text_color;
				
				& .tab_body
				{
					background-color: @primary_block_background_color;
					color: @primary_block_text_color;
					
					& .yui-button
					{
						background-color: @secondary_block_background_color;
						
						& button
						{
							background-color: @secondary_block_background_color;
							color: @secondary_block_text_color;
						}
					}
				}
			}
			
			& #comment_text
			{
				background-color: @primary_block_background_color;
				color: @primary_block_text_color;
				border-color: @primary_block_text_color;
			}
		}
	}
}
