<span style="width:150px; z-Index:99;" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/yahoo/yahoo.js">                 </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/event/event.js">                 </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/dom/dom.js">                     </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/dragdrop/dragdrop.js">           </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/animation/animation.js">         </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/yui/build/container/container.js">         </script>

	<script type="text/javascript" src="{$site.static_url}/javascript/yui_effects/effects.js"> </script>
	<script type="text/javascript" src="{$site.static_url}/javascript/ruby_site/floatmenu.js"> </script>

	<div id="floatmenu" class="sidebar_bgcolor" style="width:150px; visibility:hidden;">
		<div class="hd" id="floatHeader">
			<div>
				<table class="sidebar_title" border="0" cellspacing="0" cellpadding="6" width="100%">
					<tr>
						<td align="left">
							{title}
						</td>
						<td align="right" valign="middle" width="20px" onClick="hideBody('all');" class="sidebar_imgLink">
							<img border="0" src="{$site.static_url}/javascript/yui/hide.bmp" />
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="bd">
			<div id="all">
				<table width="100%" border="0" cellspacing="0" cellpadding="6" align="center">
					<tr>
						<td id="float_menu_body" width="100%">
							#{body}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</span>

