<div id="blog">
	<div class="blog_container">
		<t:template-include t:module="blogs" t:name="blog_header"/>
		
		<t:template-include t:module="blogs" t:name="blog_add_new_buttons"/>      
	
		#{paging_string}
		<form method="post" action="#{PageRequest.current.area_base_uri}/blog/" name="blog_form" id="blog_form">
			<input type="hidden" name="viewer_navigation_form_key" id="viewer_navigation_form_key" value="{viewer_navigation_form_key}"/>
			<input type="hidden" name="current_blog_page" value="{current_page}" />
			<t:if t:id="owner_view || admin_view">
				<input type="hidden" name="form_key[]" value="{permissions_form_key}" />
				<input type="hidden" name="form_key[]" value="{delete_form_key}" />
			</t:if>
			<div class="block_container">
				<t:iter t:id="blog_post_list" t:iter="blog_post">
					<t:template-include t:module="blogs" t:name="blog_post"/>
				</t:iter>
				
				<t:if t:id="admin_view">
					<t:handler-include path="/current/abuse/{AbuseLog::ABUSE_ACTION_BLOG_EDIT}" area="Skeleton" />
				</t:if>				
				
				<div class="blog_footer" minion_name="blog:footer">
					<t:if t:id="owner_view || admin_view">
						<div class="select_links">
							Select:&#160;<a href="#" minion_name="blog:select_all">All</a>,&#160;<a href="#" minion_name="blog:select_none">None</a>&#160;
						</div>
						<t:if t:id="!admin_view">
							<t:button minion_name="div_panel" 
								div_id="blog_delete_entries_panel"
								exit_path="/my/blog/post/delete"
								form_id="blog_form"
								ajax_exit="false"
								id="delete_btn">Delete</t:button>
							<t:button minion_name="div_panel"
								div_id="blog_change_permissions_panel"
								exit_path="/my/blog/post/change_permissions"
								form_id="blog_form"
								ajax_exit="false"
								id="change_permissions_btn">Change Permissions</t:button>
						</t:if>
						<t:if t:id="admin_view">
							<t:button minion_name="div_panel" 
								div_id="blog_delete_entries_panel"
								exit_path="/admin/self/%{blog_user.username}/blog/post/delete"
								form_id="blog_form"
								ajax_exit="false"
								id="delete_btn">Delete</t:button>
						</t:if>
					</t:if>
				</div>
			</div>
		</form>
		#{paging_string}
	</div>
	<t:json t:data="navigation_list" t:handle="navigation_list" />
	<t:if t:id="request_blog_view_info">
		<form id="request_blog_view" name="request_blog_view" minion_name="request_blog_view" method="post" action="/users/%{user.username}/blog/views/update">
			<input type="hidden" name="userid" value="{request_blog_view_info['userid']}"></input>
			<input type="hidden" name="anon" value="{request_blog_view_info['anon']}"></input>
			<input type="hidden" name="key" value="{request_blog_view_info['key']}"></input>
			<input type="hidden" name="time" value="{request_blog_view_info['time']}"></input>
		</form>
	</t:if>
	<t:if t:id="owner_view || admin_view">
		<t:handler-include path="/blog/panel/delete" area="Public"/>
		<t:handler-include path="/blog/panel/permissions" area="Public"/>
	</t:if>
	<script>
		// Needs to be included on the page so that the collapsing elements don't flash closed after
		// the page is drawn.
		YAHOO.blog.BlogView.initializePostCollapsing();
	</script>
</div>