<!-- BLOG POST -->
<div id="blog_post_#{blog_post.userid}:#{blog_post.id}" class="blog_post_container">
	<div class="blog_post_header blog_friend_post_header">
		<a href="/users/%{blog_post.user.username}">
			<img t:id="blog_post.user" t:linktype="landscapemini" class="post_author_pic"/>
		</a>
		<div class="friend_header_info">
			<t:if t:id="!single_post">
				<div class="blog_collapse_post">
					<a minion_name="blog:show_details_toggle" href="#">[<span class="toggle">-</span>]</a>
				</div>
			</t:if>
			<div>
				<div class="post_title">
					<a href="/users/%{blog_post.user.username}/blog/{blog_post.id}-{blog_post.title_slug}">
						{blog_post.title}
					</a>
				</div>
				<div class="collapsed_user_functions" style="float:right;">
					<t:if t:id="blog_post.allowcomments">
						<a href="/users/%{blog_post.user.username}/blog/{blog_post.id}-{blog_post.title_slug}#comments_top">
							Comments&#160;<span class="comments_count">({blog_post.comments_count})</span>
						</a>
					</t:if>
				</div>
				<div class="post_author">
					By:&#160;<a t:id="blog_post.user" />
					&#160;|&#160;
					<a href="/users/%{blog_post.user.username}/blog">
						Blog
					</a>
					&#160;|&#160;
					<div class="post_date"><t:nice-time t:time="blog_post.time" t:format="date_and_time"/></div>
					&#160;|&#160;{blog_post.visibility_display()}
				</div>
			</div>
		</div>
	</div>
	<t:if t:id="!blog_post.extra_content.nil?">#{blog_post.extra_content.display(request)}</t:if>
	<div class="blog_post">
		@{blog_post.msg}
	</div>
	<div class="user_functions">
		<t:if t:id="blog_post.allowcomments">
			<a href="/users/%{blog_post.user.username}/blog/{blog_post.id}#comments_top">
				Comments ({blog_post.comments_count})
			</a>
			&#160;|&#160;
		</t:if>
		<a href="/reportabuse.php?type=31&id={blog_post.userid}&link={$site.www_url}{blog_post.uri_info[1]}&section=offensiveblog">
			Report
		</a>
		&#160;|&#160;
		<a href="#blog_top">
			Top
		</a>
		<br class="clear" />
	</div>
	<div class="separator"/>
</div>