<div class="new_entry_header_container">	
	
	<div class="header_container">
	
		<div class="page_title">
			New Entry
		</div>
		
		<div id="buttons">
			<a href="/my/blog/new/freeform" class="freeform {freeform}">
				Freeform
			</a>
			<a href="/my/blog/new/photo" class="photo {photo}">
				Photo
			</a>
			<a href="/my/blog/new/video" class="video {video}">
				Video
			</a>
			<a href="/my/blog/new/battle" class="battle {battle}">
				Battle
			</a>
			<a href="/my/blog/new/poll" class="poll {poll}">
				Poll
			</a>
		</div>
		
		<div class="stats_container">
			<span>Quick Stats</span>
			
			<table cellspacing="0" cellpadding="0">
			<tr>
				<td class="number">{user.post_count}</td>
				<td class="item">Total Posts</td>
				<td class="number">{user.video_post_count}</td>
				<td class="item">Video</td>
			</tr><tr>
				<td class="number">{user.freeform_post_count}</td>
				<td class="item">Freeform</td>
				<td class="number">{user.battle_post_count}</td>
				<td class="item">Battles</td>
			</tr><tr>
				<td class="number">{user.photo_post_count}</td>
				<td class="item">Photo</td>
				<td class="number">{user.poll_post_count}</td>
				<td class="item">Polls</td>
			</tr>
			</table>
		</div>
		
	</div>
	
</div>