<html>
	<head>
		<title> Blog </title>
		
		<style type="text/css">
			.layout { 
				font-size:13;         
			}
			a { 
				text-decoration:none; 
			}
			
			tr.red { 
				background-color : rgb(255, 0, 0)
			}
			
			tr.green { 
				background-color : rgb(0, 255, 0)
			}				
		</style>
	</head>

<body class="layout">  

<a href="/blog/insert">   Post New Entry   </a> |
<a href="/blog/calendar"> Calendar         </a> |
<a href="/blog/index">    Blog Entries     </a> |
<a href="/blog/friends">  Friends' Entries </a> 	
				
<br/><br/>

<table border="1" width="400">
	<tr>
		<td> <b> User Name </b> </td>
	</tr>

	<tr nid="user" times="4" class="green, red">
		<td>
			&nbsp;<a href="/blog/list?userid={userid}">{username}</a> 
		</td>
	</tr>
	
	<tr nid="empty">
		<td> -- <font color="red"> No user found </font> -- </td>        
	</tr> 		
</table>

</body>
</html>
