<html>
	<head>
		<title> Blog </title>
		
		<style type="text/css">
			.layout { 
				font-size:13;         
			}
			a { 
				text-decoration:none; 
			}
		</style>
	</head>

<body class="layout">  

	<a href="/blog/insert">   Post New Entry   </a> |
	<a href="/blog/calendar"> Calendar         </a> |
	<a href="/blog/index">    Blog Entries     </a> |
	<a href="/blog/friends">  Friends' Entries </a> 	
					
	<br/><br/>
					
	<script language="JavaScript">
	    function reply (num_replies) {
		    if ( parseInt(num_replies) > 1) {
				document.write ("Replies");
			} else {
				document.write ("Reply");
			}
		}			
	</script>

<table border="1" width="92%" align="center" class="layout" nid="userNotFound">
	<tr> 
		<td>
			User not found
		</td>
	</tr>
</table>

<table border="1" width="92%" align="center" class="layout" nid="list" times="3" ajax="true">
	<tr>
		<td colspan="2"> <b> {title} </b> </td>
	</tr>	
	<tr>
		<td colspan="2"> {msg}   </td>
	</tr>
	<tr>
		<td align="left"> <b> {scope} </b> entry posted on <b> {date} </b>  </td>
		
		<td align="right"> 
			&nbsp; <a href="" nid="reply"> View {num_replies} <script> reply("{num_replies}"); </script> </a>
			&nbsp; <a href=""> Reply   </a>			
			&nbsp; <a href=""> Delete  </a>
			&nbsp; <a href=""> Edit    </a>
			&nbsp; <a href=""> Report  </a>
			&nbsp; <a href=""> Top     </a>
		</td>					
	</tr>	
	<br/>				
</table>	

</body>
</html>