Welcome {user.username},<br/><br/>

Click the link below to activate your Nexopia account.<br/><br/>

<a href="{$site.www_url}/account/activate?username=%{user.username}&key=%{key}">
	{$site.www_url}/account/activate?username=%{user.username}&key=%{key}
</a>
<br/><br/>

You're now a member of Nexopia.com, a place to hang out with friends, connect with new people, and express yourself online.<br/><br/>

We're looking forward to having you around.<br/><br/>

-- The Nex Team
<br/><br/>
<t:template-include name="message_footer" module="orwell"/>
