So you lost your password and are dying to get back on {$site.config.site_name}.  No problem.  You can change it but you'll need your username and activation key:<br/>
<br/>
Username: {username}<br/>
Activation Key: {key}<br/>
<br/>
Click the link below to change your password.  Be sure to make it something you'll have an easy time remembering.<br/>
<a href="{$site.www_url}/account/new_password?username=%{username}&key={key}">{$site.www_url}/account/new_password?username=%{username}&key={key}</a><br/>
<br/>
If you didn't request this email, you can safely ignore it.<br/>
<br/>
<t:template-include name="message_footer" module="orwell"/>


