So you lost your password and are dying to get back on {$site.config.site_name}.  No problem.  You can change it but you'll need your username and activation key:

Username: {username}
Activation Key: {key}

Click the link below to change your password.  Be sure to make it something you'll have an easy time remembering.
{$site.www_url}/account/new_password?username=%{username}&key={key}

If you didn't request this email, you can safely ignore it.

<t:template-include name="message_footer_plain" module="orwell"/>