<div class="account_content_container">
	<script>
		#{client_validation}
	</script>
	<div class="post_response {post_response.state == :error ? 'error' : 'valid'}" t:id="post_response">
		<div class="primary_text">
			#{post_response.primary_text}
		</div>
		<div class="secondary_text">
			#{post_response.secondary_text}
		</div>
	</div>
	<div id="new_password_page">

		<div class="left_column">
			<div class="header">
				Enter your new password
			</div>
			<form method="POST" action="/account/change_password" target="_top">
				<input type="hidden" name="key" value="{key}"/>
				<input type="hidden" name="username" id="username" value="{username}"/>
				<table cellspacing="0" cellpadding="0">
				<tr>
					<td class="label">New Password</td>
					<td class="field">
						<input name="password" type="password" class="text" id="password"
							onkeyup="AccountValidation.validatePassword();"/>
						<span class="error_msg">
							#{password_vm}
						</span>
					</td>
				</tr>
				<tr>
					<td class="label">Retype New Password</td>
					<td class="field">
						<input name="password_confirm" type="password" class="text" id="password_confirm"
							onkeyup="AccountValidation.validatePasswordConfirm()"/>
						<span class="error_msg">
							#{password_confirm_vm}
						</span>
					</td>
				</tr>
				<tr>
					<td class="label"></td>
					<td>
						<div class="change_password_btn">
							<t:button type="submit">CHANGE PASSWORD</t:button>
						</div>
					</td>
				</tr>
				</table>
			</form>
		</div>
	
		<br class="clear" />
	</div>
</div>