<div class="account_content_container">
	<div class="content">
		<div id="activation_entry">
			<div class="header_box"><div class="header"><div class="header_text">JOIN NEXOPIA.COM</div></div></div>
			<t:if t:id="message">
				<div class="message">
					{message}
				</div>
			</t:if>
			<div class="section">
				<form method="post" action="/account/reactivate">
					<table>
						<tbody>
							<tr>
								<th>Username:</th>
								<td><input class="text" type="text" id="username" name="username" value="{username}" /></td>
							</tr>
						</tbody>
					</table>
					<input type="submit" class="resend_button" value="Resend Activation" />
				</form>
			</div>
		</div>
	</div>
</div>