Hey {user.username}


Welcome to Nexopia, one of the fastest growing internet communities on the planet. Nexopia is a unique and exciting place where you can hang out with friends, meet tons of cool people, and just be yourself.


[size=2][b]How to get started:[/b][/size]
[list]
[*]Create your [url=/my/profile]profile[/url] and customize it with pictures, videos, and galleries galore.
[*]Create [url=/my/blog]blogs[/url] and share your life and interests with friends.
[*]Create and share [url=/my/gallery]photo albums[/url] in your own gallery.
[*]Check out our popular [url=/forums.php]forums[/url].
[/list]

[size=2][b]Want elite status fast?  Check out Nexopia PLUS.[/b][/size]

Get more from Nexopia with PLUS, a subscription that gives crazy VIP access and way more features.
[list]
[*]See who’s visited your profile.
[*]Pimp your profile with way more colors, pictures, and videos.
[*]Get Spotlighted on our front page.
[*]Upload 50 times more pictures in your personal galleries.
[/list]
Get more with [url=/plus]PLUS[/url].


[size=2][b]Tips for staying safe on Nexopia:[/b][/size]

Please remember that the internet is a very public place where anyone can be anything. Below are just a few things to remember to make sure your life on Nexopia is a safe and happy one.
[list]
[*]Don’t give out personal information.
[*]If you’re uncomfortable with the way a conversation is progressing, just get out.
[*]Take precautions when meeting people you have met online. Don’t go alone.
[/list]

Please keep in mind that we are [b]not[/b] an 18+ site, so inappropriate behavior is not acceptable. You can find these rules in the [url=/terms.php]Terms of Use[/url], as well as in the [url=/content/siterules]Site Rules[/url] page.

If you have any other questions, feel free to check out our [url=/help/]Help page[/url], which has even more information about Nexopia and some of the features we offer.

-- The Nex Team