/*
	@primary_block_background_color;
	@primary_block_link_color;
	@primary_block_text_color;
	
	@secondary_block_background_color;
	@secondary_block_link_color;
*/

#friends_layout
{
	width: 738px; /* specified in the design */
	padding: 6px; /* the usual padding */
	
	margin-top: 6px;  /* makes the break between the links at the top and the page content */
	margin-left: auto;  /* along with margin-right, centers the page */
	margin-right: auto;
	

	background-color: @primary_block_background_color;

	& #friends_page,
	#reverse_friends_page
	{
		& .pages
		{
			text-align: right;
			color: @primary_block_link_color;
			
			& a 
			{
				color: @primary_block_link_color;
				
				&:hover
				{
					color: @primary_block_link_hover_color;
				}
			}
		}
	}

	& .friend
	{	
		background-color: @secondary_block_background_color;
		color: @secondary_block_text_color;

		margin-bottom: 2px;

		& a
		{
			color: @secondary_block_link_color;
		}

		& .content
		{
			float: left;
			display: inline;
			width: 595px;			
			
			padding-top: 5px;
			& .name
			{
				& a {
					font-size: 12px;
					font-weight: bold;
					text-decoration: none;
					color: @secondary_block_link_color;
				}
				
				& .mutual
				{
					float: right;
				}

				
			}
			
			& .content_table
			{
				width: 570px;
			}
			& .detail_title
			{
				padding: 1px;
				width: 60px;
			}
			
			& .detail_value
			{
				padding: 1px;
				font-weight: bold;
			}

			& .left_side
			{
				width: 160px;
				& .detail_value
				{
					width: 100px;
				}
			}

			& .right_side
			{
				width: 410px;
				& .detail_value
				{
					width: 350px;
					& .tag {
						width: 350px;
						overflow: hidden;
					}
				}

				& .edit_form 
				{
					display: none;
				}
				& input
				{
					width: 320px;
				}
				
				& .notes .note
				{
					display: inline;
				}
			}
						
		}
		
		& .pictures_div
		{
			float: left;
			display: inline;
			height: 84px;
			width: 119px;
			
			& .picture_div
			{
				float: left;
				display: inline;
				height: 84px;
				width: 100px;
	
				& .profile_picture
				{
					height: 84px;
					width: 100px;
				}
			}

			& .online_offline
			{
				float: left;

				padding-top: 8px;
				padding-left: 5px;

				height: 8px;
				width: 10px;
	
				& .online_offline_img
				{
					height: 8px;
					width: 10px;
				}
			}
		}
			
		& .actions
		{
			padding-right: 6px;
			padding-top: 9px;
			display: inline;
			float: right;
			height: 36px;
			width: 12px;

			& a 
			{
				color: @secondary_block_link_color;

				&:hover {
					color: @secondary_block_link_hover_color;
				}
			}

			& div
			{
				height: 8px;
				width: 10px;
				margin-bottom: 6px;
				padding: 0px;
			}
			
			& .custom_color_icon
			{
				color: @secondary_block_icon_color;
			}
			& .color_icon
			{
				color: @secondary_block_icon_color;
			}

		}
	}
}