<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table border="0" align="center" width="800px" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2" width="100%">
				<table border="0" class="nex_index profile_info profile_grey" width="100%" height="56" valign="middle" align="center" cellspacing="0" cellpadding="0">
					<tr>
						<th width="120" rowspan="2" valign="middle">
							<img src="{$site.static_url}/icons/mynex_Logo.png" />
						</th>
						<td class="profile_info" valign="bottom">
							<font color="black"> Manage My: </font>
						</td>
					</tr>
					<tr>
						<td>
							<a class="white" id="prof" href="/my/profile">            Profile       </a> &nbsp; | &nbsp;
							<a class="white" id="blog" href="">                       Blog          </a> &nbsp; | &nbsp;
							<a class="white" id="uplo" href="">                       Uploads       </a> &nbsp; | &nbsp;
							<a class="white" id="frie" href="">                       Friends       </a> &nbsp; | &nbsp;
							<a class="white" id="comm" href="/my/comments">           Comments      </a> &nbsp; | &nbsp;
							<a class="white" id="mess" href="/my/messages">           Messages      </a> &nbsp; | &nbsp;
							<a class="white" id="subs" href="">                       Subscriptions </a> &nbsp; | &nbsp;
							<a class="white" id="link" href="">                       Links         </a> &nbsp; | &nbsp;
							<a class="white" id="sett" href="/my/preferences">        Preferences   </a> &nbsp; | &nbsp;
							<a class="white" id="mypa" href="/my/profile?mypage=yes"> My Page       </a>
							<script>
								//elem = document.getElementById("{menuLink}").setAttribute('class', 'grey');
							</script>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</span>
