<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<script>
		include_dom("/script/forums.js?rev={Time.now.to_i.to_s}", function() {
			FORUMS.base_domain = "{$site.config.base_domain}";
		});
	</script>

	<table class="forum">
		<tr class="forum_bg_dark">
			<td colspan="1" class="forum_header_structure">
				<a class="forum_header_name forum_text_dark" href="/forums">FORUMS</a>

				<t:if t:id="logged">
					<a class="forum_text_light" href="/forums/thread/subscribed"> Show subscribed threads </a>
				</t:if>
			</td>
			<td colspan="2" class="forum_header_filter forum_header_structure">
				<t:if t:id="jumpViews">
					<b> Jump: </b>
					<t:if t:id="pageViewsJumps" t:iter="pageViewsJump">
						<t:if t:id="pageViewsJump[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/category/{category_id}/{orderby}/{pageViewsJump[2]}/{filter}">
								{pageViewsJump[1]}
							</a>
						</t:if>
						<t:if t:id="(! pageViewsJump[0])">
							{pageViewsJump[1]}
						</t:if>
					</t:if>

					<br/>
				</t:if>
				<t:if t:id="pageViews">
					<b> Page: </b>
					<t:if t:id="pageViewsLinks" t:iter="pageViewsLink">
						<t:if t:id="pageViewsLink[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/category/{category_id}/{orderby}/{pageViewsLink[1]}/{filter}">
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">[</span>
									{pageViewsLink[1]}
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">]</span>
							</a>
						</t:if>
						<t:if t:id="(! pageViewsLink[0])">
							{pageViewsLink[1]}
						</t:if>
					</t:if>
				</t:if>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td class="forum_header_menu forum_header_structure">
				<t:if t:id="logged">
					<a class="forum_text_light" href="/forums/forum/new/"> Create forum </a> |

					<t:if t:id="show_only_subscribed">
						 <a class="forum_text_light" href="/forums/{orderby}/subscribed/{filter}"> Show only subscribed forums </a>
					</t:if>

					<t:if t:id="(! show_only_subscribed)">
						<a class="forum_text_light" href="/forums/{orderby}/{filter}"> Show all forums </a>
					</t:if>
				</t:if>
			</td>
			<td class="forum_header_filter forum_header_structure">
				<t:if t:id="forumOrder">
					<a class="forum_header_filter forum_text_light" href="/forums/mostactive/{filter}">                        <t:if t:id="mostactive"> #{bold} </t:if> by most active <t:if t:id="mostactive"> #{end_bold} </t:if> </a>
					<a class="forum_header_filter forum_text_light" href="/forums/mostrecent/{filter}">                        <t:if t:id="mostrecent"> #{bold} </t:if> by most recent <t:if t:id="mostrecent"> #{end_bold} </t:if> </a>
					<a class="forum_header_filter forum_text_light" href="/forums/alphabetic/{filter}">                        <t:if t:id="alphabetic"> #{bold} </t:if> by name        <t:if t:id="alphabetic"> #{end_bold} </t:if> </a>
				</t:if>
				<t:if t:id="categoryOrder">
					<a class="forum_header_filter forum_text_light" href="/forums/category/{category_id}/mostactive/{page}/{filter}"> <t:if t:id="mostactive"> #{bold} </t:if> by most active <t:if t:id="mostactive"> #{end_bold} </t:if> </a>
					<a class="forum_header_filter forum_text_light" href="/forums/category/{category_id}/mostrecent/{page}/{filter}"> <t:if t:id="mostrecent"> #{bold} </t:if> by most recent <t:if t:id="mostrecent"> #{end_bold} </t:if> </a>
					<a class="forum_header_filter forum_text_light" href="/forums/category/{category_id}/alphabetic/{page}/{filter}"> <t:if t:id="alphabetic"> #{bold} </t:if> by name        <t:if t:id="alphabetic"> #{end_bold} </t:if> </a>
				</t:if>
			</td>
			<td class="forum_header_filter forum_header_structure">
				<form onSubmit="FORUMS.submit_filter(); return false;" id="filter_form" method="post" action="/forums/{orderby}/">
					<input id="filter_original" name="filter_original" type="hidden" value="{filter_original}"/>
					<input id="filter" name="filter" class="forum_header forum_bg_light forum_text_light forum_border_light" onFocus="FORUMS.filter_focus();" onBlur="FORUMS.filter_blur();" type="text" value=""/>

					<script>
						if ( "{filter}" == "") {
							document.getElementById("filter").value = "{filter_original}";
						} else {
							document.getElementById("filter").value = "{filter}";
						}

						FORUMS.submit_filter = function() {
							var filter          = document.getElementById("filter");
							var filter_original = document.getElementById("filter_original");

							var value  = "";

							if (filter.value != filter_original.value)
								value = filter.value;

							if ( "{categoryOrder}" == "true") {
								location.href = "http://" + FORUMS.base_domain + "/forums/category/{category_id}/{orderby}/{page}/" + value
							} else {
								location.href = "http://" + FORUMS.base_domain + "/forums/{orderby}/" + value
							}
						}
					</script>

					<input type="button" value="go" onClick="FORUMS.submit_filter();" />
				</form>
			</td>
		</tr>
		<tr><td colspan="3" class="forum_big_horizontal_space"></td></tr>
	</table>

	<table class="category">
		<t:if t:id="categories" t:iter="category">
			<tr>
				<td colspan="3" class="forum_bg_dark">
					<table class="forum_title_name">
						<tr>
							<td class="forum_signals_container">
								<img id="forum_plus_{category.id}"  onClick="FORUMS.switchSignal('{category.id}', true);" class="forum_signals forum_hide" src="{$site.static_url}/icons/plus.gif"  />
								<img id="forum_minus_{category.id}" onClick="FORUMS.switchSignal('{category.id}', true);" class="forum_signals"            src="{$site.static_url}/icons/minus.gif" />
							</td>
							<td>
								<input id="forum_edit_{category.id}" class="forum_category_show forum_bg_dark forum_forum_title forum_border_dark" type="text" value="{category.name}"/>

								<script>
									document.getElementById('forum_edit_{category.id}').disabled = false;
								</script>

								<input type="hidden" id="forum_original_{category.id}" value="{category.name}"/>
								<input style="display:none;" id="forum_save_{category.id}"   type="button" value="save"   onClick="FORUMS.save({category.id});" />
								<input style="display:none;" id="forum_cancel_{category.id}" type="button" value="cancel" onClick="FORUMS.cancel({category.id});" />
							</td>
							<td class="forum_view_all">
								<t:if t:id="category.userid">
									<a class="forum_text_light forum_view_all" href="javascript:void(0);" onClick="FORUMS.edit({category.id});">
										(edit)
									</a>
									<a class="forum_text_light forum_view_all" href="javascript:void(0);" onClick="FORUMS.deleteCategory('/forums/delete/category/{category.id}');">
										(delete)
									</a>
								</t:if>

								<t:if t:id="(category.view_all)">
									<a class="forum_text_light forum_view_all" href="/forums/category/{category.id}/{orderby}/1/{filter}">
										( view all )
									</a>
								</t:if>
							</td>
						</tr>
					</table>
				</td>
				<td colspan="2" class="forum_threads_info forum_bg_dark forum_text_light">
					threads
				</td>
				<td colspan="2" class="forum_threads_info forum_bg_dark forum_text_light">
					posts
				</td>
				<td class="forum_text_light forum_bg_dark forum_last_post_date">
					last post
				</td>
			</tr>

			<t:if t:id="category.forumsObj" t:iter="forum">
				<tr name="category_{category.id}">
					<td class="forum_text_light forum_bg_light forum_official">
						<t:if t:id="forum.official">
							Official:
						</t:if>
					</td>
					<td class="forum_text_light forum_bg_light">
						<a href="/forums/forum/{forum.id}" class="forum_forum_title"> {forum.name} </a> <br/>
						{forum.description}
					</td>
					<td class="forum_vertical_space"></td>
					<td class="forum_align_info forum_text_light forum_bg_light">
						{forum.threads}
					</td>
					<td class="forum_vertical_space"></td>
					<td class="forum_align_info forum_text_light forum_bg_light">
						{forum.posts}
					</td>
					<td class="forum_vertical_space"></td>
					<td class="forum_align_info forum_text_light forum_bg_light">
						{forum.time_readable}
					</td>
				</tr>
				<tr name="category_{category.id}"><td colspan="7" class="forum_small_horizontal_space"></td></tr>
			</t:if>
			<tr><td colspan="7" class="forum_medium_horizontal_space"></td></tr>

			<script>
				if ({category.is_collapsed}) {
					FORUMS.switchSignal('{category.id}', false);
				}
			</script>
		</t:if>
	</table>

	<br/>
</span>
