<div id="backdiv">
	<form id="new_thread" name="new_thread" method="post" action="/forums/forum/{forum_id}/thread/new/submit/">
		<span id="newthreadtitle">Create a new thread</span>
		
		<div id="post_preview">
			<t:if t:id="post_render_show">
				#{post_render}
			</t:if>
		</div>
		
		<template-include module="forums" name="forums_post_editor" />
		
		<input type="submit" name="Post"></input>
		<input type="button" style="display:none" name="Preview" id="js_preview_0" value="Preview" onclick="FORUMS.previewPost('http://www.{$site.config.base_domain}/forums/forum/{forum_id}/preview/', 'new_thread', 'post_preview')" ></input>
		<input type="submit" name="Preview" id="sub_preview_0" value="Preview" ></input>
		
		<template-include module="forums" name="forums_thread_options" />
		
		<input type="submit" name="Post"></input>
		<input type="button" style="display:none" name="Preview" id="js_preview_1" value="Preview" onclick="FORUMS.previewPost('http://www.{$site.config.base_domain}/forums/forum/{forum_id}/preview/', 'new_thread', 'post_preview')" ></input>
		<input type="submit" name="Preview" id="sub_preview_1" value="Preview" ></input>
		<input type="hidden" name="forum_id" id="forum_id" value="{forum_id}" />
	</form>
	<script>
			include_dom("/script/forums.js?rev={Time.now.to_i.to_s}", function() {
			FORUMS.initializeThreadEditor();});
			</script>
</div>