<div>
	<div>
		<div id="forum_title">
			<table>
				<tbody>
					<tr>
						<td>
							Forums
						</td>
						<td>
							Navigation Links
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<a href="/forums/forum/new/">Create Forum</a>
						</td>
						<td>
							<!-- <input type="submit" name="show_subscriptions" value="Show only subscriptions"></input> -->
							<a href="{base_custom_uri}/custom_display?order_by={order_by}&amp;amp;amp;amp;show_subscriptions={new_subscription_filter_value}&amp;amp;amp;amp;filter_text={filter_text_escaped}">{subscription_text}</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div id="forum_search">
			<form name="forum_control" id="forum_control" method="get" action="{base_custom_uri}/custom_display">
				<input type="text" name="filter_text" id="forum_filter_text" value="{filter_text}"/>
				<input type="submit" name="filter_submit" id="forum_filter_submit">
					<img src="{$site.static_url}/images/SearchIcon.png" />
				</input>
				<input type="hidden" name="order_by" value="{order_by}" />
				<input type="hidden" name="show_subscriptions" value="{current_subscription_filter_value}" />
				<t:if t:id="current_page">
					<input type="hidden" name="page" value="{current_page}" />
				</t:if>
			</form>
		</div>
		<div id="forum_sort">
			<table>
				<tbody>
					<tr>
						<td>
							<a href="{base_custom_uri}/custom_display?order_by=0&amp;amp;amp;amp;show_subscriptions={current_subscription_filter_value}&amp;amp;amp;amp;filter_text={filter_text_escaped}{page_argument}">by most active</a>
						</td>
						<td>
							<a href="{base_custom_uri}/custom_display?order_by=1&amp;amp;amp;amp;show_subscriptions={current_subscription_filter_value}&amp;amp;amp;amp;filter_text={filter_text_escaped}{page_argument}">by most recent</a>
						</td>
						<td>
							<a href="{base_custom_uri}/custom_display?order_by=2&amp;amp;amp;amp;show_subscriptions={current_subscription_filter_value}&amp;amp;amp;amp;filter_text={filter_text_escaped}{page_argument}">by name</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
