<div id="forediv">
	<table>
		<tbody>
			<t:if t:id="show_new_thread_fields">
				<tr>
					<td>
						&#160;
					</td>
					<td colspan="2">
						Subject
					</td>
					<td>
						&#160;
					</td>
				</tr>
				<tr>
					<td>
						&#160;
					</td>
					<td>
						&#160;
					</td>
					<td>
						<input type="hidden" name="balls2" id="balls2" value="259" />
						<input name="thread_subject" id="thread_post_subject" type="text" />
						<input type="hidden" name="balls" id="balls" value="259" />
					</td>
					<td>
						&#160;
					</td>
				</tr>
			</t:if>
			<tr>
				<td>
					&#160;
				</td>
				<td colspan="2">
					Message
				</td>
				<td>
					&#160;
				</td>
			</tr>
			<tr>
				<td>
					&#160;
				</td>
				<td>
					&#160;
				</td>
				<td>
					<textarea cols="55" rows="20" name="post_text" id="post_text" >{post_text}</textarea>
				</td>
				<td>
					<div>
						This is where emoticons go.
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
