<div id="poll_creation_div" style="display:{poll_display}" >
	<table id="poll_creation_table" >
		<tbody id="poll_creation_body">
			<tr>
				<td colspan="2">
					Poll Question:
				</td>
			</tr>
			<tr>
				<td>
					&#160;
				</td>
				<td>
					<input type="text" name="poll_question" id="poll_question" value="{poll_question}" />
					</td>
			</tr>
			<tr>
				<td colspan="2">
					Answers:
				</td>
			</tr>
			<t:iter t:id="poll_rows" t:iter="poll_response">
				<tr>
					<td>
						&#160;
					</td>
					<td>
						<input type="text" name="{poll_response.id}" id="{poll_response.id}" value="{poll_response.response}" />
					</td>
				</tr>
			</t:iter>
		</tbody>
	</table>
	<table>
		<tbody>
			<tr>
				<td>
					<input type="{add_row_button_type}" name="poll_add_response" value="Add another response" onclick="FORUMS.addResponseField()" />
				</td>
			</tr>
		</tbody>
	</table>
</div>