<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table class="forum">
			<tr>
				<td class="thread_user forum_text_light forum_bg_light">
					<table class="thread_user">
						<tr>
							<td colspan="2" class="forum_align_info">
								<div src="blank.jpg" class="thread_pic"/>
							</td>
						</tr>
						<tr>
							<td>
								<a href="/users/{post.author.username}"> {post.author.username} </a>
							</td>
							<td class="forum_header_filter">
								<t:if t:id="post.author.online">
									<img src="{$site.static_url}/icons/Online-Icon.png" />
								</t:if>
								<t:if t:id="(! post.author.online)">
									<img src="{$site.static_url}/icons/Offline-Icon.png" />
								</t:if>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{post.author.age}, {post.author.sex}, {post.author_location}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								posts: {post.author.posts}
							</td>
						</tr>
					</table>
				</td>
				<td class="thread_post forum_text_light forum_bg_light">
					{post.msg}
					<br/><br/>
					<hr align="left" width="45%" />
					{post.author.profile.signiture}
				</td>
			</tr>
			<tr>
				<td colspan="2" class="thread_post forum_text_light forum_bg_light">
					<table class="forum_title_name">
						<tr>
							<td>
								{#post.time_readable}
							</td>
							<td align="right">
								<a href="/forums/forum/{forum_id}/thread/{thread_id}/quote/{post.id}/"> Quote  </a> |
								<a href="/forums/forum/{forum_id}/thread/{thread_id}/reply/"> Reply  </a> |
								<a href="/my/tickets/create/{posttypeid}/{forum_id}/{post.id}/"> Report </a>
								<img src="{$site.static_url}/icons/top.gif" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="forum_big_horizontal_space">
					<a name="end"></a>
				</td>
			</tr>
	</table>
</span>
