<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table class="forum">
		<tr class="forum_bg_dark">
			<td class="forum_header_structure">
				<a class="forum_header_name forum_text_dark" href="/forums">FORUMS</a>				

				<t:if t:id="logged">
					<a class="forum_text_light" href="/forums/thread/subscribed"> Show subscribed threads </a>
				</t:if>
			</td>
			<td class="forum_header_filter forum_header_structure">
				<t:if t:id="jumpViews">
					<b> Jump: </b>
					<t:if t:id="pageViewsJumps" t:iter="pageViewsJump">
						<t:if t:id="pageViewsJump[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/forum/{forum_id}/{pageViewsJump[2]}/{time_range}">
								{pageViewsJump[1]}
							</a>						
						</t:if>
						<t:if t:id="(! pageViewsJump[0])">
							{pageViewsJump[1]}
						</t:if>											
					</t:if>

					<br/>
				</t:if>
				<t:if t:id="pageViews">
					<b> Page: </b>
					<t:if t:id="pageViewsLinks" t:iter="pageViewsLink">
						<t:if t:id="pageViewsLink[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/forum/{forum_id}/{pageViewsLink[1]}/{time_range}">
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">[</span> 
									{pageViewsLink[1]}
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">]</span>
							</a>						
						</t:if>
						<t:if t:id="(! pageViewsLink[0])">
							{pageViewsLink[1]}
						</t:if>											
					</t:if>
				</t:if>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td class="forum_text_light forum_header_menu forum_header_structure">
				<a class="forum_text_light" href="#"> Forum Rules </a> | 
				<a class="forum_text_light" href="#"> Forum Guide </a>
			
				<t:if t:id="logged">			
					 | <a class="forum_text_light" href="/forums/forum/{forum_id}/thread/new/"> Create New Thread  </a>
					 | <a class="forum_text_light" href="#"> Mark All as Read </a>
				</t:if>
			</td>
			<td class="forum_header_filter forum_header_structure forum_text_light">
				Show threads from last 
				<div style="padding-left:10px; display:inline">
					<select id="threads_days" onChange="location.href='http://{$site.config.base_domain}/forums/forum/{forum_id}/{page}/' + this.options[this.selectedIndex].value">
						<option value=  "0"> All Threads </option>
						<option value=  "1"> 1 Day       </option>
						<option value=  "3"> 3 Days      </option>
						<option value=  "7"> 1 Week      </option>
						<option value= "14"> 2 Weeks     </option>
						<option value= "30"> 1 Month     </option>
						<option value= "60"> 2 Months    </option>
						<option value="180"> 6 Months    </option>
						<option value="365"> 1 Year      </option>
					</select>
				</div>
				
				<script>
					setObjects = document.getElementById("threads_days")
					setObjects.selectedIndex = 1;
					
					for (var i in setObjects.options) {
						if (setObjects.options[i].constructor == HTMLOptionElement) {
							if (setObjects.options[i].value == '{time_range}') {
								setObjects.selectedIndex = i;
							}
						}
					}
				</script>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td colspan="2" class="forum_text_light forum_header_menu forum_header_structure">
				<t:if t:id="subscribe">
					<a class="forum_text_light" href="/forums/subscribe/{forum_id}/{page}/{time_range}"> Subscribe to forum </a>
				</t:if>
				<t:if t:id="unsubscribe">
					<a class="forum_text_light" href="/forums/unsubscribe/{forum_id}/{page}/{time_range}"> Withdraw from forum </a> |
					<a class="forum_text_light" href="/forums/move/{forum_id}/{page}/{time_range}"> Move to another category </a>
				</t:if>
			</td>
		</tr>
		<tr><td colspan="2" class="forum_big_horizontal_space"></td></tr>
	</table>

	<table class="forum">
		<tr>
			<td colspan="2" class="forum_threads_title forum_bg_dark forum_text_light forum_header_menu forum_header_structure">
				<a href="/forums/category/{category_id}" class="forum_forum_title"> {category_name} </a>
				>
				<t:if t:id="forum_official"> Official: </t:if>
				<a href="/forums/forum/{forum_id}" class="forum_forum_title"> {forum_name} </a>
			</td>
			<td colspan="2" class="forum_threads_info forum_bg_dark forum_text_light">
				Author
			</td>
			<td colspan="2" class="forum_threads_info forum_bg_dark forum_text_light">
				Replies
			</td>
			<td colspan="2" class="forum_threads_info forum_bg_dark forum_text_light">
				Views
			</td>
			<td colspan="2" class="forum_last_post_date forum_bg_dark forum_text_light">
				Last Post
			</td>
		</tr>

		<t:if t:id="threadsObjObj" t:iter="thread">
			<tr>
				<td class="padding forum_text_light forum_bg_light">				
					<t:if t:id="(thread.read_level == :new_thread)">
						<a style="color:blue;" href="/forums/forum/{forum_id}/thread/{thread.id}"> 
							{thread.title}
						</a>
					</t:if>
					<t:if t:id="(thread.read_level == :some_unread)">
						<a style="color:green;" href="/forums/forum/{forum_id}/thread/{thread.id}"> 
							{thread.title}
						</a>
					</t:if>
					<t:if t:id="(thread.read_level == :no_unread)">
						<a style="color:red;" href="/forums/forum/{forum_id}/thread/{thread.id}"> 
							{thread.title}
						</a>
					</t:if>
				</td>
				<td class="forum_vertical_space"></td>
				<td class="padding forum_align_info forum_text_light forum_bg_light">
					{thread.author_name}
				</td>
				<td class="forum_vertical_space"></td>
				<td class="padding forum_align_info forum_text_light forum_bg_light">
					{thread.posts}
				</td>
				<td class="forum_vertical_space"></td>
				<td class="padding forum_align_info forum_text_light forum_bg_light">
					{thread.reads}
				</td>
				<td class="forum_vertical_space"></td>
				<td class="padding forum_align_info forum_text_light forum_bg_light">
					{thread.last_author_name}
				</td>
				<td class="padding forum_align_info forum_text_light forum_bg_light">
					{thread.time_readable}
				</td>
			</tr>
			<tr><td colspan="9" class="forum_small_horizontal_space"></td></tr>
		</t:if>
	</table>	

	<table class="forum">
		<tr><td colspan="2" class="forum_big_horizontal_space"></td></tr>
		<tr class="forum_bg_dark">
			<td colspan="2" class="forum_text_light forum_header_structure">
				<b>Legend</b>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td width="100px" class="forum_text_light forum_header_structure">
				<b> Unsubscribed: </b>
			</td>
			<td class="forum_text_light forum_header_structure">
				<font color="red">No Unread Posts</font>, <font color="green">Some Unread Posts</font>, <font color="blue">New Thread</font>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td width="100px" class="forum_text_light forum_header_structure">
				<b> Subscribed: </b>
			</td>
			<td class="forum_text_light forum_header_structure">
				<b><font color="red">No Unread Posts</font></b>, <b><font color="green">Some Unread Posts</font></b>
			</td>
		</tr>
	</table>

	<br/>
</span>