<div id="backdiv">
	<form name="thread_poll" id="thread_poll" method="post" action="/forums/forum/{forum_id}/thread/new/submit/">
		<template-include name="forums_new_poll" module="forums" />
		
		<input type="hidden" name="thread_post_text" id="thread_post_text" value="{thread_post}" />
		<input type="hidden" name="thread_subject" id="thread_subject" value="{thread_title}" />
		<input type="hidden" name="thread_poll" id="thread_poll" value="checked" />
		<input type="hidden" name="poll_response_row_count" id="poll_response_row_count" value="{poll_rows.length}" />
		<t:if t:id="thread_subscribe">
			<input type="hidden" name="thread_subscribe" id="thread_subscribe" value="{thread_subscribe}" />
		</t:if>
		<input type="submit" />
	</form>
</div>