<div>
	Additional Options
	<fieldset title="Options">
		<legend>Options</legend>
		<input type="checkbox" id="thread_subscribe" name="thread_subscribe" checked="{thread_subscribe}"/>Subscribe
	</fieldset>
	<t:if t:id="show_new_thread_fields" >
		<fieldset title="Post a Poll">
			<legend>Post a Poll</legend>
			<table>
				<tbody>
					<tr>
						<td>
							<input type="checkbox" id="thread_poll" name="thread_poll" onclick="FORUMS.showPollDiv()" value="false" /> Add a Poll?	
						</td>
					</tr>
					<tr id="poll_response_row" >
						<td>
							Number of Responses: <input type="text" id="poll_response_rows" name="poll_response_rows" value="4"></input>
						</td>
					</tr>
					<tr id="poll_interactive_row">
						<td>
							<template-include module="forums" name="forums_new_poll" />
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</t:if>
</div>