<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<script>
	function GetEventInitiator(e){
		var targ;
		if (!e) var e = window.event;
		if (e.target) targ = e.target;
		else if (e.srcElement) targ = e.srcElement;
		if (targ.nodeType == 3) // defeat Safari bug
			targ = targ.parentNode;
		return targ;
	}
	
	function ToggleVisibility(elem){
		if (elem.style.display == "none")
			elem.style.display = "block";
		else 
			elem.style.display = "none";
	}
	</script>
	<table class="forum">
		<tr class="forum_bg_dark">
			<td class="forum_header_structure">
				<ul>
					<t:loop t:id='categories' t:iter="category">
						<li>{category[0].name}
						<a href="" onclick="ToggleVisibility(document.getElementById('category_{category[0].id}')); return false;">
							[+]
						</a>
						<a href="/forums/manage/moveup/{category[0].id}">
							[^]
						</a>
						<a href="/forums/manage/movedown/{category[0].id}">
							[v]
						</a>
						<a href="/forums/manage/delete/{category[0].id}">
							[x]
						</a>
						
						<ul id="category_{category[0].id}" style="display:none;">
							<t:loop t:id='category[1]' t:iter='forum'>
								<li><a href="/forums/forum/{forum[0]}">{forum[1]}</a></li>
							</t:loop>
						</ul>
						</li>
					</t:loop>
				</ul>
			</td>
		</tr>
	</table>
	<form action="/forums/manage/create" method="get">
		Create new<br/>
		Name:<input type="text" name="catname"/><input type="checkbox" value="y" name="official"/> Make this category official<input type="submit"/>
	</form>
</span>
