<span>
	<div class="title">
		Forums
	</div>
	
	<table class="descr">
		<tr>
			<td class="left">  Return to thread listing after posting </td>
		    <td class="right"> <input id="replyjump" name="replyjump" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Automatically subscribe to threads you have posted in </td>
		    <td class="right"> <input id="autosubscribe" name="autosubscribe" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Jump to the last old post	</td>
		    <td class="right"> <input id="forumjumplastpost" name="forumjumplastpost" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Show your post count next to each post	</td>
		    <td class="right"> <input id="showpostcount" name="showpostcount" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Show users signatures	</td>
		    <td class="right"> <input id="showsigs" name="showsigs" type="checkbox" /> </td>
		</tr>
		<tr>
			<td class="left"> Posts per page in the forums	</td>
		    <td class="right"> 
		    	<select id="forumpostsperpage" name="forumpostsperpage" class="medium"></select>				    
		    </td>
		</tr>
		<tr>
			<td class="left"> Sort threads by	</td>
		    <td class="right"> 
		    	<select id="forumsort" name="forumsort" class="medium"></select>				    
		    </td>
		</tr>
	</table>

</span>	