<div xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<form method="post" action="/admin/forums/roles/add">
		<h1>Add a Type Role to a User</h1>
		<ul>
			<li>
				<label>Forum</label>
				<select name="forum" id="forum">
					<option t:id="forums" t:iter="forum" value="{forum.id}">
						{forum.name}
					</option>
				</select>
			</li>
			<li>
				<label>Role</label>
				<select name="role" id="role">
					<option t:id="roles" t:iter="role" value="{role.roleid}">
						{role.name}
					</option>
				</select>
			</li>
			<li>
				<label>User</label>
				<input type="text" id="username" name="username"/>
			</li>
			<li>
				<input type="submit" value="Add"/>
			</li>
		</ul>
	</form>
	#{dump}
</div>
