<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table class="forum">
		<tr class="forum_bg_dark">
			<td class="forum_header_structure">
				<a class="forum_header_name forum_text_dark" href="/forums">FORUMS</a>
			</td>
		</tr>
		<tr><td colspan="2" class="forum_big_horizontal_space"></td></tr>
	</table>

	<form action="/forums/subscribe_folder">
		<table class="forum">
			<tr>
				<td colspan="3" class="padding forum_text_light forum_bg_light">				
					<b> 
						<t:if t:id="label_subscribe">
							Subscribe to 
						</t:if>
						<t:if t:id="(! label_subscribe)">
							Move
						</t:if>
						
						{forum_name} 
					</b>

					<input name="forum_id"    id="forum_id"    type="hidden" value="{forum_id}"/>
					<input name="page_number" id="page_number" type="hidden" value="{page_number}"/>
					<input name="time_range"  id="time_range"  type="hidden" value="{time_range}"/>
				</td>
			</tr>				
			<tr>
				<td class="padding forum_text_light forum_bg_light">
					Under category
					<br/> or <br/>
					Create 
				</td>
				<td class="padding forum_text_light forum_bg_light">
					<select name="category_id" id="category_id">
						<t:if t:id="userCategories" t:iter="category">
							<option value="{category.id}"> {category.name} </option>
						</t:if>
						<t:if t:id="userCategories.length">
							<optgroup label="-------------------------"></optgroup>
						</t:if>
						<t:if t:id="officialCategories" t:iter="category">
							<option value="{category.id}"> {category.name} </option>
						</t:if>
					</select>				
					<br/> <br/>
					<input name="new_category_default" id="new_category_default" type="hidden" value="a new category"/>
					<input name="new_category" id="new_category" class="forum_header forum_bg_light forum_text_light forum_border_dark" onFocus="if(value=='a new category')value='';" onBlur="if(value=='')value='a new category';" type="text" value="a new category"/> 			
				</td>
				<td class="padding forum_text_light forum_bg_light">
					<input type="submit" value="subscribe"/>
				</td>
			</tr>
		</table>
	</form>
	
	<br/>
</span>