<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table class="forum">
		<tr class="forum_bg_dark">
			<td class="forum_header_structure">
				<a class="forum_header_name forum_text_dark" href="/forums">FORUMS</a>

				<t:if t:id="logged">
					<a class="forum_text_light" href="/forums/topic/subscribed"> Show subscribed threads </a>
				</t:if>
			</td>
			<td class="forum_header_filter forum_header_structure">
				<t:if t:id="jumpViews">
					<b> Jump: </b>
					<t:if t:id="pageViewsJumps" t:iter="pageViewsJump">
						<t:if t:id="pageViewsJump[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/topic/{forum_id}/{thread_id}/{pageViewsJump[2]}">
								{pageViewsJump[1]}
							</a>
						</t:if>
						<t:if t:id="(! pageViewsJump[0])">
							{pageViewsJump[1]}
						</t:if>
					</t:if>

					<br/>
				</t:if>
				<t:if t:id="pageViews">
					<b> Page: </b>
					<t:if t:id="pageViewsLinks" t:iter="pageViewsLink">
						<t:if t:id="pageViewsLink[0]">
							<a style="padding-left:4px;" class="forum_text_light" href="/forums/topic/{forum_id}/{thread_id}/{pageViewsLink[1]}">
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">[</span>
									{pageViewsLink[1]}
								<span class="forum_text_light" style="display:{pageViewsLink[2]};">]</span>
							</a>
						</t:if>
						<t:if t:id="(! pageViewsLink[0])">
							{pageViewsLink[1]}
						</t:if>
					</t:if>
				</t:if>
			</td>
		</tr>
		<tr class="forum_bg_dark">
			<td class="forum_header_menu forum_header_structure">
			</td>
			<td class="forum_header_filter forum_header_structure forum_text_light">
				<t:if t:id="logged">
					<t:if t:id="(! subscribe)">
						<a class="forum_text_light" href="/forums/topic_subscribe/{forum_id}/{thread_id}/{page}"> Subscribe </a>
					</t:if>
					<t:if t:id="subscribe">
						<a class="forum_text_light" href="/forums/topic_unsubscribe/{forum_id}/{thread_id}/{page}"> Unsubscribe </a>
					</t:if>
				</t:if>
			</td>
		</tr>
		<tr><td colspan="2" class="forum_big_horizontal_space"></td></tr>
	</table>

	<table class="forum">
		<tr>
			<td colspan="2" class="forum_topics_title forum_bg_dark forum_text_light forum_header_menu forum_header_structure">
				<a href="/forums/category/{category_id}" class="forum_forum_title"> {category_name} </a>
				>
				<t:if t:id="forum_official"> Official: </t:if>
				<a href="/forums/forum/{forum_id}" class="forum_forum_title"> {forum_name} </a>
				>
				<a href="/forums/topic/{forum_id}/{thread_id}" class="forum_forum_title"> {thread_title} </a>
			</td>
		</tr>
		<tr><td colspan="2" class="forum_big_horizontal_space"></td></tr>
		
		<t:if t:id="posts_list" t:iter="post">
			<tr>
				<td class="topic_user forum_text_light forum_bg_light">
					<table class="topic_user">
						<tr>
							<td colspan="2" class="forum_align_info">
								<div src="blank.jpg" class="topic_pic"/>
							</td>
						</tr>
						<tr>
							<td>
								<a href="/users/{post.author.username}"> {post.author.username} </a>
							</td>
							<td class="forum_header_filter">
								<t:if t:id="post.author.online">
									<img src="{$site.static_url}/icons/Online-Icon.png" />
								</t:if>
								<t:if t:id="(! post.author.online)">
									<img src="{$site.static_url}/icons/Offline-Icon.png" />
								</t:if>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{post.author.age}, {post.author.sex}, {post.author_location}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								posts: {post.author.posts}
							</td>
						</tr>
					</table>
				</td>
				<td class="topic_post forum_text_light forum_bg_light">
					{post.msg}
					<br/><br/>
					<hr align="left" width="45%" />
					{post.author.profile.signiture}
				</td>
			</tr>
			<tr>
				<td colspan="2" class="topic_post forum_text_light forum_bg_light">
					<table class="forum_title_name">
						<tr>
							<td>
								{post.time_readable}
							</td>
							<td align="right">
								<a href="/forums/forum/{forum_id}/thread/{thread_id}/quote/{post.id}/"> Quote  </a> |
								<a href="/forums/forum/{forum_id}/thread/{thread_id}/reply/"> Reply  </a> |
								<a href="/my/tickets/create/{posttypeid}/{forum_id}/{post.id}/"> Report </a>
								<img src="{$site.static_url}/icons/top.gif" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="forum_big_horizontal_space">
					<a name="end"></a>
				</td>
			</tr>
		</t:if>
	</table>
</span>
