div#blog_profile_block{
	overflow: hidden;
	padding: 0px;
	
	& .blog_text {
		overflow: hidden;
		color: @secondary_block_text_color;
		background-color: @secondary_block_background_color;
		padding: 6px;
		
		& .blog_title {
			font-size: 11px;
			font-family: Verdana, Helvetica, Arial, sans-serif;
			margin: 2px;
			font-weight: bold;
		}
		
		& .blog_post_details
		{
			font-size: 10px;
			font-family: Verdana, Helvetica, Arial, sans-serif;
		}
		
		& a {
			font-size: 10px;
			color: @secondary_block_link_color;
			
			&:hover
			{
				color: @secondary_block_link_hover_color;
			}
		}
	}
}