<div class="promotions_container" id="contest_form_container">

	<div class="block_container padded_block_container legal_content">
        <div class="page_title">
            Waiver and Release
        </div>

		<ol>
			<li>I am a resident of the city and province listed above.</li>
			
			<li>I am of the full age of majority in my province of residence.</li>
			
			<li>I am not an employee of Nexopia.com, Inc., its affiliates, subsidiary companies, agents or advertising agencies (collectively, the "Sponsor"), nor am I an immediate family member (parent, child, sibling or spouse) of any such employee.</li>
			
			<li>I acknowledge and agree that the Sponsor:
				<ol type="a">
					<li>has no liability of any kind whatsoever with respect to this promotion and/or the awarding or use of the promotion prize (the "Prize");</li>
					<li>makes no warranty, guaranty or representation of any kind concerning the Prize;</li>
					<li>disclaims any implied warranty; and</li>
					<li>is not liable for injury, loss or damage of any kind resulting from my acceptance or use of the Prize or otherwise from my participation in this promotion.</li>
				</ol>
			</li>
			
			<li>I acknowledge and agree that any failure by the promotion recipient to comply with the promotion Rules and Regulations or sign and return the Declaration and Release within 14 days of receipt will result in his or her disqualification and that another entry may be drawn.</li>
			
			<li>I acknowledge and confirm that:
				<ol type="a">
					<li>I have read, understood and complied with the promotion Rules and Regulations, and that I accept the Prize as awarded;</li>
					<li>The Sponsor and its agents may publish, display, transmit and broadcast, without further compensation, my name, city of residence, likeness, photograph and statements with respect to the promotion.</li>
				</ol>
			</li>
			
			<li>I warrant that I own the rights in the text, files, images, photos, video, sounds, musical works, works of authorship, or any other materials and information that I have posted to the Nexopia Website (collectively, the "Content").</li>
			
			<li>I hereby grant to the Sponsor a non-exclusive, fully paid, royalty free, sub-licensable, transferable and worldwide license and right (the "License") to use, modify, create derivative works of, perform, display, reproduce, incorporate into other works and distribute the Content in the Sponsor's promotional and advertising materials.</li>
			
			<li>I represent and warrant to the Sponsor that:
				<ol type="a">
					<li>I own the Content or I otherwise have the right to grant to us the License described above; and</li>
					<li>The posting, displaying, use or publishing of the Content in the Sponsor's promotional and advertising materials does not violate the privacy rights, publicity rights, copyright, trade-mark, patent, trade secret, other intellectual property rights, contractual rights or any other rights of any person.</li>
				</ol>
			</li> 
			
			<li>I agree to defend, indemnify and hold harmless the Sponsor, it officers, directors, employees and agents, suppliers, licensors, Sponsor and advertisers from and against any and all claims, damages, obligations, losses, costs and expenses, including without limitation reasonable legal fees and disbursements, which the Sponsor may suffer from any infringement or misappropriation of a third party's intellectual property rights or other proprietary rights by the Content.</li>
			
			<li>I hereby waive, in favour of the Sponsor, all my Moral Rights in and to the Content.  I further agree not to institute legal proceedings against the Sponsor with respect to these Moral Rights. For the purposes of this waiver and release, "Moral Rights" means any right to claim authorship of a work, any right to object or prevent any distortion or other modification of a work, or to withdraw from circulation or control the publication or distribution of a work, and any similar right, existing under judicial or statutory law of any country in the world, or under a treaty, regardless of whether or not such a right is denominated or generally referred to as a "moral right."</li>
		</ol>
	</div>
	
</div>