h1.header{
	text-align: left;
	color: $header_text_color;
	background-color: $header_background_color;
	font-family: $header_font_family;
	font-size: $header_font_size;
}

.right_align{
	float: right;
}

[disabled] {
	color: $minor_font_color;
}

div.selector_wrapper {
	display: inline;
}

td.sideheader
{
	vertical-align: middle;
	height: $side_header_height;
}

.enhanced_text_box_wrapper .tab_bar .tab_handles .tab_handle {
	color: #474747;
}

.enhanced_text_box_wrapper .tab_bar .tab_handles {
	background-color: inherit;
}