table {text-align: left;}
tr {vertical-align: top;}

body         { background: #333; font-family: arial, sans-serif; font-size: 8pt; margin: 0; }

a       		{ color: #d1d3d4; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt }
a:hover			{ color: #598241; }

td.footer		{ color:#d4d6d7; text-decoration:none; font: 6pt arial, sans-serif}

td.side					                { background-color: #0d0d0d; color: #a3a3a3; font-family: arial, sans-serif; font-size: 8pt; }
td.side a   	                 	{ color: #8f8f8f; text-decoration:none; }
td.side a:hover	            		{ color: #CF0C7D; }
td.side input, select, textarea { font-family: arial, sans-serif; font-size: 8pt;color: #000; border:1px solid #d4d6d7; margin: 1 0 0 0;}

td.border		{ background-color:#fff; }

td.sideheader		{ color:#fff; font-family: arial, sans-serif; font-size: 8pt; padding-bottom:3px; }

td.header		{ background-color: #2F2F2F; color: #fff; font-family: arial, sans-serif; font-size: 8pt}
a.header  	{ color: #fff; text-decoration:none;  }
a.header:hover	{ color: #d4d6d7; }

td.headerfront	{ color:#fff; background-color: #0F0F0F; height:30px; padding-bottom:8px; }


td.header2			{ color: #8F8F8F; font-family: arial, sans-serif; font-size: 8pt}
a.header2     	{ color: #a3a3a3; text-decoration:none; }
a.header2:hover		{ color: #fff; }

td.body			{ background-color: #0d0d0d; color: #a3a3a3; font-family: arial, sans-serif; font-size: 8pt}
td.body2		{ background-color: #2f2f2f; color: #c1c1c1; font-family: arial, sans-serif; font-size: 8pt}
a.body { color: #ee2b7b; }
a.body:hover	{ color: #CF0C7D; }
body input, select, textarea	{ font-family: arial, sans-serif; font-size: 8pt; color: #000; border:1px solid #d4d6d7;}
body textarea { font-size: 9pt; }

td.menu				{ color: #bfbfbf; font-family: arial, sans-serif; font-size: 9pt;}
td.menu a			{ color: #bfbfbf; text-decoration:none; font-family: arial, sans-serif; font-size: 9pt;}
td.menu a:hover		{ color: #dfdfdf; }

td.forumlst							{ color: #fff; font: 8pt arial, sans-serif}
a.forumlst:link,a.forumlst:visited 	{ color: #9F9F9F; text-decoration:none; font: 8pt arial, sans-serif }
a.forumlst:hover,a.forumlst:active 	{ color: #555555; text-decoration:none; font: 8pt arial, sans-serif }

td.forumlst1 { background-color:#D6E3EE; color: #0353A2; text-decoration:none; font: 8pt arial, sans-serif}
a.forumlst1:link,a.forumlst1:visited { color: #ee2b7b; text-decoration:none; font: 8pt arial, sans-serif }
a.forumlst1:hover,a.forumlst1:active { color: #516068; text-decoration:none; font: 8pt arial, sans-serif }

td.forumlst0 { background-color:#D6E3EE; color: #0353A2; text-decoration:none; font: 8pt arial, sans-serif}
a.forumlst0:link,a.forumlst0:visited { color: #CF0C7D; text-decoration:none; font: 8pt arial, sans-serif }
a.forumlst0:hover,a.forumlst0:active { color: #516068; text-decoration:none; font: 8pt arial, sans-serif }

a.forumlst2:link,a.forumlst2:visited { color: #e70422; text-decoration:none; font: 8pt arial, sans-serif }
a.forumlst2:hover,a.forumlst2:active { color: #516068; text-decoration:none; font: 8pt arial, sans-serif }

td.small  		{ background-color: #3F3F3F; color: #000; font-family: arial, sans-serif; font-size: 8pt}
a.small     	{ color: #000; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt; font-weight: bold }
a.small:hover	{ color: #b21325; }

td.msg		  	{ color:#A3A3A3; background-color:#0d0d0d; font-family: arial, sans-serif; font-size: 8pt}
a.msg       	{ color: #000; text-decoration:none; font-family: arial, sans-serif; font-size: 8pt }
a.msg:hover		{ color: #3A3A3A; }

a.vote      	{ color: #555555; text-decoration:none; font-family: arial, sans-serif; font-size: 15pt; font-weight: bold }
a.vote:hover	{ color: #d1d3d4; }

td.online		{ color: #00AA00; font-family: arial, sans-serif; font-size: 16pt; font-weight: bold}
td.offline		{ color: #BF0E00; font-family: arial, sans-serif; font-size: 16pt; font-weight: bold}
