ul#recent_galleries {
	& h2 {
		margin:0px;
		padding:0px;
		font-size: 13px;
		font-weight: bold;
		letter-spacing:0px;
		color: @primary_block_header_text_color;
	}
	padding: 0px;
	margin: 0px;
	list-style: none;
	& li {
		margin: 2px 0px;
		background-color: @secondary_block_background_color;
		height: 75px;
		overflow: hidden;
		color: @secondary_block_text_color;
		& .album_cover {
			float: left;
		}
		& .info {
			float: left;
			margin: 6px;
			width: 142px;
			font-size: 11px;
			
			& .name {
				font-weight: bold;
			}
			
			& .date {
				font-size: 10px;
			}
			
			& .description {
				padding-top: 6px;
				font-size: 10px;
			}
		}
		& a {
			text-decoration: none;
			color: @secondary_block_link_color;
			&:hover {
				color: @secondary_block_link_hover_color;
			}
			& img {
				border: 0px;
				height: 75px;
				width: 75px;
			}
		}
	}
}

/* For the profile blocks version of recent galleries we need things a bit narrower. */
#profile ul#recent_galleries {
	& li .info {
		width: 133px;
	}
}