<div id="plus">
	<div id="plus_details">

		<img src="#{$site.static_files_url}/plus/PlusLogoLarge.png" class="plus_logo" />
		<img src="#{$site.static_files_url}/plus/Prices.png" class="prices" />
		
		<div class="content">
		
			<div class="left_column">
				
				<span class="bold">Compare PLUS with the free account:</span>
				<table class="feature_container" cellspacing="0" cellpadding="0">
				<tr class="headings">
					<td>&#160;</td>
					<td>
						Free
					</td>
					<td>
						<img src="#{$site.static_files_url}/plus/PlusLogoSmall.png" />
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Profile Pictures
					</td>
					<td class="free">
						8
					</td>
					<td class="plus">
						12
					</td>
				</tr><tr>
					<td class="feature">
						Gallery Photos
					</td>
					<td class="free">
						250
					</td>
					<td class="plus">
						5,000
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Friend Messaging
					</td>
					<td class="free">
						one at a time
					</td>
					<td class="plus">
						multiple
					</td>
				</tr><tr>
					<td class="feature">
						Friends
					</td>
					<td class="free">
						250
					</td>
					<td class="plus">
						1,000
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Profile Skins
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Recent Visitors
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Fewer Ads
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Spotlight
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Visit Anonymously
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Sent Message Status
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Create a User Forum
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						File Hosting
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Hide Profile + Blogs Hits
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Delete Your Comments
					</td>
					<td class="free">
						your page
					</td>
					<td class="plus">
						any page
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						See Common Friends
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Custom Forum Rank
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Advanced User Search
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Frame-less Skins
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr>
				</table>
				
				<a href="/plus" class="buy_plus_now"><img src="#{$site.static_files_url}/plus/buy_plus_now.png" /></a><br />
				You can buy a 1 year membership for only $30!
				<br /><br />
				All prices on the site are quoted in Canadian dollars.<br/>
				All sales are final and nonrefundable.
				
			</div>
			
			<div class="right_column">
			
				<div class="get_more">
					<span class="heading">Get more with Nexopia PLUS</span><br />
					- Get spotlighted on the homepage<br />
					- Customize your profile with skins<br />
					- See who's visited your profile<br />
					- 20 times more photos
				</div>
				
			</div>
			
			<br class="clear" />
			
		</div>
		
		<img src="#{$site.static_files_url}/plus/BackgroundBottom.png" />
		
	</div>
</div>