<div id="mute_user">
	<a href="/videos">Back to Videos</a><br/><br/>
	<form action="{handler_root}/mute/post" method="post">
		<table>
			<tr>
				<td>Username:</td>
				<td><input type="text" name="username" id="username" value="{comment.username}"/></td>
			</tr>
			<tr>
				<td>Length:</td>
				<td>
					<select name="length" id="length">
						<option value="-1">choose length</option>
						<option value="3600">1 hour</option>
						<option value="10800">3 hours</option>
						<option value="43200">12 hours</option>
						<option value="86400">1 day</option>
						<option value="172800">2 days</option>
						<option value="259200">3 days</option>
						<option value="432000">5 days</option>
						<option value="604800">1 week</option>
						<option value="1209600">2 weeks</option>
						<option value="2592000">1 month</option>
						<option value="5184000">2 months</option>
						<option value="0">Indefinitely</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Global Length:</td>
				<td>
					<select name="global_length" id="global_length">
						<option value="-1">choose length</option>
						<option value="3600">1 hour</option>
						<option value="10800">3 hours</option>
						<option value="43200">12 hours</option>
						<option value="86400">1 day</option>
						<option value="172800">2 days</option>
						<option value="259200">3 days</option>
						<option value="432000">5 days</option>
						<option value="604800">1 week</option>
						<option value="1209600">2 weeks</option>
						<option value="2592000">1 month</option>
						<option value="5184000">2 months</option>
						<option value="0">Indefinitely</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Reason:</td>
				<td><textarea id="reason" name="reason" style="width: 100%; height: 50px"></textarea></td>
			</tr>
			<tr>
				<td>Video ID:</td>
				<td><input type="text" name="video_id" id="video_id" value="{comment.videoid}"/></td>
			</tr>
		</table>
		
		<input type="hidden" name="comment_id" id="comment_id" value="{comment.id}"/>
		<input type="hidden" name="back_link" id="back_link" value="{back_link}"/>
		<input type="submit" value="Send"/>
	</form>
</div>