<div id="edit_photo_panel" class="yui-module yui-overlay yui-panel" minion_name="edit_photo_panel" style="visibility: inherit; width: 540px;">
	<div class="button_bar" style="float: right;">
		<span id="cancel_button_edit_photo_panel" class="yui-button yui-button-button">
			<span class="first-child">
				<button type="button">cancel</button>
			</span>
		</span>
		<span id="save_button_edit_photo_panel" class="yui-button yui-button-button">
			<span class="first-child">
				<button type="button">save</button>
			</span>
		</span>
	</div>
	<div>
		Edit<br/>
		Long weekend road trip to Banff-f-f-f
	</div>
	<div class="button_bar">
		<span id="menu_button_edit_photo_panel" class="yui-button yui-menu-button yui-button-active yui-menu-button-active">
			<span class="first-child">
				<button type="button" title="Menu expanded.  Click or press Esc to collapse.">Move to:</button>
			</span>
		</span>
		<span id="crop_button_edit_photo_panel" class="yui-button yui-button-button">
			<span class="first-child">
				<button type="button">Crop Image</button>
			</span>
		</span>
		<span id="album_cover_button_edit_photo_panel" class="yui-button yui-button-button">
			<span class="first-child">
				<button type="button">Set as Album Cover</button>
			</span>
		</span>
		<span id="delete_button_edit_photo_panel" class="yui-button yui-button-button">
			<span class="first-child">
				<button type="button">Delete</button>
			</span>
		</span>
		<div id="yui-gen0" class="yui-module yui-overlay yuimenu yui-button-menu yui-menu-button-menu visible" style="z-index: 2; position: absolute; visibility: visible; left: 101px; top: -22px;">
			<div class="bd">
				<ul class="first-of-type">
					<li class="yuimenuitem first-of-type" id="yui-gen1" groupindex="0" index="0">
						<a href="#" class="yuimenuitemlabel">thing1</a>
					</li>
					<li class="yuimenuitem" id="yui-gen2" groupindex="0" index="1">
						<a href="#" class="yuimenuitemlabel">thing2</a>
					</li>
					<li class="yuimenuitem" id="yui-gen3" groupindex="0" index="2">
						<a href="#" class="yuimenuitemlabel">thing3</a>
					</li>
				</ul>
			</div>
			<div class="yui-menu-shadow yui-menu-shadow-visible"/>
		</div>
	</div>
	<img src="/images/gallery/0/203/21930.jpg" style="z-index: -1;"/>
</div>