<div id="gallery_management">
	<link rel="stylesheet" type="text/css" href="{$site.static_files_url}/yui/build/container/assets/container.css"></link> 
	<link rel="stylesheet" type="text/css" href="{$site.static_files_url}/yui/build/menu/assets/skins/sam/menu.css"></link> 

	<t:template-include module="gallery" name="gallery_manager_title"/>
	<div class="gallery">
		<t:template-include module="gallery" name="album_info"/>
		<div id="gallery_information">
			<t:template-include module="gallery" name="gallery"/>
		</div>
	</div>
</div>