<div t:docid="gallery_header" id="gallery_header">
	<div>
		<form action="/my/gallery/upload/{selected_gallery}" class="gallery_menu">
			<input type="submit" value="Upload Images"/>
		</form>
		<form action="/my/gallery/create" class="gallery_menu">
			<input id="create_gallery" type="submit" value="Create Gallery"/>
		</form>
	</div>
	<form action="/my/gallery/gallery_action/" method="POST">
		<ul class="album_row">
			<li id="gallery_{gallery.id}" t:id="user.galleries_sorted_by_name" t:iter="gallery">
				<div class="tab_photoframe3">
					<div class="borderdraw tab_photoframe1"></div>
					<div class="borderdraw tab_photoframe2"></div>
					<div name="gallery_folder" id="gallery[{gallery.id}]" class="photoframe folder_photoframe">
						<div class="edit_bar gallery_folder_bar">
							<div>
								<div class="right_menu">
									<a class="edit_link" href="/galleries/%{user.username}/{gallery.id}/%{gallery.name}">View ({gallery.pics.length})</a>
									<a class="script" name="delete_link" class="gallery_delete" id="delete_link[{gallery.id}]" href="/my/gallery/delete_gallery/{gallery.id}">
										<img src="{$site.static_files_url}/Gallery/images/delete.gif"/>
									</a>
								</div>
							</div>
						</div>
						<a href="/my/gallery/{gallery.id}">
							<img id="album_cover[{gallery.id}]" t:linktype="square" t:id="gallery"/><br/>
						</a>
						<div class="lower">
							<h4 class="header_box" id="gallery_title[{gallery.id}]">{gallery.name}</h4>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</form>
	<br class="clear"/>
</div>
