<div id="manage_profile_pictures">
	<input type="hidden" id="manage_profile_pictures_form_key" value="{form_key}"/>
	<ul>
		<li t:id="user.pic_slots" t:iter="pic">
			<div class="profile_pic_frame" id="profile_pic_frame_{pic.priority}">
				<div class="profile_pic {pic.empty? ? 'empty_image' : ''}" style="background-image:url(#{pic.img_info('landscapethumb')[1]});">
					<div class="edit_bar profile_pic_bar">
						<div>
							<div class="right_menu">
								<!-- 
								//This would be nice to support someday, but we'll
								//have to find a way to get the ID of the gallery image.
									<a class="edit_link" href="#">Edit</a>
								-->
								<a class="script" class="delete_profile_pic" href="/my/gallery/profile/pic/delete/{pic.priority}">
									<img src="{$site.static_files_url}/Gallery/images/delete.gif"/>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="description">{pic.description}</div>
			</div>
		</li>
	</ul>
	<br class="clear"/>
</div>
