<div t:docid="comments_profile_block" id="comments_profile_block">
	<a name="comments_top"/>
	<div class="header_accessory">
		<t:if t:id="view_all">
			<a href="/users/%{profile_user.username}/comments">
				view all (#{comments_count})
			</a>
		</t:if>
		<t:if t:id="admin_viewer">
			&nbsp;|&nbsp;
			<a href="/users/%{profile_user.username}/comments/admin">
				view all+deleted
			</a>
		</t:if>    
	</div>
	
	<t:json t:data="comments_id_list" t:handle="comments_id_list" />
	<t:json t:data="current_page" t:handle="current_page" />
	
	<div class="comments_section">
		<div class="block_title">
			COMMENTS    
		</div>
		<t:if t:id="show_editor">
			<t:template-include t:name="comments_editor" t:module="comments" />
		</t:if>
		
		<t:if t:id="viewing_user.anonymous?()">
			<a href="/account/join">Join</a>&#160;or&#160;<a href="/account/login?referer=/users/%{profile_user.username}#comments_top">login</a>&#160;to view and post comments.
		</t:if>
		<t:if t:id="!viewing_user.anonymous?()">
			<t:iter t:id="comments_list.compact" t:iter="comment">
				<t:if t:id="!comment.nil?()">
					<t:template-include t:module="comments" t:name="single_comment"/>
				</t:if>
			</t:iter>
			<div id="comment_placeholder"></div>
		</t:if>
	</div>	
</div>

