<table id="devindex" width="100%" class="bgwhite" align="center" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<tr>
		<td colspan="4" align="center">
			<h1>DevUtils</h1>
			Change Browser Resolution:
			<a href="javascript:resizeTo(800,570)">800x570</a> |
			<a href="javascript:resizeTo(1024,738)">1024x738</a> |
			<a href="javascript:resizeTo(1152,834)">1152x834</a> |
			<a href="javascript:resizeTo(1280,994)">1280x994</a>
		</td>
	</tr>
	<tr>
		<td valign="top">
			Dev Utils:
			<ul>
				<li><a href="/pagehandlers/list">List of PageHandlers</a></li>
				<li><a href="/pastebin">Pastebin</a></li>
				<li><a href="/searchcode/">Search Code</a></li>
				<li><a href="/tests/">Test Harness</a></li>
				<li><a href="/project/4">Task Manager For Rewrite</a></li>
				<li><a href="/project/4/sprint/6">Current Sprint (Thermic Mega-Site)</a></li>
				<li><a href="/project/4/sprint/6/log">Current Sprint's Log</a></li>
				<li><a href="/projectv2/">Mike's Task Manager</a></li>
			</ul>
		</td>
		<td valign="top">
			Local stuff:
			<ul>
				<li><a href="http://www.nexopia.com/">Live Site</a></li>
				<li><a href="http://www.test.nexopia.com/">Live Test Site</a> (tester/nexopia)</li>
				<li><a href="http://www.dev.nexopia.com/">Dev Site</a></li>

				<li><a href="http://www.timo.dev.nexopia.com/">Timo's Dev Site</a></li>
				<li><a href="http://rubysite-timo">Timo's Ruby Dev Site</a></li>

				<li><a href="http://phpmyadmin.dev.nexopia.com/">phpMyAdmin</a></li>
				<li><a href="http://svn.dev.nexopia.com/svn">Subversion</a></li>
				<li><a href="http://svn.dev.nexopia.com/trac">Trac Task Manager</a></li>
			</ul>
		</td>
		<td valign="top">
			Manuals:
			<ul>
				<li><a href="http://liorean.web-graphics.com/xhtml/comparison.loose-strict.html">Loose vs. Strict conformance in XHTML</a></li>
				<li><a href="http://www.dev.nexopia.com/doc/">Site RDoc</a></li>
				<li><a href="http://www.ruby-doc.org/">Ruby Documentation</a></li>
				<li><a href="http://dev.mysql.com/doc/refman/5.0/en/">MySQL Documentation</a></li>
				<li><a href="http://www.w3.org/">W3 - HTML, CSS, DOM</a></li>
				<li><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf">Javascript PDF</a></li>
				<li><a href="http://php.net">PHP Site</a></li>
			</ul>
		</td>
		<td valign="top">
			Software:
			<ul>
				<li><a href="http://lighttpd.net/">Lighttpd</a></li>
				<li><a href="http://httpd.apache.org/">Apache</a></li>
				<li><a href="http://www.mysql.com/">Mysql Website</a></li>
				<li><a href="http://www.danga.com/memcached/">Memcached</a></li>
				<li><a href="http://www.danga.com/mogilefs/">Mogilefs</a></li>
				<li><a href="http://subversion.tigris.org/">Subversion</a></li>
				<li><a href="http://www.ruby-lang.org/en/">Ruby Website</a></li>

				<li><a href="http://www.java.com/en/">Java Site</a></li>
			</ul>
		</td>
	</tr>
</table>
