<div id="potential-poll" style="text-align: center; background-color: #FFFFFF;">
	<h1>
	AdBlasterWeb
	</h1>
	<table>
		<tr>
			<td> Potential Checker </td>
			<td>
				<div id="percent"></div>
			</td>
			<td>
				<div id="estimate"></div>
			</td>
		</tr>
	</table>
	<script>
		function insertInfo(xmlDoc){
			var root = xmlDoc.getElementsByTagName("body")[0].firstChild;
			var parser = new DOMParser();
			window.status = root
			var doc = parser.parseFromString(root.nodeValue, "text/xml");
			
			var percent = doc.evaluate("//percent", doc.documentElement, null, XPathResult.STRING_TYPE, null).stringValue;
			document.getElementById("percent").innerHTML = percent;
			var estimate = doc.evaluate("//estimate", doc.documentElement, null, XPathResult.STRING_TYPE, null).stringValue;
			document.getElementById("estimate").innerHTML = estimate;
		}
		
		function update(){
			get = AJAXDataGet("/adblaster/progress?bid=#{bid}", window.insertInfo);
			get.begin();
			setTimeout(update, 5000);
		}
		setTimeout(update, 1000);
	</script>
</div>