<div>
	<script type="text/javascript">
		<![CDATA[ 
			function toggleDisplay(element) {
				if (element.style.display == "none") {
					element.style.display = "";
				} else {
					element.style.display = "none";
				}
			}
		]]>
	</script>
	Click on a row for detailed error information.
	<table>
		<tr>
			<th>Class</th>
			<th>Test</th>
			<th>Exception</th>
			<th>Type</th>
			<th>Revision</th>
			<th>Author</th>
		</tr>
		<t:loop t:id="broken_tests" t:iter="test_status, index">
			<tr onclick="toggleDisplay(document.getElementById('test_status[{index}]'))">
				<td>{test_status.testclass}</td>
				<td>{test_status.test}</td>
				<td>{test_status.testerror}</td>
				<td>{test_status.type}</td>
				<td>{test_status.revision_broken}</td>
				<td>{test_status.author_broken}</td>
			</tr>
			<tr id="test_status[{index}]" style="display:none">
				<td colspan="6">
					<pre style="font-size:1em;background-color:LightGoldenRodYellow;border-style:solid;border-width:1px">
						{test_status.content}
					</pre>
				</td>
			</tr>
		</t:loop>
	</table>
</div>