<t:template>
	<a href="/jobs/administration/">Main</a>
	<dl>
		<t:iter t:id="nav_menu" t:iter="nav">
			<dt>
				<t:if t:id="nav.department.depid > 0 && nav.department.depid != dep_id">
					<a t:id="nav.department" t:linktype="admin_view"></a>
				</t:if>
				<t:if t:id="nav.department.depid <= 0 || nav.department.depid == dep_id">
					{nav.department.name}
				</t:if>
			</dt>
			<t:iter t:id="nav.job_list" t:iter="nav_job">
				<dd>
					<t:if t:id="nav_job.jobid != job_id">
						<a t:id="nav_job" t:linktype="admin_view"></a>
					</t:if>
					<t:if t:id="nav_job.jobid == job_id">
						{nav_job.title}
					</t:if>
				</dd>
			</t:iter>
		</t:iter>
	</dl>
</t:template>