<div id="doc2" class="yui-t1 job_admin">
	<div id="hd">
		
	</div>
	<div id="bd">
		<div id="yui-main">
			<div class="yui-b yui-skin-sam">
				<div class="yui-g">
					<div class="job_admin_tab_menu">
						<div>
							<a href="/jobs/administration/job/{job.jobid}/">Job Details</a>
						</div>
						<div class="selected">
							View Applicants
						</div>
						<div>
							Nuts
						</div>
					</div>
					<t:template-include t:module="jobs" t:name="view_applicants"></t:template-include>
				</div>
			</div>
		</div>
		<div class="yui-b">
			<t:template-include t:module="jobs" t:name="admin_nav_menu"></t:template-include>
		</div>
	</div>
</div>