<div id="job_admin_details">
	<h1>
		{job.title}
	</h1>
	<div class="yui-u first">
		<div>
			<h2>
				Description
			</h2>
			{job.description}
		</div>
		<div>
			<h2>
				Responsibilities
			</h2>
			{job.responsibilities}
		</div>
		<div>
			<h2>
				Requirements 
			</h2>
			{job.requirements}
		</div>
	</div>
	<div class="yui-u">
		<div>
			<h2>
				Closing Date
			</h2>
			{job.closing_date_string}
		</div>
		<div>
			<h2>
				Opening Date
			</h2>
			{job.opening_date_string}
		</div>
	</div>
</div>