<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Applicant Profile
				</div>
				<div class="company_info">
					This is the information you submitted to Nexopia.com the last time you applied. From here
					you can update your information and any submitted assets. You can also submit new applications
					for jobs and departments. It also shows which positions you've applied for previously.
				</div>
			</div>
			<t:template-include t:module="jobs" t:name="applicant_details"></t:template-include>
			<t:template-include t:module="jobs" t:name="applicant_assets_view"></t:template-include>
			<t:template-include t:module="jobs" t:name="applicant_job_listings"></t:template-include>
			<t:template-include t:module="jobs" t:name="previous_applications"></t:template-include>
		</div>
	</div>
</div>