<div class="yui-g">
	<div class="jobs_section_header">
		Apply to Another Position
	</div>
	<table class="applicant_information">
		<tbody>
			<tr>
				<td>
					You can apply for additional open positions.
					Follow the application link to the right to view and apply to these positions.
				</td>
				<td>
					&#160;
				</td>
			</tr>
			<tr>
				<td>
					You can also apply to any of our departments which you haven't applied to previously.
				</td>
				<td>
					&#160;
				</td>
			</tr>
			<tr>
				<td>
					&#160;
				</td>
				<td class="applicant_reapply">
					<a href="/jobs/applicant/{app_hash}/list/">
						<img src="{$site.static_files_url}/jobs/icons/jobs_btn_apply.gif"></img>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>