<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Apply for More Jobs!
				</div>
				<div class="company_info">
					Below you'll find a list of the positions and departments you haven't applied to
					previously.
				</div>
			</div>
			<div id="jobs_content" class="yui-g">
				<div id="jobs_listing">
					<div class="jobs_section_header">
						Job Positions
					</div>
					<t:template-include t:module="jobs" t:name="applicant_reapply_jobs_listing"></t:template-include>
				</div>
				<t:if t:id="job">
					<div id="jobs_details">
						<t:template-include t:module="jobs" t:name="job_details"></t:template-include>
					</div>
				</t:if>
			</div>
			<div id="jobs_departments" class="yui-g">
				<div id="jobs_listing">
					<div class="jobs_section_header">
						Departments
					</div>
					<t:template-include t:module="jobs" t:name="applicant_reapply_department_listing"></t:template-include>
				</div>
				<t:if t:id="dep">
					<div id="jobs_details">
						<t:template-include t:module="jobs" t:name="department_details"></t:template-include>
					</div>
				</t:if>
			</div>
		</div>
	</div>
</div>
