<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Apply
				</div>
				<div class="company_info">
					This is the information which be used with your application. If
					you would like to change any of it please return to your&#160;
					<a href="/job/applicant/{app_hash}/">Applicant Profile</a>&#160;to edit it. 
				</div>
			</div>
			<div class="yui-g" id="job_app">
				<table>
					<tbody>
						<tr>
							<td class="app_field_description">
								Full Name
							</td>
							<td class="app_input">
								{app.name}
							</td>
						</tr>
						<tr>
							<td class="app_field_description">
								E-mail Address
							</td>
							<td class="app_input">
								{app.email}
							</td>
						</tr>
						<tr>
							<td class="app_field_description">
								Telephone Number
							</td>
							<td class="app_input">
								{app.formatted_phone_number}
							</td>
						</tr>
						<tr>
							<td class="app_field_description">
								Preferred Contact Method
							</td>
							<td class="app_input_nosize app_input_no_border">
								{app.preferred_contact_method()}
							</td>
						</tr>
						<tr>
							<td class="app_field_description">
								Contact Notes
							</td>
							<td class="app_input">
								{app.contactnotes}
							</td>
						</tr>
						<tr>
							<td class="app_field_description">
								Job Position(s)
							</td>
							<td class="app_input">
								We prefer receiving cover letters and r&#233;sum&#233;s as
								separate documents. If possible, please submit them
								separately below. If this is not possible for you,
								please leave the Cover Letter field empty and upload
								the single document into the R&#233;sum&#233; field. All attached
								documents should be in one of these formats: Microsoft Word,
								OpenOffice, PDF, or Plain Text.<br />
							</td>
						</tr>
						<t:varsub t:new="app_cover_letter" t:old="app.cover_letter()"></t:varsub>
						<t:if t:id="!app_cover_letter.nil?()">
							<tr>
								<td class="app_field_description">
									Cover Letter
								</td>
								<td class="app_input">
									<a t:id="app_cover_letter"></a>
								</td>
							</tr>
						</t:if>
						<t:varsub t:new="app_resume" t:old="app.resume()"></t:varsub>
						<t:if t:id="!app_resume.nil?()">
							<tr>
								<td class="app_field_description">
									R&#233;sum&#233;
								</td>
								<td class="app_input">
									<a t:id="app_resume"></a>
								</td>
							</tr>
						</t:if>
						<tr>
							<td colspan="2" class="app_input_nosize form_submit">
								<form method="post" name="new_job_app" id="new_job_app" action="/jobs/{submit_location}/submit/">
									<input type="submit" name="{submit_button}" value="Submit Application"/>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
