<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Applicant Asset Update
				</div>
				<div class="company_info">
					The new file you upload will replace the existing {asset_type.name} that is in the system.
				</div>
			</div>
			<div class="yui-g">
				<form enctype="multipart/form-data" name="applicant_asset_update" id="applicant_asset_update" method="post" action="{$site.upload_url}/httpupload/jobs/applicant/{app_hash}/asset/type/{asset_type.assettypeid}/edit/submit/">
					<input type="hidden" value="2048000" name="MAX_FILE_SIZE"/>
					<input type="hidden" value="Jobs" name="type"/>
					<table>
						<tbody>
							<tr>
								<td>
									New {asset_type.name}
								</td>
								<td>
									<input type="file" name="asset_file_upload" size="40" />
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<input type="submit" name="asset_update_submit" id="asset_update_submit"></input>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>