<div class="yui-g">
	<div class="jobs_section_header">
		Submitted Assets
	</div>
	<table class="applicant_information">
		<tbody>
			<t:iter t:id="app.structured_assets()" t:iter="organized_asset">
				<tr>
					<td class="app_summary_description">
						{organized_asset.asset_type.name}
					</td>
					<td>
						<table class="applicant_asset">
							<tbody>
								<t:iter t:id="organized_asset.asset_list" t:iter="asset">
									<tr>
										<td>
											<a t:id="asset"></a>
										</td>
										<td class="applicant_asset_update">
											<t:if t:id="!admin_view">
												<a href="/jobs/applicant/{app_hash}/asset/type/{asset.asset_type.assettypeid}/edit/">
													<img src="{$site.static_files_url}/jobs/icons/jobs_btn_update.gif"></img>
												</a>
											</t:if>
											<t:if t:id="admin_view">
												&#160;
											</t:if>
										</td>
									</tr>
								</t:iter>
							</tbody>
						</table>
					</td>
				</tr>
			</t:iter>
		</tbody>
	</table>
</div>