<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Departments
				</div>
				<div class="company_info">
					If we didn't have any job postings related to your skills on the main jobs page, you
					can apply here for any future openings we have in our various departments.
				</div>
			</div>
			<div id="department_listing" class="yui-g">
				<t:iter t:id="dep_list" t:iter="dep">
					<t:template-include t:module="jobs" t:name="department_view"></t:template-include>
				</t:iter>
			</div>
		</div>
	</div>
</div>