<t:template>
	<a name="job_details">&#160;</a>
	<div class="jobs_section_header">
		{dep.name}
	</div>
	{dep.description}<br/>
	<div class="job_apply">
		<t:if t:id="app_hash.nil?()">
			<a t:id="dep" t:linktype="apply">
				<img src="{$site.static_files_url}/jobs/icons/jobs_btn_apply.gif"></img>
			</a>
		</t:if>
		<t:if t:id="!app_hash.nil?()">
			<a href="/jobs/applicant/{app_hash}/department/{dep.depid}/apply/">
				<img src="{$site.static_files_url}/jobs/icons/jobs_btn_apply.gif"></img>
			</a>
		</t:if>
	</div>
</t:template>
