<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					We're Hiring
				</div>
				<div class="company_info">
					Since 2003, Nexopia.com has been picking up speed.
					As one of the fastest growing social networks in Canada, over
					1,000,000 users have signed onto Nexopia.  This new medium has
					resonated with our youthful demographic who have something to
					say and, now, a place to say it.
				</div>
				<div class="jobs_image">
					<img border="0" src="{$site.static_files_url}/jobs/images/jobs_fooseball.jpg" alt="Fooseball" class="imgFooseball" width="450" height="154" />
				</div>
				<div class="jobs_section_header">
					Why work for us?
				</div>
				<div class="company_benefits">
					<span>
						Since 2003, Nexopia.com has been picking up speed.  As one of the
						fastest growing social networks in Canada, over 1,000,000 users have
						signed onto Nexopia.
					</span>
					<ul>
						<li/>Central Downtown location
						<li/>Good work environment
						<li/>Growing company oasidjlkj
						<li/>lorem ipsum deun sj uahus uhas
						<li/>Game lounge room
					</ul>
				</div>
			</div>
			<div id="jobs_content" class="yui-g">
				<div id="jobs_listing">
					<div class="jobs_section_header">
						Job Positions
					</div>
					<t:template-include t:module="jobs" t:name="front_jobs_listing"></t:template-include>
				</div>
				<t:if t:id="job">
					<div id="jobs_details">
						<t:template-include t:module="jobs" t:name="job_details"></t:template-include>
					</div>
				</t:if>
			</div>
			<div id="jobs_departments" class="yui-g">
				<div class="jobs_section_header">
					Apply to a Department
				</div>
				We are always on the lookout for talented individuals.
				If you don't see an applicable job above, you can apply directly to one of
				Nexopia.com's departments. Doing so will put you into our job bank which we
				utilize with new job postings.
				<ul>
					<li>
						<a href="/jobs/departments/">Choose a department</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
