<div id="doc2" class="yui-t1 job_admin">
	<div id="hd">
		Jobs Administration
	</div>
	<div id="bd">
		<div id="yui-main">
			<div class="yui-b">
				<div class="yui-g">
					<div class="yui-u first">
						<a href="/jobs/administration/job/new">Add a new job</a><br/>
						<a href="/jobs/administration/manager/new">Add a new manager</a><br/>
						Department Management<br/>
						View entire applicant pool<br/>
					</div>
					<div class="yui-u">
					</div>
				</div>
			</div>
		</div>
		<div class="yui-b">
			<t:template-include t:module="jobs" t:name="admin_nav_menu"></t:template-include>
		</div>
	</div>
</div>