<div id="jobs_doc" class="yui-t7">
	<div id="jobs">
		<div id="hd">
			Jobs
		</div>
		<div id="bd">
			<div class="yui-g" id="jobs_intro">
				<div id="jobs_page_title">
					Apply
				</div>
				<div class="company_info">
					Since 2003, Nexopia.com has been picking up speed.  As one of the fastest
					growing social networks in Canada, over 1,000,000 users have signed onto Nexopia.
					This new medium has resonated with our youthful demographic who have something to
					say and, now, a place to say it.
				</div>
				<div class="jobs_reapplication">
					If you've applied to one of our jobs or departments previously you can access your information&#160;<a href="/jobs/applicant/request/">here</a>.
				</div>
			</div>
			<div class="yui-g" id="job_app">
				<form enctype="multipart/form-data" method="post" name="new_job_app" id="new_job_app" action="{$site.upload_url}/httpupload/jobs/{submit_location}/submit/">
					<input type="hidden" value="2048000" name="MAX_FILE_SIZE"/>
					<input type="hidden" value="Jobs" name="type"/>
					<t:if t:id="job_id">
						<input type="hidden" value="{job_id}" name="app_job_id"/>
					</t:if>
					<t:if t:id="dep_id">
						<input type="hidden" value="{dep_id}" name="app_dep_id"/>
					</t:if>
					<table>
						<tbody>
							<tr>
								<td class="app_field_description">
									Full Name
								</td>
								<td class="app_input">
									<input type="text" name="app_name" id="app_name"  />
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									E-mail Address
								</td>
								<td class="app_input">
									<input type="text" name="app_email" id="app_email" />
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									Telephone Number
								</td>
								<td class="app_input">
									<input type="text" name="app_phone" id="app_phone" />
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									Preferred Contact Method
								</td>
								<td class="app_input_nosize app_input_no_border">
									<input type="radio" name="app_contact_type" id="app_contact_type" value="email" /><span class="jobs_radio_text">E-Mail</span><br />
									<input type="radio" name="app_contact_type" id="app_contact_type" value="phone" /><span class="jobs_radio_text">Telephone, according to hours below</span>
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									Contact Notes
								</td>
								<td class="app_input">
									<textarea name="app_contact_details" id="contact_details">
										any day of the week, 9 AM - 9 PM
									</textarea>
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									Job Position(s)
								</td>
								<td class="app_input">
									We prefer receiving cover letters and r&#233;sum&#233;s as
									separate documents. If possible, please submit them
									separately below. If this is not possible for you,
									please leave the Cover Letter field empty and upload
									the single document into the R&#233;sum&#233; field. All attached
									documents should be in one of these formats: Microsoft Word,
									OpenOffice, PDF, or Plain Text.<br />
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									Cover Letter
								</td>
								<td class="app_input">
									<input type="file" name="cover_letter_file_upload" size="40" />
								</td>
							</tr>
							<tr>
								<td class="app_field_description">
									R&#233;sum&#233;
								</td>
								<td class="app_input">
									<input type="file" name="resume_file_upload" size="40" />
								</td>
							</tr>
							<tr>
								<td colspan="2" class="app_input_nosize form_submit">
									<input type="submit" name="{submit_button}" value="Submit Application"/>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
