<div>
	<form name="new_availability_type" id="new_availability_type" method="post" action="/jobs/administration/availability/{submit_location}/submit/">
		<table>
			<tbody>
				<tr>
					<td>
						Status
					</td>
					<td>
						<input type="text" name="at_name" id="at_name" value="{avail_type.name}"></input>
					</td>
				</tr>
				<tr>
					<td>
						Available?
					</td>
					<td>
						<input type="radio" name="at_available" value="available">Available</input>
						<input type="radio" name="at_available" value="not_available">Not Available</input>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" name="at_submit" id="at_submit"></input>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>