<form name="new_asset_type" method="post" action="/jobs/administration/asset/type/{submit_location}/submit/">
	<table>
		<tbody>
			<tr>
				<td>
					Name
				</td>
				<td>
					<input type="text" name="asset_type_name" id="asset_type_id"></input>
				</td>
			</tr>
			<tr>
				<td>
					Multistep
				</td>
				<td>
					<input type="checkbox" name="asset_type_multistep" id="asset_type_multistep" value="multistep"></input>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" id="asset_type_submit" name="asset_type_submit"></input>
				</td>
			</tr>
		</tbody>
	</table>
</form>