<form method="post" name="new_job" action="/jobs/administration/job/{submit_location}/submit/">
	<table>
		<tbody>
			<tr>
				<td>
					Job Title
				</td>
				<td>
					<input type="text" name="job_title" id="job_title" value="{job.title}"></input>
				</td>
			</tr>
			<tr>
				<td>
					Job Description
				</td>
				<td>
					<textarea name="job_description" id="job_description" rows="10" cols="40">{job.description}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					Job Responsibilities
				</td>
				<td>
					<textarea name="job_responsibilities" id="job_responsibilities" rows="10" cols="40">{job.responsibilities}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					Job Requirements
				</td>
				<td>
					<textarea name="job_requirements" id="job_requirements" rows="10" cols="40">{job.requirements}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					Opening Data
				</td>
				<td>
					<input type="text" name="job_opening_date" id="job_opening_date" value="{job.opening_date_string}"></input> (dd/mm/yyyy)
				</td>
			</tr>
			<tr>
				<td>
					Closing Date
				</td>
				<td>
					<input type="text" name="job_closing_date" id="job_closing_date" value="{job.closing_date_string}"></input> (dd/mm/yyyy)
					<div>
						<input type="checkbox" name="job_close_now" id="job_close_now" value="close_now"></input>
						Close job posting now
					</div>
				</td>
			</tr>
			<tr>
				<td>
					Department
				</td>
				<td>
					<select name="job_department" id="job_department">
						<option value="-1" cond:selected="job.no_dep()">Please select a department</option>
						<t:iter t:id="dep_list" t:iter="dep">
							<option value="{dep.depid}" cond:selected="job.dep_match(dep.depid)">{dep.name}</option>
						</t:iter>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" name="job_submit" id="job_submit"></input>
				</td>
			</tr>
		</tbody>
	</table>
</form>
