<form name="new_manager" method="post" action="/jobs/administration/manager/{submit_location}/submit/">
	<table>
		<tbody>
			<tr>
				<td>
					User Name
				</td>
				<td>
					<t:if t:id="manager.userid.nil?() || manager.userid == 0">
						<input type="text" id="manager_username" name="manager_username"></input>
					</t:if>
					<t:if t:id="!manager.userid.nil?() && manager.userid > 0">
						{manager.username}
					</t:if>
				</td>
			</tr>
			<tr>
				<td>
					Name
				</td>
				<td>
					<input type="text" id="manager_name" name="manager_name" value="{manager.name}"></input>
				</td>
			</tr>
			<tr>
				<td>
					Email
				</td>
				<td>
					<input type="text" name="manager_email" id="manager_email" value="{manager.email}"></input>
				</td>
			</tr>
			<tr>
				<td>
					Departments
				</td>
				<td>
					<select name="manager_departments" id="manager_departments" multiple="multiple" size="{dep_list.length}">
						<t:iter t:id="dep_list" t:iter="dep">
							<option value="{dep.depid}">{dep.name}</option>
						</t:iter>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" name="manager_submit" id="manager_submit"></input>
				</td>
			</tr>
		</tbody>
	</table>
</form>