div#groups_profile_block {
	margin-bottom: -6px;
	
	& .group_type {
		font-weight: bold;
		width: 150px;
	}
	
	& .single_connection {
		padding-bottom: 6px;
	}
	
	& .name {
		font-weight: bold;
	}
	
	& .location {
		font-size: 10px;
	}
	
	& .duration {
		font-size: 10px;
		font-style: italic;
	}
}