<div class="accountcreate_content_container">
	<div class="content">
		<div id="create_profile">
			<div class="header_box"><div class="header"><div class="header_text">JOIN NEXOPIA.COM</div></div></div>
			<div class="section">
	
				<h2 style="margin-bottom: -8px">Your Account has been created!</h2>
				<p>
					Your activation has been sent by email. In the mean time you can quickly get started on Nexopia.com by editing your 
					basic profile info and finding your friends.
				</p>
				
				<t:template-include name="arrow_bar" module="accountcreate"/>
	
				<form method="post" action="/my/accountcreate/profile/update">
					<table>
						<tbody>
							<tr>
								<th>Weight:</th>
								<td><t:handler-include path="/current/selector/weight/{weight}" area="Skeleton"/></td>
							</tr>
							<tr>
								<th>Height:</th>
								<td><t:handler-include path="/current/selector/height/{height}" area="Skeleton"/></td>
							</tr>
							<tr>
								<th>Sexual Orientation:</th>
								<td><t:handler-include path="/current/selector/orientation/{orientation}" area="Skeleton"/></td>
							</tr>
							<tr>
								<th>Dating Situation:</th>
								<td><t:handler-include path="/current/selector/dating/{dating}" area="Skeleton"/></td>
							</tr>
							<tr>
								<th>Living Situation:</th>
								<td><t:handler-include path="/current/selector/living/{living}" area="Skeleton"/></td>
							</tr>
							<tr>
								<th>{about_title}:</th>
								<td><textarea name="about">{about}</textarea></td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" name="block_id" value="{block_id}" />
					<div>
						<input type="submit" class="button" name="action" value="Continue" />
						<input type="submit" class="button" name="action" value="Finish" /></div>
				</form>
			</div>
		</div>
	</div>
</div>
