<div class="accountcreate_content_container">
	<div class="content">
		<div id="create_picture">
			<div class="header_box"><div class="header"><div class="header_text">JOIN NEXOPIA.COM</div></div></div>
			<div class="section">

				<t:template-include name="arrow_bar" module="accountcreate"/>

				<p>
					Upload a picture of yourself that others will see when they look at your profile. You can always change it and 
					add more after you start using the site.
				</p>

				<div>
					#{upload_error_vi} #{upload_error_vm}
				</div>
					
				<form enctype="multipart/form-data" method="post" action="#{$site.upload_url}/httpupload/my/accountcreate/picture/update">
					<table>
						<tbody>
							<tr>
								<th>Picture:</th>
								<td><input type="file" id="Filedata" name="file_upload" /></td>
								<input type="hidden" name="type" value="LegacyUserpics"/>
							</tr>
						</tbody>
					</table>

					<input type="submit" class="button" name="action" value="Continue" />
					<input type="submit" class="button" name="action" value="Finish" />

				</form>
			</div>
		</div>
	</div>
</div>
