<div class="accountcreate_content_container">
	<div class="content">
		<div id="invite_friends">
			<div class="header_box">
				<div class="header">
					<div class="header_text">
						JOIN NEXOPIA.COM
					</div>
				</div>
			</div>
			<div class="section">
				<t:template-include t:name="arrow_bar" t:module="accountcreate"/>
				<t:handler-include t:path="/friends/find/import/body" t:area="Self">
					<t:var t:name="'redirect_location'" t:val="redirect_location"></t:var>
					<t:var t:name="'finish_location'" t:val="finish_location"></t:var>
				</t:handler-include>
			</div>
		</div>
	</div>
</div>