<div class="accountcreate_content_container">
	<div class="content">
		<div id="invite_optout">
			<div class="header_box"><div class="header"><div class="header_text">OPT OUT OF NEXOPIA.COM INVITES</div></div></div>
			<div class="section">
				<p>
					Enter your E-mail address and click Confirm to no longer receive invitations to Nexopia.com.
				</p>
				
				<table>
					<form action="/accountcreate/optout/update" method="post">
						<tr>
							<td>Your Email:</td>
							<td><input class="body" name="email" maxlength="255" /></td>
						</tr>
						<tr>
							<td></td>
							<td><input class="body" type="submit" name="action" value="Confirm" /></td>
						</tr>
					</form>
				</table>
			</div>
		</div>
	</div>
</div>