<div id="search_advanced">
	<form method="post" action="/search/advanced/results">
		<div class="search_cols">
			Age <input id="agemin" name="agemin" value="{agemin}" size="1" maxlength="2" />
			to  <input id="agemax" name="agemax" value="{agemax}" size="1" maxlength="2" />
			<br />
			<select id="sex" name="sex">
				<option value="2" cond:selected="sex == 2"> Male/Female</option>
				<option value="0" cond:selected="sex == 0"> Male</option>
				<option value="1" cond:selected="sex == 1"> Female</option>
			</select>
			<br />
			<t:handler-include path="/current/selector/location/{location}" area="Skeleton" />
		</div>
		<div class="search_cols">
			<t:handler-include path="/current/selector/interest/{interest}" area="Skeleton" />
			
			<select name="active">
				<option value="0" cond:selected="active == 0"> All Users</option>
				<option value="2" cond:selected="active == 2"> Active Recently</option>
				<option value="3" cond:selected="active == 3"> Online</option>
			</select><br />
			<select name="pic">
				<option value="0" cond:selected="pic == 0"> All Users</option>
				<option value="1" cond:selected="pic == 1"> With Pictures</option>
				<option value="2" cond:selected="pic == 2"> With a Verified Picture</option>
			</select><br />
		</div>
		<div class="search_cols">
			<select name="sexuality">
				<option value="0" cond:selected="sexuality == 0"> Any Sexuality</option>
				<option value="1" cond:selected="sexuality == 1"> Heterosexual </option>
				<option value="2" cond:selected="sexuality == 2"> Homosexual </option>
				<option value="3" cond:selected="sexuality == 3"> Bisexual/Open-Minded </option>
			</select><br />

			<input type="checkbox" id="single" name="single" cond:checked="single" />
			<label for="single"> Single Users Only</label>
			<br />
			<input type="submit" value="Search" />
		</div>
	</form>
</div>
