<div id="picmod_quiz_mockup">

	<div class="header">
		PIC MOD QUIZ
	</div>
	
	<div class="error_container" id="error_container">
		<div class="primary_text">
			WRONG!
		</div>
		<div class="secondary_text">
			According to our rules, this isn't nudity. Everything is covered, and they're just showing off their swimsuits, not being sexually suggestive.
		</div>
	</div>
	
	<div class="picture_container">
		<img border="0" src="{$site.static_files_url}/mods/images/pic_mod_quiz/quiz_12.jpg" />
	</div>
	
	<div class="answer_buttons" id="answer_buttons">
		<div class="approve">
			<t:button onClick="addToScore(); location.href='/mods/quiz/pics/13?correct=' + correct;">Accept</t:button>
		</div>
		<div class="deny">
			<t:button onClick="wrongAnswer();">Deny</t:button>
		</div>
		<div class="clear" />
	</div>
	
	<div class="continue_button" id="continue_button">
		<t:button onClick="scoreContinue(); location.href='/mods/quiz/pics/13?correct=' + correct;">Continue</t:button>
	</div>
	
</div>