<div id="picmod_quiz_mockup">

	<div class="header">
		PIC MOD QUIZ
	</div>
	
	<div class="total_score">
		<span class="amount_right"><span id="final_score" />&#160;/ 20</span><br />
		CORRECT
	</div>
	<script type="text/javascript">
		finalScore();
	</script>
	
	<p>
		That's the end of the Pic Mod quiz.  If you got a lot of those wrong, consider going back and reading the trainer. One of the links below should take you where you need to go next.
	</p>
	
	<div class="link_container">
		<a href="/wiki/ModGuides/PicMods">&#187; Read through the Pic Mod Trainer</a>
		<a href="/moderate.php?mode=1">&#187; Get modding</a>
		<a href="/my/profile">&#187; Go to your Nex Profile</a>
		<a href="/mods/quiz/pics">&#187; Take the Pic Mod Quiz again</a>
	</div>
	
</div>