#finder_search_results
{
	min-width: 600px;
	width: 600px;
	background-color: $primary_background_color;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#finder_search_results div#hd, #friend_finder div#hd
{
	color: $section_header_text_color;
	font-size: 14px;
	padding: 2px 0px 16px 18px;
	background-image: $section_header_background_image;
	background-color: $section_header_background_color;
	font-weight: bold;
	margin-bottom: 16px;
}

#finder_search_results #contact_search_results,
#finder_search_results .finder_completion_block
{
	margin-right: 70px;
	margin-left: 70px;
}

#finder_search_results .finder_completion_block
{
	padding-top: 20px;
}

#contact_search_results *
{
	color: $primary_text_color;
}

#contact_search_results input, #contact_search_results textarea
{
	color: black;
}
/*
#contact_search_results input
{
	font-size: 11px;
	margin-top: 10px;
	margin-right: 5px;
	width: 100px;
	font-weight: bold;
	text-align: center;
}
*/
#contact_search_results a
{
	color: $link_color;
	text-decoration: none;
}

#contact_search_results hr
{
	border: 0px;
	border-top: 1px solid black;
	margin-top: 40px;
	margin-bottom: 30px;
}

#contact_search_results .import_search_results
{
	width: 400px;
	margin-left: 40px;
	margin-right: 40px;
}

#contact_search_results .import_search_results span
{
	font-weight: bold;
}

#contact_search_results .result_container
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid $secondary_background_color;
}

#contact_search_results .result_selectors
{
	padding-bottom: 12px;
}

#contact_search_results textarea
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#contact_search_results table
{
	border-collapse: collapse;
	width: 100%;
	padding: 0px;
}

#contact_search_results table td.skip
{
	text-align: right;
}

#contact_search_results .result_container img
{
	height: 40px;
	width: 50px;
}

#contact_search_results tr.primary td
{
	background-color: $primary_background_color;
}

#contact_search_results tr.secondary td
{
	background-color: $secondary_background_color;
}

#contact_search_results .result_container
{
	overflow: auto;
}

#contact_search_results .user_image
{
	width: 56px;
}