<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Nexopia Store</title>
<link rel="stylesheet" href="{$site.style_url/'NullSkeleton'/'newblack.css'}"></link>
<style>
body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
    background-color: #000;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

div.content {
	padding: 10px 10px 20px 10px;
	text-align: left;
}
</style>
</head>
<body>

<map name="banner_links">
	<area shape="poly"
	coords="26,0,158,0,161,81,29,88"
	href="http://store.nexopia.com" />
    
    <area shape="rect"
	coords="692,0,805,16"
	href="http://www.nexopia.com" />
</map>


<div id="store_wrapper">

	<div class="shift_over">
    	<div class="header">
    		<img border="0" src="{$site.static_files_url/'Store'/'closed_banner.jpg'}" width="810" height="280" class="store_banner" usemap="#banner_links" />
			
			<div class="content">
				<p>The Nexopia Store has been off to a great start, but because our Canadian members have had to pay some pretty outrageous duty charges on orders coming from the States we've decided to close up shop until we can find a more affordable solution for everyone.</p>
	
				<p>We say "Nexopia merch for all!" but not at any cost. We'll be back in business when we can offer you guys the best merch possible at the absolute best value.</p>
	
				<p>-- The Nex Team</p>
			</div>
			
    	</div>
    </div>

	<!-- <iframe src="http://230502.spreadshirt.com" name="Spreadshop" id="Spreadshop" scrolling="auto" onload="window.scrollTo(0,0);" frameborder="0"></iframe> -->

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5204531-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>