<div id="music_doc">
<div class="yui-t7">
	#{css}
	<div id="hd">
		<div class="yui-g" style="text-align:center; padding-top: 4px;">
			<img border="0" src="http://users.nexopia.com/uploads/1808/1808085/submit_banner_big.jpg" alt="Promotional Music Submissions" />
		</div>
	</div>
	<div id="bd">
		<div id="yui-main_music">
			<div class="yui-g" style="padding:2px 12px 2px 12px;">
				<br />
				<p style="font-family: arial; font-size: 18px; font-weight: bold;">
					Submitting Promotional Material to Nexopia!
				</p>
				<br />
				<p>
					You want to submit your CD, Record, DVD, Book, Comic, or something else for review?
					Just want to send us a present? Please send it to the address below. A couple of
					things though.
				</p>
				<br />
				<img border="0" src="http://users.nexopia.com/uploads/1808/1808085/submit_mirrorball.jpg" alt="Mirror Ball" width="200" height="133" style="float: left; margin: 0px 10px 5px 0px;" />
				<p>
					We receive a lot of stuff. It makes it hard to give the attention to everything
					that we want to give but we do look at it. That said, we have a small staff of
					editorial people working to provide our users with the best and most up to date
					coverage of contemporary culture but not everything can be addressed. We do our
					best to cover it all but we can't guarantee anything...so don't be upset or take
					it personally. We don't think you suck...unless you do suck...but we don't really have
					time to think it anyway so don't worry.
				</p>
				<br />
				<p>
					Please describe what you are sending and provide us with a bit of background info.
					We would like to think that we know the deal and that we can contextualize your
					product, but it saves us some time to have the info...time is short so help us out.
				</p>
				<br />
				<img border="0" src="http://users.nexopia.com/uploads/1808/1808085/submit_gear.jpg" alt="Gear" width="200" height="133" style="float: right; margin: 0px 0px 5px 10px;" />
				<p>
					Don't phone us...you won't get a hold of the editorial department. You can send a
					polite email to&#160;
					<script type="text/javascript" language="javascript">
						name=('submissions');
						at=('@');
						domain=('nexopia');
						dot=('.');
						ext=('com');
						document.write('&lt;a href="mailto:' + name + at + domain + dot + ext + '">' + name + at + domain + dot + ext + '&lt;\/a>');
					</script>
					<noscript>submissions (at) nexopia (dot) com</noscript> 
					&#160;and ask if we received your submission. We will get back to you as soon as we can
					and say "Yes we got it" or "We have no idea what you are talking about." We can then
					figure it all out from there...
				</p>
				<br />
				<p>
					If you are a record label, management company, distribution company, event, major
					publication, or anyone one else involved in the entertainment business who want to
					do some marketing or advertising please send us an email at&#160;
					<script type="text/javascript" language="javascript">
						name=('marketing');
						at=('@');
						domain=('nexopia');
						dot=('.');
						ext=('com');
						document.write('&lt;a href="mailto:' + name + at + domain + dot + ext + '">' + name + at + domain + dot + ext + '&lt;\/a>');
					</script>
					<noscript>marketing (at) nexopia (dot) com</noscript> 
				</p>
				<br />
				<hr style="clear: both; height: 1px; border: 0px; color: #f1f1f1; background-color: #f1f1f1;" />
				<br />
				<span style="color: #ec008c; font-weight: bold;">
					Please send your goodies to:
				</span>
				<br />
				<br />
				<p style="font-weight: bold;">
					Nexopia Music &#38; Video<br />
					P. O. Box 47177<br/>
					62 Edmonton City Center RPO<br/>
					Edmonton, AB, T5J 4N1<br/>
				</p>
				<br />
			</div>
			<div class="yui-g back_nav">
				<a href="{back_link}">Back</a>
			</div>
		</div>
	</div>
</div>
</div>
