<div class="band_entry_micro">
	<table>
		<tbody>
			<tr>
				<td  rowspan="2" class="band_micro_icon_col">
					<t:if t:id="artist.stream_icon">
						<img height="25px" width="25px" src="{artist.stream_icon.thumbnail}"></img>
					</t:if>
					<t:if t:id="!artist.stream_icon">
						<img height="25px" width="25px" src="http://{$site.config.static_domain}/images/music_placeholder.jpg" alt="Placeholder"></img> 
					</t:if>
				</td>
				<td>
					<span ><a t:id="artist" style="vertical-align:top; font-family: Tahoma; font-size:9pt;"></a></span>
				</td>
			</tr>
			<tr>
				<td>
					<i>{artist.genre}</i>
				</td>
			</tr>
		</tbody>
	</table>
</div>