<div id="music_doc">
	<div class="yui-t2 music_administration">
		#{css}
		#{script}
		<div id="yui-main_music">
			<div class="yui-b">
				<div class="yui-g">
					Feature Administration
					<div style="float:right">
						<a href="/music/administration/feature/new/">Add a new feature</a>
					</div>
				</div>
				<div class="yui-g">
					<table>
						<tbody>
							<tr>
								<th>
									&#160;
								</th>
								<th>
									Feature ID
								</th>
								<th>
									Start Date
								</th>
								<th>
									Creation Date
								</th>
							</tr>
							<t:iter t:id="feature_list" t:iter="feature" t:alternating="primary, secondary">
								<tr class="{class_var}">
									<td>
										<a href="/music/administration/feature/edit/{feature.id}/"><img src="{$site.static_files_url}/streams/icons/edit_icon.jpg" alt="Edit"></img></a>
										<a href="/music/administration/feature/delete/{feature.id}/" onclick="return MUSIC.confirm_delete({feature.id}, 'Feature {feature.id}')"><img src="{$site.static_files_url}/streams/icons/delete_icon.jpg" alt="Delete"></img></a>
									</td>
									<td>
										{feature.id}
									</td>
									<td>
										{feature.date_string}
									</td>
									<td>
										{feature.creation_date_string}
									</td>
								</tr>
							</t:iter>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="yui-b">
			<t:template-include t:module="streams" t:name="music_administration_panel"></t:template-include>
			<div class="yui-g">
				<a href="/music/">Music Front Page</a>
			</div>
		</div>
	</div>
</div>