<div id="music_doc">
	<div class="yui-t2">
		#{css}
		<div id="hd">
			<t:if t:id="feature">
				<div id="music_feature" class="yui-g">
					<!--<div id="music_title">MUSIC</div>-->
					#{feature.body}
				</div>
			</t:if>
		</div>
		<div id="bd">
			<div id="yui-main_music">
				<div class="yui-b">		
					<t:template-include t:name="music_primary_stream" t:module="streams"></t:template-include>
					<div class="yui-gb">
						<t:iter t:id="music_streams" t:iter="stream" t:index="index">
							<t:if t:id="index==0">
								<div class="yui-u first secondary_stream">
									<t:template-include t:name="music_secondary_stream" t:module="streams"></t:template-include>
								</div>
							</t:if>
							<t:if t:id="index!=0">
								<div class="yui-u secondary_stream">
									<t:template-include t:name="music_secondary_stream" t:module="streams"></t:template-include>
								</div>
							</t:if>
						</t:iter>
					</div>
				</div>
			</div>
			<div class="yui-b">
				<!--
				<div class="yui-g">
					<t:template-include t:name="music_band_front" t:module="streams"></t:template-include>			
				</div>
				-->
				<t:if t:id="show_sidebar_features">
					<div class="yui-g">
						<t:template-include t:name="music_sidebar_features" t:module="streams"></t:template-include>
					</div>
				</t:if>
				<div class="yui-g">
					<t:template-include t:name="music_most_popular_entries" t:module="streams"></t:template-include>
				</div>
				<div class="yui-g">
					<span class="nav_title">
						CONTACT
					</span>
					<br />
					<a href="/music/submissions/">
						<img src="http://users.nexopia.com/uploads/2058/2058161/contact_banner.jpg" alt="Contact"></img>
					</a>
				</div>
				<t:if t:id="show_admin_panel">
					<t:template-include t:name="music_administration_panel" t:module="streams"></t:template-include>
				</t:if>
			</div>
		</div>
	</div>
</div>