<div id="music_administration" class="yui-g">
	<span class="nav_title">ADMINISTRATION</span><br/>
	<ul>
		<li/><a href="/music/administration/news/">News Management</a>
		<!--<a href="/music/administration/bandentries/">User Band Management</a><br/>-->
		<li/><a href="/music/administration/tags/">Tag Management</a>
		<li/><a href="/music/administration/display/streams/edit/">Stream Configuration</a>
		<li/><a href="/music/administration/streamicons/">Icon Management</a>
		<li/><a href="/music/administration/features/">Feature Management</a>
		<li/><a href="/music/administration/sidebarfeatures/">Sidebar Feature Management</a>
	</ul>
</div>