#edit_profile_pictures {
	margin: auto;
	padding: 12px;
	width: 726px;
	background-color: $primary_background_color;
	
	& h1.gallery_header {
		margin: 0px 0px 4px 0px;
		font-size: 14px;
	}
	
	& div.back_link {
		margin-bottom: 10px;
		
		& a {
			font-weight: bold;
			text-decoration: underline;
		}
	}
	
	& .gallery_menu {
		float: right;
		margin-left: 7px;
		& a {
			color: $link_color;
			font-size: 14px;
			&:hover {
				color: $link_accent_color;
			}
		}
	}
	
	& div.extra_width_container {
		width: 738px;
	}
	
	& ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		
		& .profile_pic {
			cursor: move;
			float: left;
			background-color: $secondary_background_color;
			width: 112px;
			margin: 0px 10.5px 10px 0px;
			padding: 0px;
			color: $secondary_text_color;
			
			& img {
				margin: 6px 6px 0px;
			}
			
			& .description {
				margin: 0px 6px 6px;
				
				& .functions {
					float: right;
					padding-top: 2px;
					
					& a {
						color: $link_accent_color;
						&:hover {
							color: $link_color;
						}
					}
					
				}
			}
		}
	}
}