<t:docroot>
	<tr>
		<td class="block" align="center">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td class="blockhead sideheader" valign="#{valign}" align="#{align}" colspan="3">
						&nbsp;&nbsp;<b>#{header}</b>&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
					<td class="block_border_horizontal_spacer border"></td>
					<td class="side" valign="top" width="{$width}">
						#{block_contents}
					</td>
					<td class="block_border_horizontal_spacer border"></td>
				</tr>
				<tr>
					<td class="block_border_vertical_spacer border"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="blockspacer"></td>
	</tr>
</t:docroot>