<!-- SiteSearch Google -->
<form style="margin: 0px; padding: 0px;" method="get" action="/googlesearch">
	<input type="hidden" name="client" value="pub-5130698294741465">
	<input type="hidden" name="forid" value="1">
	<input type="hidden" name="ie" value="ISO-8859-1">
	<input type="hidden" name="oe" value="ISO-8859-1">
	<input type="hidden" name="safe" value="active">
	<input type="hidden" name="cof" value="{$color}FORID:11"></input>
	<input type="hidden" name="domains" value="nexopia.com">
	<input type="hidden" name="sitesearch" value="">

	<table border="0">
		<tr>
			<td class="side">
				<label for="sbi" style="display: none;">Enter your search terms</label>
				<input class="body" type="text" name="q" maxlength="255" value="" id="sbi" style="width: 100%;">
			</td>
		</tr><tr>
			<td class="side" align="center">
				<input type="image" style="border: none;" src="{$googleimg}">
			</td>
		</tr>
	</table>
</form>
<!-- SiteSearch Google -->
