<t:docroot>
	<table align="center" border="0" cellspacing="0">
		<form action="/login.php" method="post" target="_top" name="login">
			<tr>
				<td class="side">User:</td>
				<td class="side">
					<input type="text" name="username" style="width:90px"/>
				</td>
			</tr>
			<tr>
				<td class="side">
					Pass:
				</td>
				<td class="side">
					<input type="password" name="password" style="width:90px"/>
				</td>
			</tr>
			<tr>
				<td class="side" colspan="2">
					{$secure_session_checkbox} (<a href="/faq.php?q=68"> ? </a>)
				</td>
			</tr>
			<tr>
				<td class="side" colspan="2">
					{$remember_me_checkbox}
				</td>
			</tr>
			<tr>
				<td class="side" colspan="2" align="center">
					<input type="submit" value="Login" style="width: 60px"/>
					<input type="button" onClick="location.href='/accountcreate'" value="Join" style="width: 60px"/>
				</td>
			</tr>
		</form>
	</table>
	
	<script>document.login.username.focus();</script>
</t:docroot>