<html>
	<head>
	</head>
	<body>
	

<b>Hey {username},</b><br/>
<br/>
So we have contacted some of you already but for the others we want to tell you that ... it's your lucky day. We're running a special contest for you Barrie cats only!<br/>
<br/>
You've probably already heard, but Nexopia has been growing like crazy and is adding a ton of new features to make it even easier for you to hook up with your friends online. One of the coolest features is the email search and email invite tools which allow you to invite all of your friends to the party at once. Of course we wanted to introduce it to you in the usual Nexopia fashion, so we thought we'd throw an exclusive contest for Barrie members only!<br/> 
<br/>
Here's a link to the new features: <a href="http://www.nexopia.com/my/friends/find">http://www.nexopia.com/my/friends/find</a><br/>
<br/>
<br/>
<b>What we're giving away</b><br/>
<br/>
We're giving away an 8GB iPod Touch to the Barrie user who can get the most new friends to join Nexopia! Use our new email invite tool, use the phone, buy a billboard... whatever as long as your new friends are actually real, then you're all good. Plus, because this contest is only running in Barrie, your chances of winning are ridiculously high; so get friending already! <br/>
<br/>
No scammers please, we can definitely track all that good stuff, so if you try and cheat, you'll just end up getting disqualified. There's nothing worse than having to sit out while your friend gloats over their free shiny new iPod.<br/>
<br/>
Good luck, and keep an eye on Nexopia... we have a whole bunch of sweet new features coming in 2008 including the most stylish and customizable profile pages you have ever seen!<br/>
<br/>
Happy Friending,<br/>
<br/>
The NEX Team<br/>
<br/>
<br/>
Contest closes on March 10th, 2008<br/>
For questions, reply or contact <a href="mailto:contests@nexopia.com">contests@nexopia.com</a>


	</body>
</html>