<table width="100%">
	<tr>
		<td class="side" colspan="3">
			<b>#{PageRequest.current.session.user.unread} new 
				<a href='/messages.php'>message(s)</a>
			</b>
		</td>
	</tr>
	<tr>
		<td class="side">
			From
		</td>
		<td class="side">
			Subject
		</td>
	</tr>
	<t:loop t:id="PageRequest.current.session.user.msgs[0..10]" t:iter="msg">
		<tr>
			<td class="side">
				<t:if t:id="User.get_by_id(msg.from)">
					<a t:id="User.get_by_id(msg.from)"/>
				</t:if>
				<t:if t:id="!User.get_by_id(msg.from)">
					#{msg.fromname}
				</t:if>
			</td>
			<td class="side">
				<a href="#">
					#{msg.subject}
				</a>
			</td>
		</tr>
	</t:loop>
</table>

