<table>
	<tr>
		<td class="side">
			- <b>No Ads</b><br/>
			- <b>Recent Visitors List</b><br/>
			- <b>Profile Skins</b><br/>
			- Large Gallery<br/>
			- Eligible for the Spotlight<br/>
			- Hide Profile Hits<br/>
			- View Profiles Anonymously<br/>
			- Extra pictures<br/>
			- Longer Profiles<br/>
			- Advanced User Search<br/>
			- Friends list notifications<br/>
			- Longer friends list<br/>
			- File hosting<br/>
			- Priority picture approval<br/>
			- Mass Message Friends<br/>
			- Sent Message Status<br/>
			- Create a custom forum<br/>
			- Custom forum rank<br/>
			<center>
				<a href="/plus.php">
					<b>Click For Details</b>
				</a>
			</center>
		</td>
	</tr>
</table>
