<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<script type="text/javascript" src="http://{$site.config.static_domain}/javascript/ruby_site/changestyle.js"> </script>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2">
				<div class="sidebar_hr">
					<hr width="100%" />
				</div>
			</td>
		</tr>				
		<tr>
			<td>			
				<div class="sidebar_title">
					STYLE
				</div>
			</td>
			<td align="right" valign="middle" width="20px" onClick="hideBody('styleBody');" class="sidebar_imgLink">
				<img border="0" src="http://{$site.config.static_domain}/javascript/yui/hide.bmp" />
			</td>
		</tr>					
		<tr>
			<td colspan="2">
				<div id="styleBody">
					<form t:target="float_menu_body" action="/my/style" method="post">
						<select name="myStyle" onChange="changeLayout('{$site.config.static_domain}', this.options[this.selectedIndex].value);">						
							<option t:id="allStyles" t:iter="thisStyle" value="{thisStyle[1]}"> {thisStyle[0]} </option>
						</select>
					</form>
				</div>
			</td>
		</tr>												
	</table>
</span>