<span t:id="user" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2" class="sidebar_title" align="center">
				{username}					
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<!--<img t:id="user" alt="User Image" width="100px" height="70px" id="profileImg"/>--> <br />
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table cellspacing="0" cellpadding="0" width="100%"> 
					<tr>
						<td align="center" width="50%">
							<img border="0" src="http://{$site.config.static_domain}/icons/Icon-9.png" />
						</td>
						<td align="center" width="50%">
							<a href="/logout" t:ajax-target="float_menu_body">
								<img border="0" src="http://{$site.config.static_domain}/icons/Icon-10.png" />
							</a>
						</td>
					</tr> 
				</table>
			</td>
		</tr>
	</table>
</span>