<span t:id="moderator" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2">				
				<div class="sidebar_hr">					
					<hr width="100%" />
				</div>
			</td>
		</tr>				
		<tr>
			<td>
				<div class="sidebar_title">					
					MODERATOR
				</div>
			</td>
			<td align="right" valign="middle" width="20px" onClick="hideBody('modBody');" class="sidebar_imgLink">
				<img border="0" src="http://{$site.config.static_domain}/javascript/yui/hide.bmp" />
			</td>
		</tr>					
		<tr>
			<td colspan="2" align="left">
				<div id="modBody">
					<a href=""> Preferences </a>
					
					<div class="sidebar_hr">					
						<hr width="100%" />
					</div>							
					
					{pics} Pic(s) <br />
	
					<div class="sidebar_hr">					
						<hr width="100%" />
					</div>							
	
					<b> {mods_online}    Mod(s)    online </b> <br />
					<div t:id="mods" t:iter="mod">
						{mod.user.username}
					</div>
					
					<b> {admins_online}  Admin(s)  online </b> <br />
					<div t:id="admins" t:iter="admin">
						{admin.user.username}
					</div>
					
					<b> {globals_online} Global(s) online </b> <br />
					<div t:id="globals" t:iter="global">
						{global.user.username}
					</div>
				</div>
			</td>
		</tr>
	</table>
</span>