<span t:id="messages" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2">
				<div class="sidebar_hr">
					<hr width="100%" />
				</div>
			</td>
		</tr>				
		<tr>
			<td>			
				<div class="sidebar_title">
					MESSAGES
				</div>
			</td>
			<td align="right" valign="middle" width="20px" onClick="hideBody('messageBody');" class="sidebar_imgLink">
				<img border="0" src="http://{$site.config.static_domain}/javascript/yui/hide.bmp" />
			</td>
		</tr>					
		<tr>
			<td colspan="2">
				<div id="messageBody" width="130px" style="overflow: hidden;">
					<b> {new_messages.length} new message(s) </b>
					<table width="130px">
						<tr t:id="new_messages" t:iter="msg">
							<td width="60px">
								<t:if t:id="msg.user_from">
									<a t:id="msg.user_from" t:ajax-target="MainObj"></a>
								</t:if>
							</td>
							<td width="60px">
								<a t:id="msg" t:ajax-target="MainObj"></a>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>												
	</table>
</span>