Hey {username}<br/>
<br/>
Happy Nexiversary! As of today you've been a member of Nexopia for exactly one year and we wanted to celebrate the occasion by giving you a free week of Plus automatically added to your account. Now you can skin your page, see what friends have visited your page, and get Spotlighted!
<br/>
<br/>
Since becoming a Nexopia member you've got:<br/>
{hits} Hits<br/>
{friends} Friends
{albums} Photo Albums        	&nbsp;<a href="{$site.www_url}/my/gallery/create">Create a new album</a><br/>
{friends_albums} Friends' Photo Albums 	&nbsp;<a href="{$site.www_url}/users/%{username}/gallery/friends/updates/">View friend's albums</a><br/>
{blog_entries} Blog Entries		&nbsp;<a href="{$site.www_url}/my/blog/post/new">Make a post</a><br/>
{friends_blog_entries} Blog Friend Entries		&nbsp;<a href="{$site.www_url}/users/%{username}/blog/friends">Read friend's blogs</a><br/>
<br/>
Also check out:<br/>
<br/>
<a href="{$site.www_url}/forums.php">Forums</a> - Nexopia has the 4<sup>th</sup> largest forums in the world<br/>
<a href="{$site.www_url}/wiki/SiteText/music/ch_contests">Contests</a><br/>
<a href="{$site.www_url}/plus">Plus</a><br/>
<a href="{$site.www_url}">Spotlight</a><br/>
<br/>
Later!<br/>
-- The Nex Team<br/>

<t:template-include name="message_footer" module="orwell"/>

