
Hey {username}
<br/><br/>
Happy Nexiversary! As of today you've been a member of Nexopia for exactly one year!  We wanted to celebrate the occasion by giving you a free week of PLUS, which has been automatically added to your account. Now you can skin your profile, see your recent visitors, get Spotlighted, and more!
<br/><br/>
<br/>
Since becoming a Nexopia member you've accumulated:
<br/><br/>
{hits} Profile Hits<br/>
{friends} Friends<br/>
{albums} Photo Albums (<a href="{$site.www_url}/my/gallery/create">create a new album</a>)<br/>
{friends_albums} Friends' Photo Albums (<a href="{$site.www_url}/users/%{username}/gallery/friends/updates/">view your friends' albums</a>)<br/>
{blog_entries} Blog Entries (<a href="{$site.www_url}/my/blog/post/new">make a new blog post</a>)<br/>
{friends_blog_entries} Friends' Blog Entries (<a href="{$site.www_url}/users/%{username}/blog/friends">read your friends' blogs</a>)
<br/><br/>
<br/>
Also make sure to check out:
<br /><br />
<a href="{$site.www_url}/forums.php">Forums</a><br />
Nexopia has the 4th largest forums in the world.  Get in on the action, get involved in the discussions, and maybe meet some interesting new people!
<br /><br />
<a href="{$site.www_url}/wiki/SiteText/music/ch_contests">Contests</a><br />
Keep an eye out to see what new contests are being offered at Nexopia, and maybe you'll win some sweet prizes!
<br /><br />
<a href="{$site.www_url}/plus">PLUS</a><br />
Nexopia PLUS is our premium service that gives you loads of extra features.  Show off more, find out more, and get more control with PLUS!
<br /><br />
<a href="{$site.www_url}">Spotlight</a><br />
Get front and center on the Nexopia homepage!  Spotlight updates once every minute to showcase different users on the site, and you may be next!
<br/><br/>
<br/>
Later!<br/>
-- The Nex Team

<t:template-include name="message_footer" module="orwell"/>

