Hey {username}

Happy Nexiversary! As of today you've been a member of Nexopia for exactly one year!  We wanted to celebrate the occasion by giving you a free week of PLUSA, which has been automatically added to your account. Now you can skin your profile, see your recent visitors, get Spotlighted, and more!


Since becoming a Nexopia member you've accumulated:

{hits} Profile Hits
{friends} Friends
{albums} Photo Albums (create a new album - {$site.www_url}/my/gallery/create)
{friends_albums} Friends' Photo Albums (view your friends' albums - {$site.www_url}/users/%{username}/gallery/friends/updates/)
{blog_entries} Blog Entries (make a new blog post - {$site.www_url}/my/blog/post/new)
{friends_blog_entries} Friends' Blog Entries (read your friends' blogs - {$site.www_url}/users/%{username}/blog/friends)


Also make sure to check out:

Forums - {$site.www_url}/forums.php
Nexopia has the 4th largest forums in the world.  Get in on the action, get involved in the discussions, and maybe meet some interesting new people!

Contests - {$site.www_url}/wiki/SiteText/music/ch_contests
Keep an eye out to see what new contests are being offered at Nexopia, and maybe you'll win some sweet prizes!

PLUS - {$site.www_url}/plus
Nexopia PLUS is our premium service that gives you loads of extra features.  Show off more, find out more, and get more control with PLUS!

Spotlight - {$site.www_url}
Get front and center on the Nexopia homepage!  Spotlight updates once every minute to showcase different users on the site, and you may be next!


Later!
-- The Nex Team

<t:template-include name="message_footer_plain" module="orwell"/>