<br />
<br />
<br />#{"\n"}
<a href="{$site.www_url}"><img border="0" src="{$site.static_files_url}/orwell/nexopia_logo.png" /></a>
<br /><br />#{"\n\n"}
<span style="font-size: 10px;">If you do not wish to receive these types of messages in the future, you can change your&nbsp;<a href="{$site.www_url}/prefs.php">preference settings</a>. If you have been sent this email by mistake, please contact us at&nbsp;<a href="mailto:webmaster@nexopia.com">webmaster@nexopia.com</a>&nbsp;and we'll make sure you do not receive them in the future.  Please do not reply to this message.</span>
