<span xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://www.nexopia.com/dev/template">

<script type="text/javascript" src="{$site.static_url}/javascript/ruby_site/changestyle.js"> </script>

<script>
	include_dom("{$site.static_url}/javascript/yui/build/yahoo/yahoo.js?rev={Time.now.to_i.to_s}", function() {
	include_dom("{$site.static_url}/javascript/yui/build/dom/dom.js?rev={Time.now.to_i.to_s}", function() {
	include_dom("{$site.static_url}/javascript/yui/build/event/event.js?rev={Time.now.to_i.to_s}", function() {
	include_dom("{$site.static_url}/javascript/yui/build/connection/connection.js?rev={Time.now.to_i.to_s}", function() {
	});});});});
</script>

<table cellspacing="0" cellpadding="0" style="width:100%; background-color:#DEDFE1;">
	<tr> <td align="center">
		<table class="preferences" style="width:92%">
			<tr> <td>
				<form id="preferences">
					<div class="main_title">
						<br/> Preferences
					</div>

					#{modules}

					<div class="centerButton">
						<input type="button" onClick="Prefs.savePrefs();" value="Update Above Preferences"/>
					</div>
				</form>

				<t:if t:id="has_plus">
					<div class="title">
						Nexopia Plus
					</div>

					<table class="descr">
						<tr>
							<td class="left"> Time remaining </td>
						    <td class="right"> {expiry_days} Day(s) </td>
						</tr>
						<tr>
							<td class="left"> Expiry Date </td>
						    <td class="right"> {premiumexpiry} </td>
						</tr>
					</table>
				</t:if>

				<div class="title">
					Change your email
				</div>

			<form id="new_mail">
				<table class="descr">
					<tr>
						<td class="first"> Current Email </td>
					    <td class="second"> {email} </td>
					    <td class="third" rowspan="3"> <input type="button" onClick="Prefs.changeMail();" value="Save"/> </td>
					</tr>
					<tr>
						<td class="first"> New Email </td>
					    <td class="second"> <input id="email1" name="email1" type="text" class="medium"/> </td>
					</tr>
					<tr>
						<td class="first"> Retype New Email </td>
					    <td class="second"> <input id="email2" name="email2" type="text" class="medium"/> </td>
					</tr>
					<tr>
						<td class="first"> Current Password </td>
					    <td class="second"> <input id="oldpass" name="oldpass" type="password" class="medium"/> </td>
					</tr>
					<tr>
						<td colspan="3"> Changing email address will require confirmation to take effect </td>
					</tr>
				</table>
			</form>

				<div class="title">
					Change your password
				</div>

			<form id="password">
				<table class="descr">
					<tr>
						<td class="first"> Current Password </td>
					    <td class="second"> <input id="currentpass" name="currentpass" type="password" class="medium"/> </td>
					    <td class="third" rowspan="3"> <input type="button" onClick="Prefs.savePass();" value="Save"/> </td>
					</tr>
					<tr>
						<td class="first"> New Password </td>
					    <td class="second"> <input id="newpass1" name="newpass1" type="password" class="medium"/> </td>
					</tr>
					<tr>
						<td class="first"> Retype new Password </td>
					    <td class="second"> <input id="newpass2" name="newpass2" type="password" class="medium"/> </td>
					</tr>
				</table>
			</form>

				<div class="title">
					Delete your account
				</div>
			<form id="close">
				<table class="descr">
					<tr>
						<td class="first"> Password </td>
					    <td class="second"> <input id="closepass" name="closepass" type="password" class="medium"/> </td>
					    <td class="third" rowspan="2"> <input type="button" onClick="Prefs.closeAccount();" value="Save"/> </td>
					</tr>
					<tr>
						<td class="first"> Reason </td>
					    <td class="second"> <input id="reason" name="reason" type="text" class="medium"/> </td>
					</tr>
					<tr>
						<td colspan="3">
							This will delete your account, including your profile, your pictures, friends list, messages, etc.
							<br/> Your forum posts, comments and messages in other users inbox will remain.
						</td>
					</tr>
				</table>
			</form>
			</td> </tr>
		</table>
	<br/>
	</td></tr>
</table>

<br/>

<script>
	Prefs = function () {
		var that = {};

		that.savePrefs = function() {
			var site      = 'http://{$site.config.base_domain}/users/parisoto/preferences_update';

			var onSuccess = {
				success: function(o) {
					alert('Preferences Updated');
				}
			}

			YAHOO.util.Connect.setForm('preferences');
			YAHOO.util.Connect.asyncRequest('GET', site, onSuccess );

			return false;
		};

		that.changeMail = function() {
			var site      = 'http://{$site.config.base_domain}/users/parisoto/preferences_mail';

			var onSuccess = {
				success: function(o) {
					if (o.responseText != "") {
						alert(o.responseText);
					} else {
						document.getElementById('email1').value  = "";
						document.getElementById('email2').value  = "";
						document.getElementById('oldpass').value = "";

						alert('Check your e-mail for a Confirmation Code');
					}
				}
			}

			YAHOO.util.Connect.setForm('new_mail');
			YAHOO.util.Connect.asyncRequest('GET', site, onSuccess );
		};

		that.savePass = function() {
			var site      = 'http://{$site.config.base_domain}/users/parisoto/preferences_pass';

			var onSuccess = {
				success: function(o) {
					if (o.responseText != "") {
						alert(o.responseText);
					} else {
						document.getElementById('currentpass').value  = "";
						document.getElementById('newpass1').value     = "";
						document.getElementById('newpass2').value     = "";

						alert('Password Updated');
					}
				}
			}

			YAHOO.util.Connect.setForm('password');
			YAHOO.util.Connect.asyncRequest('GET', site, onSuccess );
		};

		that.closeAccount = function() {
			var site      = 'http://{$site.config.base_domain}/users/parisoto/preferences_close';

			var onSuccess = {
				success: function(o) {
					if (o.responseText != "") {
						alert(o.responseText);
					} else {
						document.getElementById('closepass').value  = "";
						document.getElementById('reason').value     = "";

						alert('Account closed.  Redirecting...');
					}
				}
			}

			YAHOO.util.Connect.setForm('close');
			YAHOO.util.Connect.asyncRequest('GET', site, onSuccess );
		};

		that.assign = function(setObjects) {
			if (setObjects == null) {
				return false;
			}

			if (setObjects.checkbox != undefined) {
				for (var i in setObjects.checkbox) {
					var elem = document.getElementById(i);

					if (elem != null) {
						elem.checked = setObjects.checkbox[i];
					}
				}
			}

			if (setObjects.text != undefined) {
				for (var i in setObjects.text) {
					var elem = document.getElementById(i);

					if (elem != null) {
						elem.value   = setObjects.text[i];
					}
				}
			}

			if (setObjects.select != undefined) {
				for (var i in setObjects.select) {
					var selectElem = document.getElementById(i);

					if (selectElem != null) {
						for (var j in setObjects.select[i]) {
							if (setObjects.select[i][j].text != undefined) {
								selectElem.options.add ( new Option(setObjects.select[i][j].text, setObjects.select[i][j].value) );

								if (setObjects.select[i][j].selected) {
									selectElem.selectedIndex = j;
								}
							}
						}
					}
				}
			}
		};

		return that;
	}();

	Prefs.assign({setObjects});
</script>

</span>
