<span>
	<div class="title">
		User Search
	</div>
	
	<table class="descr">
		<tr>
			<td class="left">
		    	Default Sex
		    </td>
		    <td class="right">
		    	<select id="defaultsex" name="defaultsex" class="medium"></select>
		    </td>
		</tr>
		<tr>
			<td class="left">
				Default Age Range
		    </td>
		    <td class="right">
				<input id="defaultminage" name="defaultminage" type="text" class="small" /> to 
				<input id="defaultmaxage" name="defaultmaxage" type="text" class="small" />
			</td>
		</tr>
		<tr>
			<td class="left">
				Default Location
		    </td>
		    <td class="right">
		    	<select id="defaultloc" name="defaultloc" class="medium"></select>
		    </td>
		</tr>		
	</table>
</span>	