<span>
	<t:if t:id="has_plus">		
		<div class="title">
			Recent Visitors
		</div>
	
		<table class="descr">
			<tr>
				<td class="left">  Show thumbnails on your recent visitors list </td>
			    <td class="right"> <input id="recentvisitlistthumbs" name="recentvisitlistthumbs" type="checkbox" /> </td>
			</tr>
			<tr>
				<td class="left"> List anonymous visitors on your recent visitors list </td>
			    <td class="right"> <input id="recentvisitlistanon" name="recentvisitlistanon" type="checkbox" /> </td>
			</tr>
		</table>
	</t:if>
	
</span>	