<t:template>
	<div id="friend_finder_notification">
		<h2>
			Welcome to Nexopia!
		</h2>
		<div class="message">
			Your account is verified and you are now a member of Nexopia.com. See who's already on Nexopia.
		</div>
	</div>
	<div id="find_friends">
		<div class="header">
			Find and Add Friends on Nexopia
		</div>

		<a href="/my/friends/find/invite/manual" class="skip_link">Skip</a>
		<br class="clear" />

		<t:template-include t:module="friend_finder" t:name="friend_finder_body"/>
	</div>
</t:template>