<div class="email_import_block">
<!--
	<div class="block_title">
		Upload an exported contacts file (.csv, .ldif)...
	</div>
	Import a contacts file from your Outlook Express or Thunderbird email account
	to see which of your friends are on Nexopia and who needs to be invited.
	<br/>
	<a id="info_csv" class="more_info body" href="/finder/info/csv">
		More info...
	</a>
	<div id="info_csv_body" class="more_info_body">
		Having some trouble uploading your contacts file? No problem...just
		figure out which email service you use and then follow the instructions
		listed below:  
		<br/><br/>
		<span class="info_import_title">
			Outlook 2000-2003
		</span>
		<ul>
			<li>Switch to Contact view</li>
			<li>Go to File menu, select "Import/Export". Import and Export</li>
			<li>Wizard window appears.</li>
			<li>Select "Export to a file". Click Next.</li>
			<li>Select "Comma Separated Values" (DOS or Windows). Click Next.</li>
			<li>Select where to save the CSV file. Click Next.</li>
			<li>Click Finish.</li>
		</ul>
		
		<span class="info_import_title">
			Outlook Express 6 	
		</span>
		<ul>
			<li>Go to File-&#62;Export-&#62;Address Book menu. Address book export tool  
			  appears.</li>
			<li>Select "Text File (Comma Separated Values)". Click Export.</li>
			<li>Select where to save the CSV file. Click Next.</li>
			<li>Click Finish</li>
		</ul>
		<span class="info_import_title">
			Thunderbird 1.5.x
		</span>
		<ul>
			<li>Go to Tools-&#62;Address Book menu. Address book window appears.</li>
			<li>Go to Tools-&#62;Export menu.</li>
			<li>Select path to save file. Remember to select "Comma Separated  
			 (*.CSV)" under the "Save as type" dropdown list. Click save.</li>
		</ul>
	</div>
	<table>
		<tr>
			<td class="label">
				Select File:
			</td>
			<td>
				<input class="text" type="file" name="file_upload"/>
			</td>
		</tr>
		<tr>
			<td class="label">
				File Type:
			</td>
			<td>
				<select name="file_type">
					<option value="outlook">Outlook/Outlook Express CSV</option>
					<option value="thunderbird_csv">Thunderbird CSV</option>
					<option value="thunderbird_ldif">Thunderbird LDIF</option>
				</select>
			</td>
		</tr>
	</table>
-->
</div>
