<div t:docid="email_import" id="email_import">
	<form method="post" action="{$site.upload_url}/httpupload/my/friends/find/import" enctype="multipart/form-data">
		<input type="hidden" name="redirect" value="{redirect_location}"></input>
		<input name="type" type="hidden" value="FriendFinder"/>
		<div class="page_description">
			Want to track down some old friends, lost summer flings, or just see
			who's still late to the party? Well good, 'cause we've made finding
			people you know on Nexopia super easy, by developing two new methods
			to search for friends by email.  
		</div>
		<t:template-include t:module="friend_finder" t:name="import_emails_webmail"></t:template-include>
		<!-- <t:template-include t:module="friend_finder" t:name="import_emails_file"></t:template-include> -->
		<t:template-include t:module="friend_finder" t:name="import_emails_search"></t:template-include>
		<div>
			<input type="submit" class="button" name="action" value="Continue" />
			<t:if t:id="!finish_location.nil?() && finish_location.length > 0">
				<input type="submit" class="button" name="finish" value="Finish"></input>
				<input type="hidden" value="{finish_location}" name="finish_redirect"></input>
			</t:if>
		</div>
	</form>
</div>
