<div class="email_import_block email_import_block_last">
	<div class="block_title">
		Search and invite by email...
	</div>
	Find your friends who are on Nexopia by entering their email addresses in
	the search box below. If they're not already on Nexopia you can invite them
	to join.
	<br/>
	<a id="info_email" class="more_info body" href="/finder/info/email">
		More info...
	</a>
	<div id="info_email_body" class="more_info_body">
		You don't have to waste a bunch of time looking for one friend's email
		address at a time.  By clicking the "add another address" button you can
		enter all of them at once!
		<br/>
	</div>
	<table>
		<tr>
			<th class="label">
				Email Address
			</th>
			<th>
				&#160;
			</th>
		</tr>
		<tr id="search_email_row_0">
			<td>
				<input type="text" name="search_address"/>
			</td>
			<td>
				&#160;
			</td>
		</tr>
		<tr id="search_email_row_1">
			<td>
				<input type="text" name="search_address"/>
			</td>
			<td class="script">
				<a id="remove_email_row_1" class="remove_email_row" href="javascript:void(0);" class="body">
					Remove
				</a>
			</td>
		</tr>
		<tr class="script">
			<td>
				<a id="add_email_row" href="javascript:void(0);" class="body">
					Add another address
				</a>
			</td>
		</tr>
	</table>
</div>
