<div class="email_import_block">
	<div class="block_title">
		Import from email...
	</div>
	Import contacts from your personal email address book to find out who is
	already on Nexopia and who should be invited. 
	<br/>
	<a id="info_import" class="more_info body" href="/finder/info/import">
		More info...
	</a>
	<div id="info_import_body" class="more_info_body">
		Still can't figure it out? We understand... computers can be irritating.
		Just enter your email address and your email password into the search
		boxes below and then press continue at the bottom of the page. What you'll
		get is a list of all your friends who are already on Nexopia + a bunch of
		them you should invite. 
		<br/><br/>
		To guarantee you'll be able to find who you're looking for we've made
		all of these email services compatible: 
		<ul class="webmail_support_list">
			<li>Hotmail</li>
			<li>MSN</li>
			<li>Hotmail Live</li>
			<li>Yahoo mail</li>
			<li>Gmail</li>
			<li>AOL</li>
			<li>Lycos (including international Lycos.co.uk)</li>
			<li>.Mac (mac.com)</li>
			<li>Mail.com (and all its domain variants)</li>
			<li>FastMail.FM (and all its domain variants)</li>
			<li>Rediffmail</li>
			<li>Indiatimes</li>
			<li>GMX</li>
			<li>LinkedIn</li>
			<li>IcqMail</li>
			<li>Web.de</li>
			<li>MyNet.com</li>
		</ul>

		If you're thinking 'ARGH, my email account isn't on the list' and
		shaking your fist at the screen, then you should know that
		it's probably because you're using either Outlook Express or
		Thunderbird.  Breathe. And move onto the second search tool. 
		<br/>
	</div>
	<table>
		<tr>
			<td class="label">
				Username:
			</td>
			<td>
				<input class="text" type="text" name="email"/>
			</td>
		</tr>
		<tr>
			<td class="label">
				Password:
			</td>
			<td>
				<input class="text" type="password" name="password"/>
			</td>
		</tr>
		<tr>
			<td>
				&#160;
			</td>
			<td>
				<span class="fine_print">
					We will not save, store, or share any of the email or login information you use.
				</span>
			</td>
		</tr>
	</table>
</div>
