<html>
	<head>
		<style>
			body{
				font-family: Verdana, Helvetica, Arial, sans-serif;
				font-size: 12px;
			}
			
			span{
				font-size: 10px;
			}
			
			div{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		</style>
	</head>
	<body>
		Hey,
		<br/><br/>
		So {my_name} thinks it totally sucks that you’re not on Nexopia yet and has invited you to join up and hang out.
		<t:if t:id="personal_message.length > 0">
			<div>
				<b>{my_name} says:</b> "{personal_message}"
			</div>
		</t:if>
		<t:if t:id="personal_message.length == 0">
			<br/>
			<br/>
		</t:if>
		<div><b>So, What is Nexopia?</b></div>
		<ul>
			<li>The fastest growing online community in Canada!</li>
			<li>The social network where moms, teachers and the government won’t stalk you!</li>
			<li>The place where you can talk to the friends you want to talk to!</li>
			<li>A place to meet new people who are into what you’re into!</li>
			<li>The place where you can really be and do what ya want!</li>
		</ul>
		<div>Check out {my_name}'s profile here: <a href="{wwwdomain}/profile.php?uid={my_userid}">LINK</a></div>
		<div>Or get signed up and start creating your own profile here: <a href="{wwwdomain}/accountcreate">LINK</a></div>
		<br/><br/>
		<span>
			If you do not want to receive invitation emails from Nexopia members in the future, you can&#160;<a href="{wwwdomain}/accountcreate/optout/{friend_email}/{friend_key}">click here</a>.
		</span>
	</body>
</html>
