<form method="post" action="/my/friends/find/results/invite/submit">
	<input name="manual_search" id="manual_search" type="hidden" value="{manual_search}" />
	<div id="manual_invite">
		<div class="invite_message">
			Invite and add friends of yours who aren't on Nexopia yet.
		</div>
		<input type="text" name="manual_invite_0" id="manual_invite_0"/><a href="#" minion_name="friend_finder:add_invite_field">Add More</a><br/>
		<input type="text" name="manual_invite_1" id="manual_invite_1"/><br/>
		<input type="text" name="manual_invite_2" id="manual_invite_2"/><br/>
	</div>
	<div class="controls">
		<div class="submit_friends">
			<t:button type="submit">
				Invite
			</t:button>
		</div>
		<br class="clear"/>
	</div>
</form>