<div class="new_entry_header_container">	
	
	<div class="header_container">
	
		<div class="page_title">
			New Entry
		</div>
		
		<div id="buttons">
			<a href="#" class="current">
				<div>
					<img src="{$site.static_files_url}/blogs/freeform.gif" /><br />
					Freeform
				</div>
			</a>
			<a href="#">
				<div>
					<img src="{$site.static_files_url}/blogs/photo.gif" /><br />
					Photo
				</div>
			</a>
			<a href="#">
				<div>
					<img src="{$site.static_files_url}/blogs/video.gif" /><br />
					Video
				</div>
			</a>
			<a href="#">
				<div>
					<img src="{$site.static_files_url}/blogs/battle.gif" /><br />
					Battle
				</div>
			</a>
			<a href="#">
				<div>
					<img src="{$site.static_files_url}/blogs/poll.gif" /><br />
					Poll
				</div>
			</a>
		</div>
		
		<div class="stats_container">
			<span>Quick Stats</span>
			
			<table cellspacing="0" cellpadding="0">
			<tr>
				<td class="number">241</td>
				<td class="item">Total Posts</td>
				<td class="number">0</td>
				<td class="item">Video</td>
			</tr><tr>
				<td class="number">195</td>
				<td class="item">Freeform</td>
				<td class="number">0</td>
				<td class="item">Battles</td>
			</tr><tr>
				<td class="number">70</td>
				<td class="item">Photo</td>
				<td class="number">0</td>
				<td class="item">Polls</td>
			</tr>
			</table>
		</div>
		
	</div>
	
</div>