<div id="blog_mockup_container">
<div class="blog_new_entry_container">

	<t:template-include t:module="mockups" t:name="blog_new_entry_header" />
	
	<div class="left_column">
		<div class="post_title">
			Post Title
		</div>
		<input type="text" class="text" />
		<div class="text_editor_container">
			<textarea></textarea>
		</div>
		<div class="post_submit_btns">
			<div class="post">
				<t:button>POST</t:button>
			</div>
			<div class="cancel">
				| <a href="#">Cancel</a>
			</div>
			<div class="preview">
				<a href="#">Preview</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="right_column">
		<t:template-include t:module="mockups" t:name="blog_new_entry_options" />
	</div>
	<div class="clear"></div>

</div>
</div>