<div id="blog_mockup_container">
<div class="blog_new_entry_options">

	<a href="#" class="expand">Less Options</a>
	
	<div class="option_section">
		<span class="bold">Privacy:</span><br />
		<select class="visibility">
			<option>Not Visible</option>
			<option>Visible to Friends</option>
			<option>Visible to Logged In Users</option>
			<option selected="selected">Visible to All</option>
		</select>
	</div>
	
	<div class="option_section">
		<input type="checkbox" checked="checked" class="checkbox" /> Allow Comments
	</div>

</div>
</div>