<div id="blog_mockup_container">
<div class="blog_new_entry_container">

	<t:template-include t:module="mockups" t:name="blog_new_entry_header" />
	
	<div class="left_column">
		<div class="post_title">
			Video Post Title
		</div>
		<input type="text" class="text" />
		
		<div class="section_title">
			<div class="title">
				Video link or embed code
			</div>
			<div class="get_a_photo">
				<t:button>Find on YouTube</t:button>
			</div>
			<div class="or">
				or
			</div>
			<div class="clear"></div>
		</div>
		<input type="text" class="text" value="http://" />
		<div class="video_sites">
			(YouTube, Vimeo, Break, ...)
		</div>
		
		<div class="section_title">
			Caption&#160;<span class="optional">(optional)</span>
		</div>
		<textarea class="textarea"></textarea>
		
		<div class="post_submit_btns">
			<div class="post">
				<t:button>POST</t:button>
			</div>
			<div class="cancel">
				| <a href="#">Cancel</a>
			</div>
			<div class="preview">
				<a href="#">Preview</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="right_column">
		<t:template-include t:module="mockups" t:name="blog_new_entry_options" />
		<t:template-include t:module="mockups" t:name="blog_tip_video" />
	</div>
	<div class="clear"></div>

</div>
</div>