<div id="blog_mockup_container">
<div class="blog_post">
	
	<div class="battle_item vid1">
		<div class="item">
			<img src="{$site.static_files_url}/mockups/blog_placeholders/fake_video.gif" />
		</div>
		<div class="vote_button">
			<input type="radio" name="vote" /> Cats
		</div>
	</div>
	
	<div class="battle_item vid2">
		<div class="item">
			<img src="{$site.static_files_url}/mockups/blog_placeholders/fake_video.gif" />
		</div>
		<div class="vote_button">
			<input type="radio" name="vote" /> Dogs
		</div>
	</div>
	<div class="clear"></div>
	
	<div class="post_submit_btns">
		<t:button>VOTE</t:button>
		<div class="results">
			<a href="#">Skip to results</a> (23 votes)
		</div>
	</div>
	
</div>
</div>