<div id="blog_mockup_container">
<div class="blog_new_entry_container">

	<t:template-include t:module="mockups" t:name="blog_new_entry_header" />
	
	<div class="left_column">
		<div class="post_title">
			Photo Post Title
		</div>
		<input type="text" class="text" />
		
		<div class="section_title">
			<div class="title">
				Photo link
			</div>
			<div class="get_a_photo">
				<t:button>Get a Photo</t:button>
			</div>
			<div class="or">
				or
			</div>
			<div class="clear"></div>
		</div>
		<input type="text" class="text" value="http://" />
		
		<div class="section_title">
			Caption&#160;<span class="optional">(optional)</span>
		</div>
		<textarea class="textarea"></textarea>
		
		<div class="post_submit_btns">
			<div class="post">
				<t:button>POST</t:button>
			</div>
			<div class="cancel">
				| <a href="#">Cancel</a>
			</div>
			<div class="preview">
				<a href="#">Preview</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="right_column">
		<t:template-include t:module="mockups" t:name="blog_new_entry_options_photo" />
	</div>
	<div class="clear"></div>

</div>
</div>