<div id="blog_mockup_container">
<div class="blog_post">
	
	<div class="poll_container">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Suspendisse at diam eu nunc congue cursus, class aptent ligula.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Taciti sociosqu ad litora torquent per conubia.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Integer ipsum ipsum.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Aliquam ipsum quam, tempor eget, porta at, ullamcorper.  tiam urna nunc, malesuada cursus, tincidunt et, pharetra et, tellus.
			</td>
		</tr>
		</table>
	</div>
	
	<div class="post_submit_btns">
		<t:button>VOTE</t:button>
		<div class="results">
			<a href="#">Skip to results</a> (23 votes)
		</div>
	</div>
	
</div>
</div>