<div id="blog_mockup_container">
<div class="blog_new_entry_container">

	<t:template-include t:module="mockups" t:name="blog_new_entry_header" />
	
	<div class="left_column">
		<div class="battle_tabs">
			<a href="#" class="first_tab">Photo Battle</a>
			<a href="#" class="selected">Video Battle</a>
		</div>
	
		<div class="post_title">
			Video Battle Title
		</div>
		<input type="text" class="text" />
		
		<div class="battle_item item1">
			<input type="text" class="item_title" value="Video 1" />
			<div class="battle_link_container">
				<span class="title">Video link or embed code</span><br />
				<textarea class="item_link"></textarea>
				<div class="get_button">
					<t:button>Find on YouTube</t:button>
				</div>
				<div class="or">
					or
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="battle_item item2">
			<input type="text" class="item_title" value="Video 2" />
			<div class="battle_link_container">
				<span class="title">Video link or embed code</span><br />
				<textarea class="item_link"></textarea>
				<div class="get_button">
					<t:button>Find on YouTube</t:button>
				</div>
				<div class="or">
					or
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		
		<div class="post_submit_btns">
			<div class="post">
				<t:button>POST</t:button>
			</div>
			<div class="cancel">
				| <a href="#">Cancel</a>
			</div>
			<div class="preview">
				<a href="#">Preview</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="right_column">
		<t:template-include t:module="mockups" t:name="blog_new_entry_options" />
	</div>
	<div class="clear"></div>

</div>
</div>