<div id="comment_feed_mockup">

	<a href="#" class="user_thumbnail"><img border="0" src="{$site.static_files_url}/mockups/common/user_thumb06.jpg" /></a>
	<div class="comment_header">
		<div class="username">
			username's Comments
		</div>
		<!-- These will be used later for something else...
		<div class="comment_tabs">
			<a href="comment_feed_all" class="first_tab selected">All</a>
			<a href="comment_feed_profile">Profile</a>
			<a href="comment_feed_gallery">Gallery</a>
			<a href="comment_feed_blog">Blog</a>
		</div>
		-->
	</div>
	<br class="clear" />
	
	<div class="secondary_tabs">
		<a href="comment_feed_all" class="first_tab selected">All</a> |
		<a href="comment_feed_profile">Profile</a> |
		<a href="comment_feed_gallery">Gallery</a> |
		<a href="comment_feed_blog">Blog</a>
	</div>
	
	<table class="comment_write_table" cellspacing="0" cellpadding="0">
	<tr>
		<td class="viewing_user_picture">
			<a href="#"><img border="0" src="{$site.static_files_url}/mockups/comments/user_full03.gif" /></a>
		</td>
		<td>
			<textarea>Write a profile comment...</textarea>
			<div class="comment_post_wrapper">
				<t:button>Post</t:button>
			</div>
		</td>
	</tr>
	</table>
	
	<div class="comment_navigation navigation_top">
		<a href="#">&#60; Newer</a>&#160;|&#160;<a href="#">Older &#62;</a>
	</div>
	
	<div class="comment_view_container">
		<table class="single_comment_table" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="comment_user_img">
					<a href="#"><img border="0" src="{$site.static_files_url}/mockups/comments/user_full01.gif" /></a>
				</div>
			</td>
			<td>
				<div class="comment_content">
					<div class="comment_quick_delete_btn">
						<a href="#"><img border="0" src="{$site.static_files_url}/mockups/common/icons/icon_delete.gif" /></a>
					</div>
					<div class="comment_date">
						02:43pm | Dec 30, '08
					</div>
					<div class="comment_username">
						<a href="#">username</a>
					</div>
					<div class="comment_body">
						Donec sed erat a tortor mattis sagittis. Cras interdum sapien id lorem. Aliquam nibh. Aliquam viverra scelerisque nulla. Mauris convallis. Donec mollis sem id arcu. Integer lobortis pretium nisi. Quisque luctus purus nec nunc. Nulla lorem. Nunc commodo ipsum non tellus.
					</div>
				</div>
			</td>
		</tr><tr>
			<td valign="bottom">
				<div class="comment_delete">
					<input type="checkbox" />
				</div>
			</td>
			<td valign="bottom">
				<div class="comment_function_links">
					<span>
						<a href="#">Conversation</a>&#160;|&#160;<a href="#">Reply</a>&#160;|&#160;<a href="#">Message</a>&#160;|&#160;<a href="#">Ignore User</a>&#160;|&#160;<a href="#">Top</a>
					</span>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="comment_view_container">
		<table class="single_comment_table" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="comment_user_img">
					<a href="#"><img border="0" src="{$site.static_files_url}/mockups/comments/user_full01.gif" /></a>
				</div>
			</td>
			<td>
				<div class="comment_content">
					<div class="comment_quick_delete_btn">
						<a href="#"><img border="0" src="{$site.static_files_url}/mockups/common/icons/icon_delete.gif" /></a>
					</div>
					<div class="comment_date">
						02:43pm | Dec 30, '08
					</div>
					<div class="comment_username">
						<a href="#">username</a>
					</div>
					<div class="comment_body">
						Donec sed erat a tortor mattis sagittis. Cras interdum sapien id lorem. Aliquam nibh. Aliquam viverra scelerisque nulla. Mauris convallis. Donec mollis sem id arcu. Integer lobortis pretium nisi. Quisque luctus purus nec nunc. Nulla lorem. Nunc commodo ipsum non tellus.
					</div>
				</div>
			</td>
		</tr><tr>
			<td valign="bottom">
				<div class="comment_delete">
					<input type="checkbox" />
				</div>
			</td>
			<td valign="bottom">
				<div class="comment_function_links">
					<span>
						<a href="#">Conversation</a>&#160;|&#160;<a href="#">Reply</a>&#160;|&#160;<a href="#">Message</a>&#160;|&#160;<a href="#">Ignore User</a>&#160;|&#160;<a href="#">Top</a>
					</span>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="comment_view_container_blog">
		<div class="comment_description">
			<div class="comment_icon">
				<img border="0" src="{$site.static_files_url}/mockups/common/icons/icon_blog.gif" />
			</div>
			<a href="#">username's</a>&#160;entry,&#160;<a href="#">Blog Entry Title</a>.
		</div>
		<table class="single_comment_table" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="comment_user_img">
					<a href="#"><img border="0" src="{$site.static_files_url}/mockups/common/user_thumb04.jpg" /></a>
				</div>
			</td>
			<td>
				<div class="comment_content">
					<div class="comment_date">
						02:43pm | Dec 30, '08
					</div>
					<div class="comment_username">
						<a href="#">username</a>
					</div>
					<div class="comment_body">
						Donec sed erat a tortor mattis sagittis.  Cras interdum sapien id lorem. Aliquam nibh. Aliquam viverra scelerisque nulla.
					</div>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="comment_view_container_gallery">
		<div class="comment_description">
			<div class="comment_icon">
				<img border="0" src="{$site.static_files_url}/mockups/common/icons/icon_gallery.gif" />
			</div>
			<a href="#">username's</a>&#160;<a href="#">photo</a>&#160;in the album&#160;<a href="#">Random</a>.
		</div>
		<div class="comment_gallery_photo">
			<a href="#"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album11.gif" /></a>
		</div>
		<table class="single_comment_table" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="comment_user_img">
					<a href="#"><img border="0" src="{$site.static_files_url}/mockups/common/user_thumb05.jpg" /></a>
				</div>
			</td>
			<td>
				<div class="comment_content">
					<div class="comment_date">
						02:43pm | Dec 30, '08
					</div>
					<div class="comment_username">
						<a href="#">username</a>
					</div>
					<div class="comment_body">
						Donec sed erat a tortor mattis sagittis.  Cras interdum sapien id lorem. Aliquam nibh. Aliquam viverra scelerisque nulla.
					</div>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="comment_view_container extra_padding">
		<table class="single_comment_table" width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<div class="comment_user_img">
					<a href="#"><img border="0" src="{$site.static_files_url}/mockups/comments/user_full01.gif" /></a>
				</div>
			</td>
			<td>
				<div class="comment_content">
					<div class="comment_quick_delete_btn">
						<a href="#"><img border="0" src="{$site.static_files_url}/mockups/common/icons/icon_delete.gif" /></a>
					</div>
					<div class="comment_date">
						02:43pm | Dec 30, '08
					</div>
					<div class="comment_username">
						<a href="#">username</a>
					</div>
					<div class="comment_body">
						Donec sed erat a tortor mattis sagittis. Cras interdum sapien id lorem. Aliquam nibh. Aliquam viverra scelerisque nulla. Mauris convallis. Donec mollis sem id arcu. Integer lobortis pretium nisi. Quisque luctus purus nec nunc. Nulla lorem. Nunc commodo ipsum non tellus.
					</div>
				</div>
			</td>
		</tr><tr>
			<td valign="bottom">
				<div class="comment_delete">
					<input type="checkbox" />
				</div>
			</td>
			<td valign="bottom">
				<div class="comment_function_links">
					<span>
						<a href="#">Conversation</a>&#160;|&#160;<a href="#">Reply</a>&#160;|&#160;<a href="#">Message</a>&#160;|&#160;<a href="#">Ignore User</a>&#160;|&#160;<a href="#">Top</a>
					</span>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="comment_select">
		<div class="links">
			Select:&#160;<a href="#">All</a>,&#160;<a href="#">None</a>
		</div>
		<div class="delete_button">
			<t:button>Delete</t:button>
		</div>
	</div>
	<div class="comment_navigation navigation_bottom">
		<a href="#">&#60; Newer</a>&#160;|&#160;<a href="#">Older &#62;</a>
	</div>
	<br class="clear" />
	
</div>