<div id="confirm_email_mockup">

	<div class="header">
		Confirm Your Email Address
	</div>
	
	<div class="content">
		Your account activation has been sent to&#160;<span class="email">tod.twitch@hotmail.com</span>, activate your account to continue.
		
		<div class="big_btn">
			<t:button>GO TO HOTMAIL</t:button>
		</div>
		
		<div class="extra_tips">
			Click the link in your email to activate your account.<br />
			This email could take a few minutes, check your spam or junk mail folder if you still can't find it.
			<br /><br />
			Or try&#160;<a href="#">resending</a>&#160;the activation.
		</div>
	</div>
	
</div>