<div id="find_friends_mockup">

	<div class="header">
		Find and Add Friends on Nexopia
	</div>
	
	<a href="#" class="skip_link">Skip</a>
	<br class="clear" />
	
	<div class="content">
		<span class="bold">
			Find friends through your email contacts.
		</span><br />
		The easiest way to find friends is to search your email and instant messenger contacts for friends that are also on Nexopia.  (MSN Hotmail, AOL, Yahoo Mail, Gmail, etc.)
	</div>
		
	<div class="email_providers">
		<img border="0" src="{$site.static_files_url}/mockups/sign_up_placeholders/email_providers.gif" />
	</div>
	
	<table cellspacing="0" cellpadding="0">
	<tr>
		<td class="label">Email or IM</td>
		<td class="field">
			<input type="text" class="text" />
		</td>
	</tr><tr>
		<td class="label">Password</td>
		<td class="field">
			<input type="text" class="text" />
		</td>
	</tr><tr>
		<td class="label"></td>
		<td class="field will_not_store">
			We will not store your email or password.
			<div class="btn">
				<t:button>Continue</t:button>
			</div>
		</td>
	</tr>
	</table>
	
	<br class="clear" />
	
</div>