<div id="friends_albums_mockup">

	<a href="#" class="user_thumbnail"><img border="0" src="{$site.static_files_url}/mockups/common/user_thumb06.jpg" /></a>
	<div class="gallery_header">
		<div class="username">
			username's Gallery
		</div>
		<div class="gallery_tabs">
			<a href="#" class="first_tab">Albums (5)</a>
			<a href="#" class="selected">Friend's Albums (3)</a>
		</div>
	</div>
	<br class="clear" />
	
	<div class="album_container">
		<a href="#" class="album_thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_folder_img.gif" /></a>
		<div class="album_info">
			<span class="name">
				<a href="#">Album Name</a>&#160;(16)
			</span><br />
			<span class="date_author">
				By&#160;<a href="#">username</a>&#160;|&#160;<a href="#">Gallery</a>&#160;| Created November 05, 2008
			</span>
			<div class="description">
				This album contains pictures you've uploaded to your profile using the profile picture uploader. Any pictures you delete from this album will also be deleted from your profile page.
			</div>
		</div>
		<div class="preview_thumbs">
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album10.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album11.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album12.gif" /></a>
		</div>
		<br class="clear" />
	</div>
	
	<div class="album_container">
		<a href="#" class="album_thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_folder_img.gif" /></a>
		<div class="album_info">
			<span class="name">
				<a href="#">Album Name</a>&#160;(16)
			</span><br />
			<span class="date_author">
				By&#160;<a href="#">username</a>&#160;|&#160;<a href="#">Gallery</a>&#160;| Created November 05, 2008
			</span>
			<div class="description">
				This album contains pictures you've uploaded to your profile using the profile picture uploader. Any pictures you delete from this album will also be deleted from your profile page.
			</div>
		</div>
		<div class="preview_thumbs">
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album10.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album11.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album12.gif" /></a>
		</div>
		<br class="clear" />
	</div>
	
	<div class="album_container">
		<a href="#" class="album_thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_folder_img.gif" /></a>
		<div class="album_info">
			<span class="name">
				<a href="#">Album Name</a>&#160;(16)
			</span><br />
			<span class="date_author">
				By&#160;<a href="#">username</a>&#160;|&#160;<a href="#">Gallery</a>&#160;| Created November 05, 2008
			</span>
			<div class="description">
				This album contains pictures you've uploaded to your profile using the profile picture uploader. Any pictures you delete from this album will also be deleted from your profile page.
			</div>
		</div>
		<div class="preview_thumbs">
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album10.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album11.gif" /></a>
			<a href="#" class="thumbnail"><img border="0" src="{$site.static_files_url}/mockups/gallery_placeholders/gallery_album12.gif" /></a>
		</div>
		<br class="clear" />
	</div>
	
</div>