<div id="join_mockup">

	<div class="login_now">
		Already a Member?&nbsp;<a href="login_page">Login</a>
		<!-- You must&nbsp;<a href="#">Login</a>&nbsp; or Join to complete this action. -->
	</div>

	<div class="left_column">
		<div class="header">
			Join Nexopia
		</div>
		
		<table cellspacing="0" cellpadding="0">
		<tr>
			<td class="label">Username</td>
			<td class="field">
				<input type="text" class="text" />
				<span class="error_msg good_error">
					Available
				</span>
			</td>
		</tr><tr>
			<td class="label">Password</td>
			<td class="field">
				<input type="text" class="text" />
				<span class="error_msg good_error">
					Strong
				</span>
			</td>
		</tr><tr>
			<td class="label">Email</td>
			<td class="field">
				<input type="text" class="text" />
				<span class="error_msg bad_error">
					Not a valid email address
				</span>
			</td>
		</tr><tr>
			<td class="label">Retype Email</td>
			<td class="field">
				<input type="text" class="text" />
				<span class="error_msg bad_error">
					Did not match the first email
				</span>
			</td>
		</tr><tr>
			<td class="label extra_space">Location</td>
			<td class="field extra_space"><input type="text" class="text" /></td>
		</tr><tr>
			<td class="label">Birthday</td>
			<td class="field">
				<select class="month">
					<option>00</option>
				</select>
				<select class="day">
					<option>00</option>
				</select>
				<select class="year">
					<option>0000</option>
				</select>
			</td>
		</tr><tr>
			<td class="label">Sex</td>
			<td class="field">
				<input type="radio" name="sex" class="sex" /> Female
				<input type="radio" name="sex" class="sex male" /> Male
			</td>
		</tr><tr>
			<td class="label"></td>
			<td class="field terms_of_use">
				By clicking join, you agree to the&nbsp;<a href="http://www.nexopia.com/terms.php">Terms of Use</a>.<br />
				<div class="join_btn">
					<t:button>JOIN</t:button>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<div class="right_column">
		<div class="header">
			Why Join?
		</div>
		
		<div class="image_placeholder"></div>
		<div class="image_placeholder"></div>
		<div class="image_placeholder"></div>
		<a href="#" class="learn_more">Learn More</a>
	</div>
	
	<br class="clear" />
	
</div>