<div id="login_mockup">

	<div class="join_now">
		Not a Member?&nbsp;<a href="join_page">Join Nexopia</a>
	</div>

	<div class="left_column">
		<div class="header">
			Login
		</div>
		
		<table cellspacing="0" cellpadding="0">
		<tr>
			<td class="label">Username</td>
			<td class="field">
				<input type="text" class="text" />
			</td>
		</tr><tr>
			<td class="label">Password</td>
			<td class="field">
				<input type="text" class="text" />
			</td>
		</tr><tr>
			<td class="label"></td>
			<td class="field">
				<input type="checkbox" /> Remember Me
			</td>
		</tr><tr>
			<td class="label"></td>
			<td class="field">
				<div class="login_btn">
					<t:button>LOGIN</t:button>
				</div>
			</td>
		</tr><tr>
			<td class="label"></td>
			<td class="field extra_space">
				<a href="#">Lost Username or Password</a>
			</td>
		</tr><tr class="lost_password">
			<td class="label">Email Address</td>
			<td class="field">
				<input type="text" class="text" />
				<div>
					<t:button>Get Password</t:button>
				</div>
			</td>
		</tr>
		</table>
	</div>
	
	<br class="clear" />
	
</div>