<div id="metrics_mockup">

	<div class="header">
		METRICS - BROWNIE
	</div>
	
	<div class="single_stat_table">
	
		<div class="stat_title">
			Tasty rating
		</div>
		<table class="stat_container" cellpadding="0" cellspacing="0">
		<tr class="column_headers">
			<td>
				Chocolatey
			</td>
			<td>
				M&Ms
			</td>
			<td>
				Icing
			</td>
			<td>
				Fudge
			</td>
			<td>
				Chewy
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr>
		</table>
		
		<div class="stat_title">
			Price
		</div>
		<table class="stat_container" cellpadding="0" cellspacing="0">
		<tr class="column_headers">
			<td>
				Free!
			</td>
			<td>
				Cheap
			</td>
			<td>
				Fair
			</td>
			<td>
				A Little Pricey
			</td>
			<td>
				Only As a Splurge Treat
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr><tr>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
			<td>
				stat
			</td>
		</tr>
		</table>
		
	</div>
	
</div>