<div id="metrics_mockup">

	<div class="header">
		METRICS
	</div>
	Please select what&#160;<strike>metrics</strike>&#160;tasty treat you'd like to&#160;<strike>view</strike>&#160;eat~
	
	<div class="secondary_block">
	
		<table class="selection_container" cellpadding="0" cellspacing="0">
		<tr>
			<td class="title left">
				<div>1. Choose Category:</div>
				Make one selection at<br />
				a time.
			</td>
			<td>
				<select class="category" size="10">
					<option>Brownie</option>
					<option>Cookies</option>
					<option>Ice Cream</option>
					<option>Cake</option>
					<option>Pudding</option>
					<option>Candy</option>
					<option>Brownie</option>
					<option>Cookies</option>
					<option>Ice Cream</option>
					<option>Cake</option>
					<option>Pudding</option>
					<option>Candy</option>
					<option>Brownie</option>
					<option>Cookies</option>
					<option>Ice Cream</option>
					<option>Cake</option>
					<option>Pudding</option>
					<option>Candy</option>
					<option>Brownie</option>
					<option>Cookies</option>
					<option>Ice Cream</option>
					<option>Cake</option>
					<option>Pudding</option>
					<option>Candy</option>
				</select>
			</td>
			<td class="title right">
				<div>2. Available Stats:</div>
				Multiple selections can be made at a time for viewing.
			</td>
			<td>
				<select class="options" size="10" multiple="multiple">
					<option>Tasty rating</option>
					<option>Size</option>
					<option>Where's it from</option>
					<option>Who's eating it</option>
					<option>How many people are eating it</option>
					<option>Calories</option>
					<option>Price</option>
					<option>Places to get it</option>
					<option>Gweeblie count</option>
					<option>Best time of day to eat</option>
					<option>Ingredients</option>
					<option>Brands</option>
					<option>Random kitty option</option>
				</select>
			</td>
		</tr>
		</table>
		
	</div>
	
	<div class="extra_options">
		<div class="date_viewing_container">
			<div class="date">
				From: <input type="text" value="28/04/08" />
				To: <input type="text" value="14/01/09" />
			</div>
			<div class="viewing">
				<input type="radio" name="view" checked="checked" /> View as HTML<br />
				<input type="radio" name="view" /> Download CSV file<br />
			</div>
		</div>
		<div class="submit">
			<t:button>Submit</t:button>
		</div>
		<br class="clear" />
	</div>
	
</div>