<div id="name_school_mockup">

	<div class="header">
		Include your name and school?&nbsp;<span>(optional)</span>
	</div>
	This will make it easier for friends to find you on Nexopia.
	
	<table cellspacing="0" cellpadding="0">
	<tr>
		<td class="label">First Name</td>
		<td class="field">
			<input type="text" class="text" />
		</td>
		<td rowspan="3" class="optional_msg">
			This information is optional and will not be displayed publicly.
		</td>
	</tr><tr>
		<td class="label">Last Name</td>
		<td class="field">
			<input type="text" class="text" />
		</td>
	</tr><tr>
		<td class="label">School</td>
		<td class="field">
			<input type="text" class="text" />
		</td>
	</tr>
	</table>
	
	<div class="continue_btns_container">
		<t:button>No Thanks, Continue</t:button>
		<span class="right_btn">
			<t:button>Save and Continue</t:button>
		</span>
	</div>
	
	<br class="clear" />
	
</div>