<div id="mockup">
	<div id="plus_mockup">

		<img src="#{$site.static_files_url}/mockups/plus/PlusLogoLarge.png" class="plus_logo" />
		<img src="#{$site.static_files_url}/mockups/plus/Prices.png" class="prices" />
		
		<div class="content">
		
			<div class="left_column">
				<div class="get_more">
					Get more with Nexopia PLUS<br />
					- Get spotlighted on the homepage<br />
					- Customize your profile with skins<br />
					- See who's visited your profile<br />
					- 20 times more photos
				</div>
				
				<span class="bold">Compare PLUS with the free account:</span>
				<table class="feature_container" cellspacing="0" cellpadding="0">
				<tr class="headings">
					<td>&#160;</td>
					<td>
						Free
					</td>
					<td>
						<img src="#{$site.static_files_url}/mockups/plus/PlusLogoSmall.png" />
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Profile Pictures
					</td>
					<td class="free">
						8
					</td>
					<td class="plus">
						12
					</td>
				</tr><tr>
					<td class="feature">
						Gallery Photos
					</td>
					<td class="free">
						250
					</td>
					<td class="plus">
						5,000
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Friend Messaging
					</td>
					<td class="free">
						one at a time
					</td>
					<td class="plus">
						multiple
					</td>
				</tr><tr>
					<td class="feature">
						Friends
					</td>
					<td class="free">
						250
					</td>
					<td class="plus">
						1,000
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Profile Skins
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Recent Visitors
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Fewer Ads
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Spotlight
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Visit Anonymously
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td class="feature">
						Sent Message Status
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr class="alt_table_row">
					<td class="feature">
						Create a User Forum
					</td>
					<td class="free">
						-
					</td>
					<td class="plus">
						Yes
					</td>
				</tr><tr>
					<td colspan="3" class="much_more">
						<a href="plus_more_features">... and much more</a>
					</td>
				</tr>
				</table>
				
				All prices on the site are quoted in Canadian dollars.	
			</div>
			
			<div class="right_column">
			
				<div class="header">
					BUY PLUS NOW<br />
					<span>Select payment method:</span>
				</div>
				
				<div class="payment_method_container">
					<a href="#"><img src="#{$site.static_files_url}/mockups/plus/1_Mobile_max.png" /></a>
					<div class="expanded">
						<input type="text" class="username mobile" value="Username" />
						<div class="mobile_amount">
							2 Weeks ($3.00)
						</div>
						<br class="clear" />
						<div class="total_checkout mobile_checkout">
							<t:button>Buy Now</t:button>
						</div>
						<br class="clear" />
						You can buy PLUS by texting a pin from your mobile phone and charging it to your cellphone bill.  No credit card required.<br />
						<img src="#{$site.static_files_url}/mockups/plus/paypin.png" />
					</div>
				</div>
				
				<div class="payment_method_container">
					<a href="#"><img src="#{$site.static_files_url}/mockups/plus/2_Land_max.png" /></a>
					<div class="expanded">
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
						</select><br />
						
						<a href="#" class="add_user">+ Add a User</a>
						<div class="total_checkout">
							Total: $0<br />
							<div><t:button>Buy Now</t:button></div>
						</div>
						<br class="clear" />
						You can buy PLUS by simply calling a number from your land line and charging it to your bill.  No credit card required.<br />
						<img src="#{$site.static_files_url}/mockups/plus/paypin.png" />
					</div>
				</div>
				
				<div class="payment_method_container">
					<a href="#"><img src="#{$site.static_files_url}/mockups/plus/3_INTERAC_max.png" /></a>
					<div class="expanded">
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						
						<a href="#" class="add_user">+ Add a User</a>
						<div class="total_checkout">
							Total: $0<br />
							<div><t:button>Buy Now</t:button></div>
						</div>
						<br class="clear" />
						The INTERAC Online service allows you to buy PLUS using your online banking with RBC, TD-CanadaTrust, Scotiabank, or Bank of Montreal.<br />
						<a href="#">Learn more</a>.<br />
						<img src="#{$site.static_files_url}/mockups/plus/interac.png" />
					</div>
				</div>
				
				<div class="payment_method_container">
					<a href="#"><img src="#{$site.static_files_url}/mockups/plus/4_Credit_max.png" /></a>
					<div class="expanded">
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						
						<a href="#" class="add_user">+ Add a User</a>
						<div class="total_checkout">
							Total: $0<br />
							<div><t:button>Buy Now</t:button></div>
						</div>
						<br class="clear" />
						You can buy PLUS with Visa or Mastercard.  Keep in mind,&#160;<i>all</i>&#160;fraud will be caught.<br />
						<img src="#{$site.static_files_url}/mockups/plus/creditcard.png" />
					</div>
				</div>
				
				<div class="payment_method_container">
					<a href="#"><img src="#{$site.static_files_url}/mockups/plus/5_Mail_max.png" /></a>
					<div class="expanded">
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						
						<a href="#" class="add_user">+ Add a User</a>
						<div class="total_checkout">
							Total: $0<br />
							<span class="gst">(GST included)</span><br />
							<div><t:button>Buy Now</t:button></div>
						</div>
						<br class="clear" />
						Cheque, Money Order, and paper cash are accepted.  Please allow up to 2 weeks for delivery.
					</div>
				</div>
				
				<div class="header header_padding">
					PLUS PIN<br />
					<span>Enter the pin on your voucher to redeem your PLUS:</span>
				</div>
				
				<div class="activate_container">
					<div id="pluspin_voucher">
						<div id="pin_0">
							<input class="voucher" type="text" id="secret_0" value=""
							 name="pins" minion_name="plus:pluspin:pin" />
							<input type="hidden" name="pin_values" id="pin_value_0"
							 value="0" minion_name="plus:plus:pluspin_value" />
							<div class="buy_voucher">
								<t:button minion_name="plus:plus:buy_voucher">
									Activate</t:button>
							</div>
						</div>
					</div>

					<input type="text" class="pin" />
					<div class="addlinks_info">
						<a href="#" class="add">+ Add a PIN</a>
						<div>
							$X Amount
						</div>
						<br class="clear" />
					</div>
					<div class="usernames_amounts">
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						<input type="text" class="username" value="Username" />
						<select>
							<option selected="selected">Amount</option>
							<option>1 Month ($5.00)</option>
							<option>2 Months ($10.00)</option>
							<option>3 Months ($15.00)</option>
							<option>6 Months ($20.00)</option>
							<option>1 Year ($30.00)</option>
						</select><br />
						<a href="#" class="add_user">+ Add a User</a>
						<div class="total_checkout">
							Total: $0<br />
							<div><t:button>Activate</t:button></div>
						</div>
						<br class="clear" />
					</div>
				</div>
				
				<a href="#"><img src="#{$site.static_files_url}/mockups/plus/banner_placeholder.gif" class="header_padding" /></a>
				
			</div>
			
			<br class="clear" />
			
		</div>
		
		<img src="#{$site.static_files_url}/mockups/plus/BackgroundBottom.png" />
		
	</div>
</div>