<div id="pollmockup_edit_container">
	<div class="header">
    	CREATE A POLL
    </div>
	<t:button>Done</t:button>
	<br class="clear" />
	
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="label question">
			Question:
		</td>
		<td class="input question">
			<input type="text" />
		</td>
	</tr><tr>
		<td class="label">
			Answers:
		</td>
		<td class="input">
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<a href="#" class="add_row">+ Add a row</a><br />
			<span class="warning">Blank rows will be ignored.</span>
		</td>
	</tr>
	</table>
</div>