<div id="pollmockup_view_container">
	
	<div class="block_container poll_right_column">
		<div class="block_title">
			POLL
		</div>
		<div class="question">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, maecenas tempor magna eget lacus. Donec diam ligula, suscipit rhoncus?
		</div>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Suspendisse at diam eu nunc congue cursus, class aptent ligula.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Taciti sociosqu ad litora torquent per conubia.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Integer ipsum ipsum.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Aliquam ipsum quam, tempor eget, porta at, ullamcorper.  tiam urna nunc, malesuada cursus, tincidunt et, pharetra et, tellus.
			</td>
		</tr>
		</table>
		<t:button>Vote</t:button>
		<a href="#" class="see_results">Skip to results</a>
		<div class="number_of_votes">
			(37 votes)
		</div>
		<a href="#" class="report">Report</a>
		<br class="clear" />
	</div>
	
	
	<div class="block_container poll_left_column">
		<div class="block_title">
			POLL
		</div>
		<div class="question">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, maecenas tempor magna eget lacus. Donec diam ligula, suscipit rhoncus?
		</div>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Suspendisse at diam eu nunc congue cursus, class aptent ligula.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Taciti sociosqu ad litora torquent per conubia.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Integer ipsum ipsum.
			</td>
		</tr><tr>
			<td class="radio_button"><input type="radio" name="vote" /></td>
			<td class="answer_option">
				Aliquam ipsum quam, tempor eget, porta at, ullamcorper.  tiam urna nunc, malesuada cursus, tincidunt et, pharetra et, tellus.
			</td>
		</tr>
		</table>
		<t:button>Vote</t:button>
		<a href="#" class="see_results">Skip to results</a>
		<div class="number_of_votes">
			(37 votes)
		</div>
		<a href="#" class="report">Report</a>
		<br class="clear" />
	</div>
	
</div>