<div class="mockup_container" id="userguide">

	<div class="block_container">
        <div class="page_title">
            User Guide - Gallery<br />
        </div>
		
		<br />
        <div class="topics">
			<div class="topics_left">
				<li><a href="#guide_galview">Viewing Galleries</a></li>
				<li><a href="#guide_galmanager">Gallery Manager</a></li>
			</div>
			<br class="clear" />
		</div>
		
		<div class="block_title" id="guide_galview">
			VIEWING GALLERIES
		</div>
		To view a member's gallery, select a specific album of photos available from the main Gallery page.  When viewing a gallery, you can choose to browse through the photos in either of two ways:<br />
		<br />
		<li><span class="bullet">Full View</span>: The page displays the first photo in the album and allows you to navigate back and forth through the list via different means; this mode also gives you access to different photo functions (discussed below) as well as the ability to leave comments on pictures. This is the default viewing method.  You can also select this viewing method by clicking on the&nbsp;<img src="/static/1/files/mockups/userguides/icon_view_full.gif" width="13" height="8" />&nbsp;icon at the top of the page.</li>
		<li><span class="bullet">Thumbnail View</span>: The page displays the entire list of photos in the album as thumbnails on one page.  Clicking on any of these thumbnails will take you to that respective image in Full View.  You can select this viewing method by clicking on the&nbsp;<img src="/static/1/files/mockups/userguides/icon_view_thumbs.gif" width="13" height="8" />&nbsp;icon at the top of the page.</li>
		<br />
		To browse through a gallery (in Full View), you can either flip through different images one-by-one by hovering your mouse over the current photo and clicking the + and - navigation icons which appear on either side; or you can use the gallery strip located underneath to scroll back and forth through the album more efficiently.<br />
		<br />
		Located below the current photo you're viewing there is the image description/name, as well as three different functions:<br />
		<br />
		<li><span class="bullet">View Full Size</span>: Displays the image at its actual size.</li>
		<li><span class="bullet">Share This Picture</span>: Provides you with the URL of the current gallery image.</li>
		<li><span class="bullet">Report Picture</span>: If an image features objectionable content, this allows you to log a complaint to the Nexopia Abuse Team.</li>
			
		<div class="block_title" id="guide_galmanager">
			GALLERY MANAGER
		</div>
		We've combined both the former Gallery and Picture managers into one complete Gallery Management tool where you can have full control over all of your albums as well as your profile pictures in one convenient spot.  To upload new or edit any existing pictures, simply click the Manage button located on the top right hand corner of any of your gallery pages.<br />
		<br />
		To create a new gallery, select Create Gallery from the top right corner of the manager.  This will bring up a box where you can enter a name and description for your gallery, as well the desired privacy level of that certain gallery.  When you're finished, click Create.  To cancel creating a new gallery, click the Cancel link.<br />
		<br />
		To upload photos to a gallery, select Upload Images from the top right corner of the manager.  From the uploading page, click on the Browse button and select an image (you may upload multiple pictures at once by selecting more than one file from a folder.)  As you select photos, they'll appear in a list directly underneath where you can edit the descriptions if you would like (if you choose not to edit your pictures descriptions now, you can always change them later.)  Choose which gallery you would like to upload the selected pictures to, select the checkbox to agree to Nexopia's Terms of Use, and then press Upload.  When your pictures have finished uploading a link will appear that will take you directly to the manager for that specific gallery.<br />
		<br />
		To edit a gallery, select which ever one you would like to manage.  From here you will be able to edit your gallery title, description, and privacy level.<br />
		<br />
		To edit a photo, hover your mouse over the desired picture and an option bar will slide down from the top of the photo.  Click the Edit option.  A window will appear where you can choose to edit your photo's description, move the photo to another gallery, crop the image, set it as the cover of the album, or delete it from the gallery.  When you are finished, press the Done button.<br />
		<br />
		To assign a photo of yourself as a profile picture, simply drag the desired photo from a gallery up into an empty space in the Profile Pictures strip along the top of the manager page.  If you wish to replace a current profile picture with a different image, drag the new photo and drop it overtop the old one.  To mark any of your profile pictures as Sign Pictures, hover over the photo and select Mark as Sign Pic.<br />
		<br />
		<b>NOTE</b>: With the arrival of our new gallery system, you no longer have to wait for your profile pictures to be moderated and approved!  Nexopia will be now practice post-modding instead of pre-modding, which means Pic Mods will still help decide which pictures are accepted and denied, but it will be&nbsp;<i>after</i>&nbsp;you upload them.
	
	</div>
	
</div>