<div class="mockup_container" id="userguide">

	<div class="block_container">
        <div class="page_title">
            User Guide - Profiles<br />
        </div>
		
		
        <div class="topics">
			<div class="topics_right">
				<li><a href="#guide_connections">Connections</a></li>
				<li><a href="#guide_blog">Latest Blog Entry</a></li>
				<li><a href="#guide_galleries">Recent Galleries</a></li>
				<li><a href="#guide_strip">Gallery Strip</a></li>
				<li><a href="#guide_comments">Comments</a></li>
				<li><a href="#guide_freeform">Freeform</a></li>
				<li><a href="#guide_edit">Editing</a></li>
				<li><a href="#guide_skin">Skinning</a></li>
			</div>
			<div class="topics_left">
				<li><a href="#guide_utility">Utility Box</a></li>
				<li><a href="#guide_profile_pic">Profile Picture(s)</a></li>
				<li><a href="#guide_tagline">Tag Line</a></li>
				<li><a href="#guide_friends">Friends</a></li>
				<li><a href="#guide_vitals">Vitals</a></li>
				<li><a href="#guide_basics">Basics</a></li>
				<li><a href="#guide_contact">Contact</a></li>
				<li><a href="#guide_interests">Interests</a></li>
			</div>
			<br class="clear" />
		</div>
		
		<div class="block_title" id="guide_utility">
			UTILITY BOX
		</div>
		The Utility block shows information about a member such as their status, profile hits, and whether they're Verified or Plus members. Your basic member-to-member activities are also performed here, such as:<br />
		<br />
		<li><span class="bullet">Add as Friend</span>: Adds the respective member to your Friends List. Once added, the link will change to read Remove Friend which will in turn allow you to delete the member from your Friends List if desired.</li>
		<li><span class="bullet">Send Message</span>: Allows you to send a private message to the member.</li>
		<li><span class="bullet">Comment</span>: Brings you to the member's comment block where you can leave public messages or notes for them.</li>
		<li><span class="bullet">Ignore User</span>: Blocks another member from messaging you and leaving you comments.</li>
		<li><span class="bullet">Report Abuse</span>: If a member is harassing you, or they have objectionable content on their profile, this allows you to send a complaint to the Nexopia Abuse Team.</li>
		<br />
		This is a static block, meaning that it cannot be removed from your profile or be moved to a different position on the page.
		
		<div class="block_title" id="guide_profile_pic">
			PROFILE PICTURE(S)
		</div>
		Displays up to 8 or (12 if you have Plus) personal profile pictures and descriptions that can be scrolled through by clicking the + or - icons.  Profile pictures must follow&nbsp;<a href="http://www.nexopia.com/pages.php?id=54">these guidelines</a>.<br />
		<br />
		Profile pictures are controlled through the Gallery Manager, which is accessable by clicking the Manage button located on the top right hand corner of any of your gallery pages.  To add a new profile picture, simply drag any desired photo from one of your galleries up into an empty space in the Profile Pictures strip along the top of the manager.  If you wish to replace a current profile picture with a different image, drag the new photo and drop it overtop the old one.  For more information on how to use the Gallery Manager, refer here.<br />
		<br />
		This is a static block, meaning that it cannot be removed from your profile or be moved to a different position on the page.
		
		<div class="block_title" id="guide_tagline">
			TAG LINE
		</div>
		Who are you?  What do you stand for?  What color socks do you wear?  Express yourself with your own personal tagline and let everyone know what you're all about.  Your personal tag line also shows up alongside your profile in the Nexopia user search.<br />
		<br />
		To edit your tag line, enter your profile's editing mode and click the Edit button on the block.  In the popup box, create your new tag line (note that BBCode is not allowed in tag lines.)  If you leave your tag line blank then it will not show up on your profile.<br />
		<br />
		This is a static block, meaning that it cannot be moved to a different position on the page.
		
		<div class="block_title" id="guide_friends">
			FRIENDS
		</div>
		This block lists other members you've friended on Nexopia, including their profile image, age, and gender.  You can have up to 250 people in all on your friends list, or 1,000 if you're a Plus member; however, your Friends List only displays 10 friends at a time and allows you to scroll conveniently through your list so it takes up less room on your page.  For a complete and more detailed list of your friends, click the View All link to take you to your Friends page.<br />
		<br />
		To add another member to your Friends List, go to their profile and click on the Add as Friend button in their Utility block.  Once added, the link will change to read Remove Friend which will in turn allow you to delete the user from your Friends List if desired.<br />
		<br />
		From this block you can also use the quicklinks to the side of each friend:<br />
		<br />
		<li><span class="bullet">Add as Friend</span>: Adds the respective member to your Friends List.  Once added, the icon will turn from a + sign to a checkmark to indicate that you are friends with that user.</li>
		<li><span class="bullet">Send Message</span>: Allows you to send a private message to the member.</li>
		<li><span class="bullet">Comment</span>: Brings you to the member's comment block where you can leave public messages or notes for them.</li>
		<br />
		This is a static block, meaning that it cannot be removed from your profile or be moved to a different position on the page.
		
		<div class="block_title" id="guide_vitals">
			VITALS
		</div>
		Vitals are a set of personal stats that include information like your name, age, gender, and location. These stats are used as searchable items in the user search which makes it easier to find your friends, as well as meet new people with similar interests.<br />
		<br />
		To edit your Vitals, enter your profile's editing mode and click the Edit button on the block and make your changes in the popup box that appears, and then click Save.<br />
		<br />
		This is a static block, meaning that it cannot be removed from your profile or be moved to a different position on the page.
		
		<div class="block_title" id="guide_basics">
			BASICS
		</div>
		These include a list of more detailed personal stats that help tell other members about yourself.  Things like height, weight, and current dating situation are included in the Basics block; you can also choose to display information such as your account creation date and when the last time was that you updated your profile.<br />
		<br />
		To edit your Basics, enter your profile's editing mode and click the Edit button on the block and make your changes in the popup box that appears, and then click Save.<br />
		<br />
		This is a static block, meaning that it cannot be removed from your profile.
		
		<div class="block_title" id="guide_contact">
			CONTACT
		</div>
		In the Contact block you can display your instant messaging accounts on MSN, AIM, Yahoo, or ICQ.<br />
		<br />
		To edit your contact information, enter your profile's editing mode and click the Edit button on the block and make your changes in the popup box that appears, and then click Save.<br />
		<br />
		If you choose, you may remove the Contact block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_interests">
			INTERESTS
		</div>
		This section lets you choose some of your interests from different categories to display on your profile.  These interests are also used as searchable items in the user search which makes it easier to find your friends, as well as meet new people with similar interests.<br />
		<br />
		To edit your interest list, enter your profile's editing mode and click the Edit button on the block.  In the popup box, select/deselect the interests you want from the available list, and then click Save.<br />
		<br />
		If you choose, you may remove the Interests block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_connections">
			CONNECTIONS
		</div>
		Connections are Nexopia's new way to letting people see how you're connected to the people around you, anything from schools to jobs to clubs.<br />
		<br />
		To add a new Connection, go to the editing portion of the Connection block and click Create New Connection.  Select the type you'd like to create, the location of it, and then the name.  You then set the privacy level of that certain Connection, and the time you were a part of that specific school, team, or group; then click Save.<br />
		<br />
		When a Connection has been made, it'll be displayed in the list on the right of the editing window.  If you wish to edit or delete a Connection you've already made, hover over it in the list and click on either the Edit or Delete (X) button.<br />
		<br />
		If you choose, you may remove the Connections block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_blog">
			LATEST BLOG ENTRY
		</div>
		If you keep a Nexopia Blog, you can choose to display a preview of your latest blog entry in a block on your profile.  To view the entire blog, click the Read More link.<br />
		<br />
		If you choose, you may remove the Latest Blog Entry block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_galleries">
			RECENT GALLERIES
		</div>
		Up to 4 of your most recently created galleries can be displayed in this block for quick access.  To see all of a your own or another member's galleries, either click on the View All link on the block or the Galleries tab at the top of the profile.  For more information on Galleries, refer here.<br />
		<br />
		If you choose, you may remove the Recent Gallery block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_strip">
			GALLERY STRIP
		</div>
		If you would like, you can choose to display a filmstrip of one of your galleries for easy viewing on your profile page.  Just browse through the strip using the left and right arrows.  You can place up to 5 different Gallery Strips at a time on your profile.<br />
		<br />
		To edit a Gallery Strip, enter your profile's editing mode and click the Edit button on the block.  In the popup box, select which gallery you'd like to display in the strip, and then click Save.  For more information on Galleries, refer here.<br />
		<br />
		If you choose, you may remove the Gallery Strip block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.
		
		<div class="block_title" id="guide_comments">
			COMMENTS
		</div>
		The Comments section is where other members can leave public messages on your profile.  Up to 5 comments can be displayed on the front page of your profile; to view all of the comments, click the View All link at the top of the block.<br />
		<br />
		To leave a comment for another member, write your message in the editor; you may customize your message with text formatting, images, links, or emoticons by use of the various BB Code tabs along the top of the editor.  For more information on BB Code, refer to&nbsp;<a href="http://www.nexopia.com/help/Profiles#">this page</a>.<br />
		<br />
		To delete a comment left on your profile or one that you left on someone else's profile, you can either delete them individually by clicking the delete (X) button on the top right hand corner; or you can go to your Comments page and use the checkboxes in the bottom left of each comment to select multiple entries at a time and then press the Delete button located at the bottom of the page.<br />
		<br />
		Along the footer of each comment are also buttons for certain functions:<br />
		<br />
		<li><span class="bullet">Reply</span>: Makes a comment in direct response to the comment which you are choosing to reply to.</li>
		<li><span class="bullet">Conversation</span>: Shows you a conversation of past comment messages with the respective member.</li>
		<li><span class="bullet">Message</span>: Allows you to send a private message to the member.</li>
		<li><span class="bullet">Ignore User</span>: Blocks another member from messaging you and leaving you comments.</li>
		<li><span class="bullet">Top</span>: Takes you to the top of the current page.</li>
		<br />
		If you choose, you may remove the Comment block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add it to your profile, enter the Edit mode and select it from the Add New Block dropdown. (Comments you have received are not deleted when you remove the block -- if you decide to add it again, all of your old comments will still be preserved.)
		
		<div class="block_title" id="guide_freeform">
			FREEFORM
		</div>
		This are blocks you can add to your profile which you can put anything you want in.  You can add up to 5 Freeform blocks on you profile and they can contain whatever you want, as long as they are no longer than 20,000 characters in length and are within the &nbsp;<a href="http://www.nexopia.com/pages.php?id=19">Nexopia Content Rules</a>.<br />
		<br />
		When you add or are editing a Freeform block, simply type the title you would like and use the editor below to enter content.  You may customize Freeform blocks with text formatting, images, links, or emoticons by use of the various BB Code tabs along the top of the editor.  For more information on BB Code, refer to&nbsp;<a href="http://www.nexopia.com/help/Profiles#">this page</a>.<br />
		<br />
		If you choose, you may remove a Freeform block from your profile.  To do so, enter the Edit mode on your profile and click the Remove button on the block.  To add a new Freeform block to your profile, enter the Edit mode and select it from the Add New Block dropdown.
		
		<div class="block_title" id="guide_edit">
			EDITING YOUR PROFILE
		</div>
		We've done some reorganizing and now editing content on your new Nexopia profile is wickedly simple and lightening quick.  To change any content on your profile, simply click the Edit button located on the top right hand corner of your profile.  While in Edit mode, you can add new, remove, or edit different blocks; as well as have the ability to change their position on the profile page.<br />
		<br />
		<b>NOTE</b>: There are certain parts of your profile which are considered "static blocks."  A static block is a special block on profiles which may not be able to be edited, removed, or have it's position changed.  This is usually because these specific areas are manditory blocks that must be visible on all profiles, and in the same position for quick reference for other members.<br />
		<br />
		To add a new block to your profile, select one from the Add New Block dropdown menu at the top of your page.  A editing area will appear where you can enter or choose content; when you are finished make sure to choose your desired privacy setting from the menu and then simply click Save.<br />
		<br />
		To edit or modify a block, press the Edit button on the top of the block and a popup will appear.  When you've finished making your changes, select Save.<br />
		<br />
		To delete a block, press the Remove button at the top of the desired block and it will be deleted.<br />
		<br />
		You can also move and reorder blocks of information on your profile (with the exception of static blocks.)  To change the position of some content, simply click and drag the desired block to its new location and then release; areas where content is allowed to be placed will be indicated by a dotted, white border when you hover near it.<br />
		<br />
		After you finish editing your profile, select Done in the top right hand corner of your page and you will be taken back to your regular profile viewing mode.
		
		<div class="block_title" id="guide_skin">
			SKINNING YOUR PROFILE
		</div>
		If you're a&nbsp;<a href="http://www.nexopia.com/plus">Nexopia Plus</a>&nbsp;member, you can pimp out your profile with personally customized skins.  To change the look of your profile, click on the Skin button located at the top right hand corner of your profile.<br />
		<br />
		Once you're in the skin editor there are four different blocks to be aware of:<br />
		<br />
		<li><span class="bullet">Control</span>: This is where you will find your basic control functions for your skins.  From here you can create a new skin; or edit, duplicate, or delete existing skins.</li>
		<li><span class="bullet">Color Picker</span>: This is where you do the actual editing of your skin.  The areas available that you can skin are separated into four different categories or "modules": Primary, Secondary, Utility, and Page.  Clicking on each module title will expand it so you can edit that section.  To change a color for a certain item, select that item from the list and you can either use the color picker or type in a Hex color code in the corresponding box.  (For more information on Hex codes,&nbsp;<a href="http://www.w3schools.com/html/html_colornames.asp" target="_blank">refer here</a>.)</li>
		<li><span class="bullet">Preview</span>: This window displays an example profile where you can test your skins.  When you select an area or module to edit with the color picker, the Preview window will automatically focus in on the area you're editing and update to show you how the changes will appear.  You may expand the view of the profile preview by hovering your mouse over the bottom right corner of the Preview window -- a magnifying glass will appear and when clicked the window will expand to let you see your whole profile.  You can also drag the preview image around to view other areas.</li>
		<li><span class="bullet">Apply Skins</span>: When you've finished editing a skin, this block is where you assign which skins to use for which of your personal pages.  You can use different skins for each page if you want by selecting one from the dropdown menus, or you can click Apply to All to assign the same skin to all of your pages.</li>
		<br />
		To create a new skin, select Create New from the Control block.  Give your new skin a name and choose your desired colors, and then click Save.  After that, apply your skin to the pages you'd like, and then click Save.<br />
		<br />
		To edit an already existing skin, select the desired skin from the dropdown at the top of your page and click Edit.  When you are finished editing your skin's color and/or name, click Save.  After that, apply your skin as usual to the pages you'd like, and then click Save.<br />
		<br />
		To duplicate an already existing skin, select it from the dropdown at the top of your page and click Duplicate.  This will create an exact copy of the skin that you can slightly alter and then save as something different if you'd like.<br />
		<br />
		To delete a skin, select it from the dropdown at the top of your page and click Delete.<br />
		<br />
		To create or change the name of a skin, either choose Create New or select an existing skin and choose Edit.  Click on the title at the top of the Color Picker block and enter in a new name, and then click Save.<br />
		<br />
		After you finish skinning your profile, select Done in the top right hand corner of your page and you will be taken back to your regular profile viewing mode.
	</div>
	
</div>