.profile_right_column
{
	& div#interests_profile_block
	{
		& td.interests
		{
			width: 348px;
		}
	}
}

div#interests_profile_block {
	margin-bottom: -6px;
	
	& table
	{
		width: 100%;
		
		& *
		{
			font-size: 11px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
		}
	}
	
	& .category {
		float: left;
		width: 150px;
		font-weight: bold;
	}
	
	& .interests {
		padding-bottom: 6px;
	}
}

div#interests_edit_block {
	& ul {
		list-style: none;
		padding: 0px;
		text-align: left;
		
		& li {
			margin-top: 1px;
		}
	}
	& div.column {
		float: left;
		width: 33%;
	}
}