/* CSS Document */

.ruby_content .user_area_wrapper
{
	padding: 4px 4px 8px 4px;
	ext-background: @section_background_color;

	& img
	{
		border-style: none;
	}
}


#profile
{
	ext-background: @section_background_color;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5d5d5d;
	margin: 0px;
	text-align: center;
	& *
	{
		text-align: left;	
	}
	
	& font
	{
		text-align: inherit;
	}
	
	& td.profile_left_column, td.profile_right_column
	{
		background-color: @section_gutter_color;
	}
	
	& center
	{
		text-align: center;
	}
	
	& .drag_block
	{
		border: 2px solid @primary_block_text_color !important;
	}
	
	& .primary_block
	{
		background-color: @primary_block_background_color;
		color: @primary_block_text_color;
		padding: 6px 6px 12px 6px;
		
		& table
		{
			color: inherit;
		}
		
		& .block_title
		{
			color: @primary_block_header_text_color;	
			font-weight: bold;
			font-family: $header_font_family;
			font-size: 14px;
			letter-spacing: 0px;
			padding-bottom: 6px;
		}
		
		& .header_accessory
		{
			display: inline;
			float: right;
			margin-top: 2px;
			font-size: 10px;
			font-family: Verdana, Helvetica, Arial, sans-serif;
			
			& a {
				font-size: 10px;
			}
		}
		
		& a
		{
			font-family: Verdana, Helvetica, Arial, sans-serif;
			color: @primary_block_link_color;
			
			&:hover
			{
				font-family: Verdana, Helvetica, Arial, sans-serif;
				color: @primary_block_link_hover_color;
			}
			
			& img
			{
				border: none;
			}
		}
		
		& .custom_color_icon
		{
			color: @primary_block_icon_color;
		}
		& .color_icon
		{
			color: @primary_block_icon_color;
		}
		
		& .secondary_block
		{
			color: @secondary_block_text_color;
			background-color: @secondary_block_background_color;
			
			&.block_hover:hover
			{
				background-color: @secondary_block_background_hover_color;
			}
			
			& a
			{
				color: @secondary_block_link_color;
			}
			
			& a:hover
			{
				color: @secondary_block_link_hover_color;
			}
			& .custom_color_icon
			{
				color: @secondary_block_icon_color;
			}
			& .color_icon
			{
				color: @secondary_block_icon_color;
			}
		}
	}
	
	& .profile_container
	{
		margin-left: auto;
		margin-right: auto;
		width: 750px;
		margin-bottom: 6px;
		
		& td, div
		{
			vertical-align: top;
		}
		
		& .profile_left_column
		{
			width: 234px;
			padding-right: 6px;
			
			& .primary_block
			{
				width: 222px;
			}
		}
		
		& .profile_right_column
		{
			width: 510px;
			
			& .primary_block
			{
				width: 498px;
			}
		}
		
		& .block_container
		{
			margin: 6px 0px 0px 0px;
			overflow: hidden;
		}
		
		& .block_container_navigation
		{
			padding: 6px 6px 6px 6px;
		}
	}
}

#profile, #profile_edit
{
	& #profile_header
	{
		margin-left: auto;
		margin-right: auto;
		width: 750px;
		background-color: @primary_block_background_color;
		color: @primary_block_header_text_color;
		font-family: Verdana, Helvetica, Arial, sans-serif;

		& .header_content
		{
			/* Set an explicit width to make IE behave. */
			width: 738px;
			padding: 6px 6px 6px 6px;
		}

		& #new_content_menu
		{
			width: 205px;
		}

		& .editor_title
		{	
			padding: 0px;
			margin: 0px;
			padding-bottom: 6px;
			font-size: 14px;

			text-transform: uppercase;

			font-weight: bold;
			width: 50%;
		}

		
		& .profile_navigation
		{
			float: left;
			
			& .current_page
			{
				font-weight: bold;
			}
		}
		
		& .profile_nav_secondary
		{
			color: @primary_block_text_color;
			
			& a
			{
				float: right;
				font-size: 12px;
				
				color: @primary_block_link_color;
				text-transform: uppercase;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				
				&:hover
				{
					color: @primary_block_link_hover_color;
				}
			}
		}
		
		& table tr td
		{
			border-right: 1px solid @primary_block_text_color;
		}
		
		& table .last_column
		{
			border-right: none;
		}
		
		& .button_bar
		{
			background-color: transparent;
		}
	}
}


#profile_edit
{
	& .primary_block_no_wrapper
	{
		background-color: @primary_block_background_color;

		& .block_title
		{
			color: @primary_block_header_text_color;	
			font-weight: bold;
			font-family: $header_font_family;
			font-size: 14px;
			letter-spacing: 0px;
			padding-bottom: 6px;
			padding-top: 6px;
			padding-left: 6px;
		}
	}
}

.abuse_section
{
	padding: 8px;
	text-align: left;
	margin-top: 20px;

	& .field_name
	{
		font-weight: bold;
		font-size: 11px;
	}	

	& textarea
	{
		height: 200px;
		width: 100%;
	}
	
	& #abuse_log_subject
	{
		width: 300px;
	}
	
	& div.reason_selector
	{
		float: left; 
		margin-right: 4px;
	}
	
	& div.message_entry
	{
		margin-top: 6px;
	}
}


#drop_spot_border
{
	border-color: @primary_block_background_color;
}


.edit_block
{
	padding: 8px;
	overflow: hidden;
	
	& .edit_title 
	{
		font-weight: bold;
		text-align: left;
		font-family: $header_font_family;
		font-size: 14px;
		letter-spacing: 0px;
	}
}

#profile_request_login, #profile_view_blocked
{
	width: 738px;
	margin-left: auto;
	margin-right: auto;
	background-color: @primary_block_background_color;
	color: @primary_block_text_color;
	font-size: 11px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-top: 6px;
	padding: 6px;
	
	& .header
	{
		font-size: 14px;
		color: @primary_block_header_color;
	}
	
	& a
	{
		font-size: 11px;
		font-family: Verdana, Helvetica, Arial, sans-serif;
	}
}

.stat_table 
{
 & td {
	padding-top: 2px;
	}

	& .vitals_name {
		font-weight: bold;
		width: 150px;
	}
}

.column_bottom_marker {
	height: 10px;
}

br.clear {
    clear: both;
}
