.devtaskman_content_container h1
{
	font-size: 14px;
}

.devtaskman_content_container body
{
	font-size: 11px;
}

.toggle_description
{
	padding: 4px;
	background-color: LightGoldenRodYellow;
	border-style: solid;
	border-width: 1px
}
/*
.devtaskman_content_container td
{
	text-align: left;
	font-size: 11px;
	padding: 4px;
}
*/
.devtaskman_content_container a
{
	color: DarkRed;
}

.devtaskman_content_container a:hover
{
	color: SlateGrey;
}

.devtaskman_content_container .summary_panel_table_div
{
	width: 300px;
	font-size: 11px;
}

.devtaskman_content_container .summary_panel_table_div_container
{
	border-width: 1px;
	border-style: solid;
	border-color: black;
}


.devtaskman_content_container .summary_panel_container
{
	float: left;
	position: relative;
}


.devtaskman_content_container .detail_panel
{
	float: left;
	position: relative;
	margin-left: 10px;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 600px;
	padding: 6px;
}

.devtaskman_content_container .row
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 700;
}

.devtaskman_content_container .row_even
{
	background-color: LightGoldenRodYellow;
	color: black;
}

.devtaskman_content_container .row_odd
{
	background-color: white;
	color: black;
}

.devtaskman_content_container .row_selected
{
	background-color: #800000;
	color: white;
}

.devtaskman_content_container input.text
{
	font-size: 11px;
	width: 400px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.devtaskman_content_container textarea
{
	font-size: 11px;
	width: 400px;
	height: 40px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.devtaskman_content_container
{
	padding: 20px;
}

.devtaskman_content_container .button
{
	padding: 2px;
	border-width: 1px;
	border-style: outset;
	background-color: #800000;
	color: white;
	width: 80px;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	float: left;
	position: relative;
	letter-spacing: 1px;
}

.devtaskman_content_container .button_bar
{
	margin-top: 10px;
}

#revert_button
{
	margin-left: 4px;
}