<table cellpadding="3">
	<t:for t:id="queue_items" t:iter="item" t:index="index">
		<tr><td class="body">
			<a name="item{index}"/>
			{item.poll.question} (<a href="{item.add_poll_uri}" class="body" target="_new">add to front page</a>)
		</td></tr>
		<tr><td class="body">
			<ol>
				<li t:id="item.poll.answers" t:iter="answer">{answer.answer}</li>
			</ol>
		</td></tr>
		<tr>
			<td class="body">
				<input name="check[{item.id}]" id="checkidy{item.id}" value="y" onfocus="this.checked=true;setTimeout('jump({index+1})',50);" type="radio"/>
					<label for="checkidy{item.id}" class="side">
						<b>Keep</b>
					</label><br/>
				<input name="check[{item.id}]" id="checkidn{item.id}" value="n" onfocus="this.checked=true;setTimeout('jump({index+1})',50);" type="radio"/>
					<label for="checkidn{item.id}" class="side">
						<b>Delete</b>
					</label>
			</td>
		</tr>
		<tr><td>&nbsp;<br/>&nbsp;</td></tr>
	</t:for>
</table>