<div class="userpoll_create edit_block">
	<div class="header">
    	CREATE A POLL
    </div>
	<br class="clear" />
	
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="label question secondary_block block_regular">
			Question:
		</td>
		<td class="input question">
			<input type="text" id="question" name="question" />
		</td>
	</tr><tr>
		<td class="label">
			Answers:
		</td>
		<td class="input">
			<input type="text" id="ans_1" name="ans_1" class="show" />
			<input type="text" id="ans_2" name="ans_2" class="show" />
			<input type="text" id="ans_3" name="ans_3" class="show" />
			<input type="text" id="ans_4" name="ans_4" class="hide" />
			<input type="text" id="ans_5" name="ans_5" class="hide" />
			<input type="text" id="ans_6" name="ans_6" class="hide" />
			<input type="text" id="ans_7" name="ans_7" class="hide" />
			<input type="text" id="ans_8" name="ans_8" class="hide" />
			<input type="text" id="ans_9" name="ans_9" class="hide" />
			<input type="text" id="ans_10" name="ans_10" class="hide" />
			<a href="#add_row" id="add_row" minion_name="polls:poll_create:add_row"
				class="add_row">
				+ Add a row</a><br />
			<span class="warning">Blank rows will be ignored.</span>
		</td>
	</tr>
	</table>
</div>
